<ik-grid *ngIf="dataloader" basePath="children" [dataLoader]="dataloader">
  <ik-card-header title="Church Groups">
    <ng-container
      *featureAccess="[Application.CHILDREN, Feature.DETAIL, Access.UPDATE]"
    >
      <ik-icon
        [icon]="editIcon"
        color="black"
        class="edit-icon"
        classOverride="icon__card-header"
        (click)="onEditIconClick()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <ik-grid-column label="Group" field="name"></ik-grid-column>
  <ik-grid-column label="ID" field="id"></ik-grid-column>
  <ik-grid-pager key="Groups" [visible]="false"></ik-grid-pager>
</ik-grid>
