<mat-form-field class="width--full" subscriptSizing="dynamic">
  <mat-label>Search</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter fruits">
    <mat-chip-row *ngFor="let search of searchTags" (removed)="remove(search)" [editable]="true">
      {{ search }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input
      id="search"
      type="search"
      name="search"
      enterkeyhint="search"
      placeholder="New Search..."
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-chip-grid>
</mat-form-field>
