<ik-header title="Update Password"><ik-header-back (back)="onCancelClick()"></ik-header-back> </ik-header>
<ng-container *ngIf="!loading; else pageLoader">
  <ik-form [formGroup]="form">
    <ik-form-field header="Current Password*">
      <input
        [type]="showCurrentPassword ? 'text' : 'password'"
        class="form-input__normal password"
        placeholder="Current Password"
        formControlName="currentPassword"
      />
      <fa-icon
        (click)="updatePasswordVisibility('currentPassword')"
        [icon]="showCurrentPassword ? 'eye-slash' : 'eye'"
        class="password-icon"
      ></fa-icon>
    </ik-form-field>

    <ik-form-field header="New Password*">
      <input
        [type]="showNewPassword ? 'text' : 'password'"
        class="form-input__normal password"
        placeholder="New Password"
        formControlName="newPassword"
      />
      <fa-icon
        (click)="updatePasswordVisibility('newPassword')"
        [icon]="showNewPassword ? 'eye-slash' : 'eye'"
        class="password-icon"
      ></fa-icon>
    </ik-form-field>

    <ik-form-field header="Confirm New Password*">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        class="form-input__normal password"
        placeholder="Confirm New Password"
        formControlName="confirmNewPassword"
      />
      <fa-icon
        (click)="updatePasswordVisibility('confirmPassword')"
        [icon]="showConfirmPassword ? 'eye-slash' : 'eye'"
        class="password-icon"
      ></fa-icon>
    </ik-form-field>
  </ik-form>
  <button class="btn btn-default btn-left" (click)="onCancelClick()">Cancel</button>
  <button class="btn btn-primary btn-right" (click)="onResetClick()" [disabled]="form.invalid || !form.dirty">
    Update Password
  </button>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
