<ng-container *ngIf="record && !loading; else pageLoader">
  <ik-header [title]="record.name">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
  </ik-header>

  <ik-form [formGroup]="form">
    <div class="row">
      <ik-form-field header="Name" class="col-md-6"
        ><input maxlength="26" class="form-input__normal" placeholder="Name" formControlName="name" />
      </ik-form-field>

      <ik-form-field header="Active Date" class="col-md-6"
        ><input type="date" class="form-input__normal" placeholder="Active Date" formControlName="activeDate" />
      </ik-form-field>
    </div>

    <div class="row">
      <ik-form-field header="Spirit Theme" class="col-md-6"
        ><input maxlength="100" class="form-input__normal" placeholder="Spirit Theme" formControlName="spiritTheme" />
      </ik-form-field>

      <ik-form-field header="Offering Amount" class="col-md-6"
        ><input
          currencyMask
          min="0.00"
          class="form-input__normal"
          placeholder="Offering Amount"
          formControlName="offeringAmount"
        />
      </ik-form-field>
    </div>

    <ik-form-field header="Offering Winners">
      <ik-multi-select formControlName="offeringWinners" [items]="vbsThemeGroups"></ik-multi-select>
    </ik-form-field>
  </ik-form>

  <button class="btn btn-default btn-left" (click)="onBackClick()">Cancel</button>
  <button class="btn btn-primary btn-right" (click)="onUpdateClick()" [disabled]="form.invalid || loading">
    Update
  </button>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
