<ik-grid [dataLoader]="dataloader" (rowClick)="onRowClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="name"></ik-grid-column>
  <ik-grid-column label="Status" field="status">
    <ng-template let-data>
      <div [ngClass]="data.status">{{ data.status }}</div>
    </ng-template>
  </ik-grid-column>
  <ik-grid-column label="Active Date" field="activeDate"></ik-grid-column>
  <ik-grid-column label="Created Date" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Records" [pageSize]="25"></ik-grid-pager>
</ik-grid>
