<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="'Snacks - ' + themeData.name"> </ik-header>
  <div class="row">
    <ik-grid class="col-xl-6" [dataLoader]="vbsThemeGroupsDataloader" (rowClick)="onGroupRowClick($event)">
      <ik-card-header-new title="VBS Groups - Allergies"> </ik-card-header-new>
      <ik-grid-column label="Group" field="group">
        <ng-template let-data>
          <div>{{ data.group | churchGroupTranslate }}</div>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Name" field="name"></ik-grid-column>
    </ik-grid>

    <ik-grid class="col-xl-6" [dataLoader]="vbsAttendanceDataloader" (rowClick)="onAttendanceRecordRowClick($event)">
      <ik-card-header-new title="Attendance Records"> </ik-card-header-new>
      <ik-grid-column label="Name" field="name"> </ik-grid-column>
      <ik-grid-column label="Status">
        <ng-template let-data>
          <div [ngClass]="data.status">{{ data.status }}</div>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Active Date">
        <ng-template let-data>
          {{ data.activeDate | date : 'longDate' }}
        </ng-template>
      </ik-grid-column>
    </ik-grid>
  </div>

  <ik-modal #attendanceDetailsModal name="attendanceDetailsModal">
    <ik-modal-header title="Attendance Record Details" type="info"></ik-modal-header>
    <ng-container *ngIf="!modalLoading; else modalLoader">
      <div class="row">
        <div class="col-6">
          <ik-card-info header="Name" [text]="activeRecord?.name"></ik-card-info>
        </div>
        <div class="col-6">
          <ik-card-info header="Active Date" [text]="activeRecord?.activeDate | date : 'MMMM d, y'"></ik-card-info>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <ik-card-info header="Spirit Theme" [text]="activeRecord?.spiritTheme"></ik-card-info>
        </div>
        <div class="col-6">
          <ik-card-info
            header="Total Children"
            [text]="!!totalRecordChildren ? totalRecordChildren : '0'"
          ></ik-card-info>
        </div>
      </div>
      <div class="row">
        <ik-form-field header="Group Counts" class="col-12">
          <div class="card-info__label-text">
            {{ 'VBS Pre-Primary: ' + (!!prePrimaryCount ? prePrimaryCount : '0') }}
          </div>
          <div class="card-info__label-text">
            {{ 'VBS Primary: ' + (!!primaryCount ? primaryCount : '0') }}
          </div>
          <div class="card-info__label-text">
            {{ 'VBS Middler: ' + (!!middlerCount ? middlerCount : '0') }}
          </div>
          <div class="card-info__label-text">
            {{ 'VBS Junior: ' + (!!juniorCount ? juniorCount : '0') }}
          </div>
        </ik-form-field>
      </div>
      <ik-modal-action-bar>
        <button actionBarRight class="btn btn-primary btn-modal" (click)="attendanceDetailsModal.close()">Okay</button>
      </ik-modal-action-bar>
    </ng-container>
  </ik-modal>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
