<ik-card>
  <ik-card-header [title]="title">
    <ng-container *ngIf="editEnabled">
      <ik-icon
        title="Edit"
        icon="pen-to-square"
        class="right pointer"
        *featureAccess="[Application.VBS, FeatureType.THEMES, Access.UPDATE]"
        (click)="vbsEditThemeModal.open()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <ng-container *ngIf="theme; else cardLoader">
    <div class="row">
      <ik-card-info class="col-md-6" header="Theme" [text]="theme.name"></ik-card-info>
      <ik-card-info class="col-md-6" header="Donating To" [text]="theme.donation"></ik-card-info>
    </div>
    <div class="row">
      <ik-card-info class="col-md-6" header="Start Date" [text]="theme.startDate | date : 'MMMM d, y'"></ik-card-info>

      <ik-card-info class="col-md-6" header="End Date" [text]="theme.endDate | date : 'MMMM d, y'"></ik-card-info>
    </div>
    <div class="row">
      <ik-card-info class="col-md-6" [contentColor]="theme.status" header="Status" [text]="theme.status"></ik-card-info>

      <ik-card-info class="col-md-6" header="Created" [text]="theme.insertDate | date : 'MMMM d, y'"></ik-card-info>
    </div>
  </ng-container>
</ik-card>

<ng-template #cardLoader>
  <ik-loading></ik-loading>
</ng-template>

<app-vbs-theme-details-modal
  #vbsEditThemeModal
  [theme]="theme"
  (themeUpdated)="refreshThemeData($event)"
></app-vbs-theme-details-modal>
