<ik-info-card
  *ngIf="!childExists"
  title="2. Child Information"
  description="Create a new child record by entering in the childs information. This includes the required fields of childs first name, last name, and birthday. Optional fields such as allergies and any other additional information needed may be included."
>
</ik-info-card>
<ik-info-card
  *ngIf="childExists"
  title="2. Select Child"
  [description]="'Select the child the needs to be assigned to ' + wizardData.translation"
>
</ik-info-card>

<ik-grid
  *ngIf="childExists"
  [dataLoader]="childrenDataloader"
  (rowClick)="onNextClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="CUID" field="cuid"></ik-grid-column>
  <ik-grid-column label="Birthday" field="birthday"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Children" [pageSize]="10"></ik-grid-pager>
</ik-grid>

<app-child-form
  *ngIf="!childExists"
  leftActionButton="Cancel"
  rightActionButton="Next"
  [groupEdit]="false"
  [(loading)]="loading"
  (cancel)="onCancelClick()"
  (save)="onNextClick($event)"
>
  <button wizardStepPrev class="btn btn-default btn-right">Previous</button>
</app-child-form>

<ng-container *ngIf="childExists">
  <button class="btn btn-default btn-left" (click)="onCancelClick()">
    Cancel
  </button>
  <button wizardStepPrev class="btn btn-default btn-right">Previous</button>
</ng-container>
