<ik-header title="Edit Profile"><ik-header-back (back)="onCancelClick()"></ik-header-back></ik-header>

<ng-container *ngIf="!isGuardianUser; else guardianForm">
  <app-user-form
    *ngIf="userUpdating && !loading; else pageLoader"
    [userData]="userUpdating"
    rightActionButton="Update"
    leftActionButton="Cancel"
    [enableRoleUpdate]="false"
    [enableAccessUpdate]="false"
    (cancel)="onCancelClick()"
    (save)="onSaveClick($event)"
  >
  </app-user-form>
</ng-container>

<ng-template #guardianForm>
  <app-guardian-form
    *ngIf="userUpdating && !loading; else pageLoader"
    [guardianData]="userUpdating"
    rightActionButton="Update"
    leftActionButton="Cancel"
    (cancel)="onCancelClick()"
    (save)="onSaveClick($event)"
  >
  </app-guardian-form>
</ng-template>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
