<ik-modal #deleteChildModal name="deleteChildModal">
  <ik-modal-header title="Delete Child?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else loader">
    <ik-modal-body>
      <div>
        Deleting this child will result in their personal info and achievements
        to be deleted. Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        class="btn btn-danger btn-flat btn-right btn-modal"
        (click)="onDeleteChild()"
      >
        Delete Child
      </button>
      <button
        class="btn btn-default btn-flat btn-right btn-modal"
        (click)="deleteChildModal.close()"
      >
        Cancel
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
