<div
  class="grid-pager__footer"
  [ngClass]="{ 'grid-pager__footer--margin': pagerVisible }"
>
  <ng-container *ngIf="dataLength > 0; else noResults">
    <ng-container *ngIf="pagerVisible">
      <div class="grid-pager__page-arrow left" (click)="onPreviousPageClick()">
        <ik-icon icon="backward-step" classOverride="grid-icon"></ik-icon>
      </div>
      <ng-container *ngFor="let page of pages">
        <div
          class="grid-pager__page-number left"
          [ngClass]="{
            'grid-pager__page-active': page.active
          }"
          *ngIf="page.pageNum <= this.totalPages && page.pageNum > 0"
          (click)="pageClick(page.pageNum)"
        >
          {{ page.pageNum }}
        </div>
      </ng-container>

      <div class="grid-pager__page-arrow left" (click)="onNextPageClick()">
        <ik-icon icon="forward-step" classOverride="grid-icon"></ik-icon>
      </div>
      <label class="grid-pager__text-label">{{ dataLength + " " + key }}</label>
    </ng-container>
  </ng-container>
</div>

<ng-template #noResults>
  <label class="grid-pager__no-results-label">{{ "No" + " " + key }}</label>
</ng-template>
