<ng-container *ngIf="pagerVisible && (pagerVisible || countVisible)">
  <ng-container *ngIf="dataLength > 0; else noResults">
    <div class="grid-pager__page-arrow left" (click)="onPreviousPageClick()">
      <ik-icon icon="backward-step" classOverride="grid-icon"></ik-icon>
    </div>
    <div
      *ngFor="let page of pages"
      class="left"
      [ngClass]="{
        'grid-pager__page-active': page.active,
        'grid-pager__page-number':
          page.pageNum <= this.totalPages && page.pageNum > 0
      }"
      (click)="pageClick(page.pageNum)"
    >
      <div *ngIf="page.pageNum <= this.totalPages && page.pageNum > 0">
        {{ page.pageNum }}
      </div>
    </div>
    <div class="grid-pager__page-arrow left" (click)="onNextPageClick()">
      <ik-icon icon="forward-step" classOverride="grid-icon"></ik-icon>
    </div>
    <ng-container *ngIf="countVisible">
      <label class="grid-pager__text-label">{{ dataLength + " " + key }}</label>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noResults>
  <label class="grid-pager__no-results-label">{{ "No" + " " + key }}</label>
</ng-template>
