<div
  *ngIf="dataLength > 0 && (pagerVisible || countVisible)"
  class="grid-pager__footer"
>
  <ng-container *ngIf="pagerVisible">
    <div class="grid-pager__page-arrow left" (click)="onPreviousPageClick()">
      <ik-icon [icon]="backwardStepIcon" classOverride="grid-icon"></ik-icon>
    </div>
    <div
      *ngFor="let page of pages"
      class="left"
      [ngClass]="{
        'grid-pager__page-active': page.active,
        'grid-pager__page-number':
          page.pageNum <= this.totalPages && page.pageNum > 0
      }"
      (click)="pageClick(page.pageNum)"
    >
      <div *ngIf="page.pageNum <= this.totalPages && page.pageNum > 0">
        {{ page.pageNum }}
      </div>
    </div>
    <div class="grid-pager__page-arrow left" (click)="onNextPageClick()">
      <ik-icon [icon]="forwardStepIcon" classOverride="grid-icon"></ik-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="countVisible">
    <label class="grid-pager__text-label">{{ dataLength + " " + key }}</label>
  </ng-container>
</div>
