<ik-header title="Users">
  <button
    (click)="onAddUser()"
    *featureAccess="[Application.USERS, Feature.DETAIL, Access.CREATE]"
    class="btn btn-primary btn-flat btn-size btn-header-right"
  >
    <ik-icon [icon]="addCirlce" classOverride="add-icon"></ik-icon>
    Add User
  </button>
</ik-header>
<ik-grid
  basePath="users"
  [dataLoader]="dataloader"
  (rowClick)="onRowClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Email" field="email"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Users" [pageSize]="10"></ik-grid-pager>
</ik-grid>
