<ik-header title="Users">
  <button
    (click)="onAddUser()"
    *featureAccess="[Application.USERS, FeatureType.DETAIL, Access.CREATE]"
    class="btn btn-primary header-button"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    Add User
  </button>
</ik-header>

<ik-grid preferenceKey="usersGrid" [dataLoader]="dataloader" (rowClick)="onRowClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"> </ik-grid-column>
  <ik-grid-column label="Email" field="email"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate">
    <ng-template let-data>
      {{ data.insertDate | date : 'longDate' }}
    </ng-template>
  </ik-grid-column>
  <ik-grid-pager pageSize="15" key="Users"></ik-grid-pager>
</ik-grid>
