<ng-container *ngIf="childExists; else newGuardianProcess">
  <ik-info-card
    *ngIf="childExists"
    title="2. Search for Guardian Account"
    description="Search for your account by your email address or phone number and then select your matching account. If no account was found for your email address or phone number, please return to the 'Previous' page and click 'Register New Child'"
  >
  </ik-info-card>

  <ik-grid *ngIf="childExists" [dataLoader]="guardianDataloader" (rowClick)="onGridRowClick($event)">
    <ik-grid-search [maxSearchInputs]="1"></ik-grid-search>
    <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
    <ik-grid-column label="Phone" field="phone"></ik-grid-column>
    <ik-grid-column label="Email" field="email"></ik-grid-column>
    <ik-grid-pager key="Guardian Account Found" [pageSize]="10"></ik-grid-pager>
  </ik-grid>
</ng-container>

<ng-template #newGuardianProcess>
  <ik-info-card
    title="2. Guardians of the Child"
    description="Please fill out the form below so that we have some basic information on file incase of emergencies. The fields followed by an asterisk(*) are required."
  >
  </ik-info-card>

  <ik-form *ngFor="let guardianForm of guardianForms; index as i" [formGroup]="guardianForm">
    <ik-card-header [title]="'Guardian ' + (i + 1) +' Information'">
      <ik-icon
        *ngIf="guardianForms.length > 1"
        title="Remove Guardian"
        icon="user-xmark"
        class="right pointer"
        (click)="onRemoveGuardianClick(i)"
      ></ik-icon
    ></ik-card-header>
    <div class="row">
      <ik-form-field header="First Name" class="col-md-6"
        ><input class="form-input__normal" placeholder="First Name" formControlName="firstName" />
      </ik-form-field>

      <ik-form-field header="Last Name" class="col-md-6"
        ><input class="form-input__normal" placeholder="Last Name" formControlName="lastName" />
      </ik-form-field>
    </div>

    <div class="row">
      <ik-form-field header="Email" class="col-md-6">
        <input
          type="email"
          inputmode="email"
          name="email"
          class="form-input__normal"
          placeholder="Email"
          formControlName="email"
        />
      </ik-form-field>
      <ik-form-field header="Phone" class="col-md-6">
        <input
          phoneMask
          placeholder="(___) ___-____"
          inputmode="tel"
          name="phone"
          class="form-input__normal"
          formControlName="phone"
          maxlength="14"
        />
      </ik-form-field>
    </div>
  </ik-form>

  <button
    *ngIf="guardianForms.length < 5; else maxGuardians"
    class="btn btn-warning btn-center btn-full"
    (click)="addGuardianForm()"
  >
    <ik-icon title="Edit" icon="user-plus" classOverride="btn-icon"></ik-icon>
    Add Alternate Guardian
  </button>

  <ng-template #maxGuardians>
    <ik-banner type="danger">Max Guardians Reached</ik-banner>
  </ng-template>
</ng-template>

<button class="btn btn-default btn-left" (click)="onCancelClick()">Cancel</button>
<button *ngIf="!childExists" class="btn btn-primary btn-right" (click)="onNextClick()" [disabled]="disableNext()">
  Next
</button>
<button wizardStepPrev class="btn btn-default btn-right">Previous</button>

<ik-modal #duplicateGuardianInformationModal name="duplicateGuardianInformationModal">
  <ik-modal-header title="Duplicate Guardian" type="warning"></ik-modal-header>
  <ik-modal-body>
    <div>
      It looks like you duplicated guardian information. Please confirm that you only created each guardian once and
      that all the information is correct.
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button class="btn btn-default btn-right btn-modal" (click)="duplicateGuardianInformationModal.close()">
      Okay
    </button>
  </ik-modal-action-bar>
</ik-modal>

<ik-modal #duplicateEmailModal name="duplicateEmailModal">
  <ik-modal-header title="Duplicate Email" type="warning"></ik-modal-header>
  <ik-modal-body>
    <div>
      It looks like the email was used more the once. The email must be unqiue for each guardian. Please confirm that
      each guardian has it's own unique email.
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button class="btn btn-default btn-right btn-modal" (click)="duplicateEmailModal.close()">Okay</button>
  </ik-modal-action-bar>
</ik-modal>
