<ik-info-card
  *ngIf="childExists"
  title="Summary"
  description="Confirm that your child registration is correct. If information details of your child is inaccurate please reach out to someone in registration and they can help you get this corrected."
>
</ik-info-card>

<ik-info-card *ngIf="!childExists" title="Summary" description="Confirm that your childs registration is correct.">
</ik-info-card>

<ng-container *ngIf="childrenToRegister.length > 0 && !loading; else pageLoader">
  <app-vbs-guardian-detail-card
    *ngIf="guardians && guardians.length === 1; else multipleGuardians"
    title="Guardian Information"
    [guardian]="guardians[0]"
    (editClick)="goToChildGuardianInformation()"
  ></app-vbs-guardian-detail-card>
  <app-vbs-child-detail-card
    *ngFor="let c of childrenToRegister; index as i"
    [title]="'Child ' + (i + 1) + ' Registration'"
    [child]="c"
    (editClick)="goToChildInformation()"
  ></app-vbs-child-detail-card>
  <button class="btn btn-default btn-left" (click)="onCancelClick()">Cancel</button>
  <button class="btn btn-primary btn-right" (click)="onSaveClick()">Register</button>
  <button class="btn btn-default btn-right" (click)="onPreviousClick()">Previous</button>
</ng-container>

<ng-template #multipleGuardians>
  <ng-container *ngIf="guardians && guardians.length > 0">
    <app-vbs-guardian-detail-card
      *ngFor="let g of guardians; index as i"
      [title]="'Guardian ' + (i + 1) + ' Information'"
      [guardian]="g"
      (editClick)="goToChildGuardianInformation()"
    ></app-vbs-guardian-detail-card>
  </ng-container>
</ng-template>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
