<ik-info-card
  *ngIf="guardianExists; else newChildrenSummary"
  title="Summary"
  description="Confirm that your childs registration is correct. If details of your information or your child's is inaccurate please reach out to someone in registration and they can help you get this corrected."
>
</ik-info-card>

<ng-template #newChildrenSummary>
  <ik-info-card title="Summary" description="Confirm that your childs registration is correct."> </ik-info-card>
</ng-template>

<ng-container *ngIf="childrenToRegister.length > 0 && !loading; else pageLoader">
  <app-vbs-guardian-detail-card
    *ngIf="guardians && guardians.length === 1; else multipleGuardians"
    title="Guardian Information"
    [guardian]="guardians[0]"
    (editClick)="goToChildGuardianInformation()"
  ></app-vbs-guardian-detail-card>
  <app-vbs-child-detail-card
    *ngFor="let c of childrenToRegister; index as i"
    [title]="'Child ' + (i + 1) + ' Registration'"
    [child]="c"
    (editClick)="goToChildInformation()"
  ></app-vbs-child-detail-card>
  <button class="btn btn-default btn-left" (click)="onCancelClick()">Cancel</button>
  <button class="btn btn-primary btn-right" (click)="onSaveClick()">Register</button>
  <button class="btn btn-default btn-right" (click)="onPreviousClick()">Previous</button>
</ng-container>

<ng-template #multipleGuardians>
  <ng-container *ngIf="guardians && guardians.length > 0">
    <app-vbs-guardian-detail-card
      *ngFor="let g of guardians; index as i"
      [title]="'Guardian ' + (i + 1) + ' Information'"
      [guardian]="g"
      (editClick)="goToChildGuardianInformation()"
    ></app-vbs-guardian-detail-card>
  </ng-container>
</ng-template>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
