<ng-container *ngIf="guardianExists; else newChildProcess">
  <ik-info-card
    title="Select Children to Register"
    description="Below is a list of children associated to you. Please select the checkbox next to the children you would like to register for VBS. If you would like to add another child, then you can click 'Add Child'. The fields followed by an asterisk(*) are required."
  >
  </ik-info-card>

  <app-vbs-guardian-detail-card
    title="Guardian Account"
    [guardian]="guardianAccount"
    [showEdit]="false"
  ></app-vbs-guardian-detail-card>

  <!-- <DEPik-grid *ngIf="guardianExists" [dataLoader]="childrenDataloader">
    <ik-card-header title="Guardian Children"> </ik-card-header>
    <ik-grid-checklist-column></ik-grid-checklist-column>
    <ik-grid-selection-column header="Grade Going Into" [values]="churchGroups"></ik-grid-selection-column>
    <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
    <ik-grid-pager key="Children" [pageSize]="10"></ik-grid-pager>
  </DEPik-grid> -->
  <ik-grid *ngIf="guardianExists" [dataLoader]="childrenDataloader">
    <ik-card-header-new title="Guardian Children"> </ik-card-header-new>
    <!-- <ik-grid-checklist-column></ik-grid-checklist-column> -->
    <!-- <ik-grid-selection-column header="Grade Going Into" [values]="churchGroups"></ik-grid-selection-column> -->
    <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
    <ik-grid-pager [pageSize]="5" [hidePageSize]="true" key="Children"></ik-grid-pager>
  </ik-grid>
</ng-container>

<ng-template #newChildProcess>
  <ik-info-card
    title="Child Information"
    description="Create a new child record by entering in the childs information. This includes the required fields of the childs first name, last name, and birthday. Optional fields such as allergies and any other additional information needed may be included. The fields followed by an asterisk(*) are required."
  >
  </ik-info-card>
</ng-template>

<ik-form [formGroup]="childForm" *ngFor="let childForm of childForms; index as i">
  <ik-card-header [title]="'Child ' + (i + 1) + ' Information'">
    <ik-icon
      *ngIf="childForms.length > 1 || guardianExists"
      title="Remove Child"
      icon="user-xmark"
      class="right pointer"
      (click)="onRemoveChildClick(i)"
    ></ik-icon>
  </ik-card-header>
  <div class="row">
    <ik-form-field header="First Name" class="col-md-6"
      ><input class="form-input__normal" placeholder="First Name" formControlName="firstName" />
    </ik-form-field>

    <ik-form-field header="Last Name" class="col-md-6"
      ><input class="form-input__normal" placeholder="Last Name" formControlName="lastName" />
    </ik-form-field>
  </div>

  <div class="row">
    <ik-form-field header="Birthday" class="col-md-6"
      ><input type="date" class="form-input__normal" placeholder="Birthday" formControlName="birthday" />
    </ik-form-field>
    <ik-form-field header="Allergies" class="col-md-6">
      <div class="form-input__multi-tag">
        <ik-tag-input-field
          [uniqueId]="'tagInput-' + i"
          [tags]="[]"
          classOverride="multi-input"
          placeholder="Allergies"
        ></ik-tag-input-field>
      </div>
    </ik-form-field>
  </div>
  <ik-form-field header="Grade Going Into">
    <ik-single-select
      [searchable]="false"
      formControlName="group"
      [items]="churchGroups"
      placeholder="Grade Going Into"
    ></ik-single-select>
  </ik-form-field>

  <ik-form-field header="Additional Information">
    <textarea formControlName="additionalInfo" rows="4" cols="50" class="form-input__normal"></textarea>
  </ik-form-field>

  <ik-form-field header="Release of Liability Agreement">
    <div class="input-inline">
      <input type="checkbox" class="form-check-input checkbox__default" formControlName="releaseOfLiability" />
      <span class="text-color"
        >Yes, Guardian Agrees to the
        <a href="assets/images/Liability-Agreement.png" target="_blank" class="link">Release of Liability</a></span
      >
    </div>
  </ik-form-field>
</ik-form>

<button
  *ngIf="childForms.length < 10; else maxChildren"
  class="btn btn-warning btn-center btn-full"
  (click)="addChildForm()"
>
  <ik-icon title="Edit" icon="user-plus" classOverride="btn-icon"></ik-icon>
  Add Child
</button>

<ng-template #maxChildren>
  <ik-banner type="danger">Max Children Reached</ik-banner>
</ng-template>

<button class="btn btn-default btn-left" (click)="onCancelClick()">Cancel</button>
<button class="btn btn-primary btn-right" (click)="onNextClick()" [disabled]="disableNext()">Next</button>
<button wizardStepPrev class="btn btn-default btn-right">Previous</button>

<ik-modal #duplicateChildInformationModal name="duplicateChildInformationModal">
  <ik-modal-header title="Duplicate Child" type="warning"></ik-modal-header>
  <ik-modal-body>
    <div>
      It looks like you duplicated child information. Please confirm that you only created each child once and that all
      the information is correct.
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button actionBarRight class="btn btn-default btn-modal" (click)="duplicateChildInformationModal.close()">
      Okay
    </button>
  </ik-modal-action-bar>
</ik-modal>
