<ik-info-card
  title="Guardian Relationship to Children"
  description="Fill out the form below to specify how the guardians and any alternate guardians relate to the children being registered for VBS. Only newly registered children will show up in the list below. The fields followed by an asterisk(*) are required."
>
</ik-info-card>

<ik-card *ngFor="let g of guardians">
  <ik-card-header [title]="g | formatUserName"></ik-card-header>
  <div class="row" *ngFor="let c of newChildren; index as i">
    <ik-card-info [header]="'Child ' + (i + 1)" class="col-md-6"
      ><input class="form-input__normal" [value]="c | formatUserName" placeholder="Child Name" readonly />
    </ik-card-info>
    <ik-card-info header="Relationship to Child*" class="col-md-6">
      <ik-single-select
        [searchable]="false"
        [items]="relationshipTypes"
        placeholder="Relationship to Child"
        (change)="onGuardianChildRelationshipChange(g, c, $event)"
      ></ik-single-select>
    </ik-card-info>
  </div>
</ik-card>

<button class="btn btn-default btn-left" (click)="onCancelClick()">Cancel</button>
<button class="btn btn-primary btn-right" (click)="onNextClick()" [disabled]="disableNext()">Next</button>
<button wizardStepPrev class="btn btn-default btn-right">Previous</button>
