<ik-card [padding]="false">
  <ik-card-header [title]="title">
    <ng-container *ngIf="editEnabled">
      <ik-icon
        [icon]="editIcon"
        color="black"
        class="edit-icon"
        classOverride="icon__card-header"
        (click)="onEditIconClick()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <div class="flex">
    <div class="left-column">
      <ik-card-info
        header="Name"
        text="{{ clubber | formatUserName }}"
      ></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info
        header="Awana Group"
        text="{{ clubber.churchGroup | churchGroupTranslate }}"
      ></ik-card-info>
    </div>
  </div>

  <div class="flex">
    <div class="left-column">
      <ik-card-info
        header="Birthday"
        text="{{ clubber?.birthday | date : 'MMMM d, y' }}"
      ></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info
        header="Created Date"
        text="{{ clubber?.insertDate | date : 'MMMM d, y' }}"
      >
      </ik-card-info>
    </div>
  </div>
</ik-card>
