<nav class="app-navbar">
  <ik-icon
    classOverride="app-navbar__icons__left"
    [icon]="sideBarOpen ? closeIcon : menuIcon"
    (click)="onMenuClick()"
  ></ik-icon>

  <div class="app-navbar__title inline-block">{{ appName }}</div>
  <ik-icon
    classOverride="app-navbar__icons__right"
    [icon]="logOutIcon"
    (click)="onLogOutClick()"
  ></ik-icon>
  <ik-icon
    classOverride="app-navbar__icons__right"
    [icon]="profileIcon"
    (click)="onProfileClick()"
  ></ik-icon>
</nav>
<!-- <ik-insite-user-notification></ik-insite-user-notification>
<ik-insite-general-notification></ik-insite-general-notification> -->
