<nav class="app-navbar">
  <ik-icon
    classOverride="nav-icons__left"
    [icon]="sideBarOpen ? closeIcon : menuIcon"
    (click)="onMenuClick()"
  ></ik-icon>

  <div class="app-title inline-block">{{ appName }}</div>
  <div class="dropdown">
    <ik-icon
      class="dropdown"
      classOverride="nav-icons__right"
      [icon]="profileIcon"
    ></ik-icon>
    <div class="dropdown-content">
      <div (click)="onProfileClick()">Profile</div>
      <div (click)="onLogOutClick()">Log Out</div>
    </div>
  </div>
  <ik-icon
    classOverride="nav-icons__right"
    [icon]="notificationBellIcon"
  ></ik-icon>
</nav>
<!-- <ik-insite-user-notification></ik-insite-user-notification>
<ik-insite-general-notification></ik-insite-general-notification> -->
