<ik-icon
  *ngIf="!isGuardianOnly"
  classOverride="app-navbar__icons__left"
  [icon]="sideBarOpen ? 'close' : 'bars'"
  (click)="onMenuClick()"
></ik-icon>

<div class="app-navbar__title inline-block">{{ appName }}</div>
<ik-icon classOverride="app-navbar__icons__right" icon="user" (click)="onProfileClick()"></ik-icon>
<ik-navbar-profile-content></ik-navbar-profile-content>
<!-- <ik-insite-user-notification></ik-insite-user-notification>
<ik-insite-general-notification></ik-insite-general-notification> -->
