<ik-header title="Create Child"
  ><ik-header-back (back)="onCancelClick()"></ik-header-back>
</ik-header>

<app-child-form
  *ngIf="!loading; else loader"
  [disableSave]="disableSave"
  rightActionButton="Save Child"
  leftActionButton="Cancel"
  (cancel)="onCancelClick()"
  (save)="onSaveClick($event)"
>
  <div class="row">
    <app-child-gurdians-grid-card
      class="col-xl-6"
    ></app-child-gurdians-grid-card>
  </div>
</app-child-form>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
