<ng-container *ngIf="!loading; else pageLoader">
  <app-vbs-attendance-detail-header
    [(record)]="attendanceRecord"
    [route]="baseRoute"
    [app]="Application.VBS"
    (backClick)="onBackClick()"
    (checkInStarted)="onCheckInChildrenClick()"
    (recordChange)="refreshChildrenGrid()"
  ></app-vbs-attendance-detail-header>

  <div class="row">
    <div class="col-lg-7">
      <app-vbs-attendance-details-card [record]="attendanceRecord">
        <ik-card-header title="Details">
          <ng-container *ngIf="attendanceRecord.status !== 'CLOSED'">
            <ik-icon
              *featureAccess="[Application.VBS, FeatureType.CHECK_IN_DETAIL, Access.UPDATE]"
              title="Edit"
              icon="pen-to-square"
              class="right pointer"
              classOverride="icon icon--default"
              (click)="onEditClick()"
            ></ik-icon>
          </ng-container>
        </ik-card-header>
      </app-vbs-attendance-details-card>

      <app-attendance-record-children-grid
        #vbsChildrenGrid
        *ngIf="attendanceRecord.status !== 'PENDING'"
        preferenceKey="vbsAttendanceRecordChildren"
        [dataLoader]="vbsChildrenDataloader"
        (rowClick)="vbsChildAttendanceUpdateModal.open($event)"
      >
        <ik-card-header-new title="Children">
          <ng-container *ngIf="attendanceRecord.status !== 'CLOSED'">
            <ik-icon
              *featureAccess="[Application.VBS, FeatureType.CHECK_IN_CHILDREN, Access.UPDATE]"
              icon="user-check"
              class="right pointer"
              classOverride="icon icon--default"
              (click)="onCheckInChildrenClick()"
            ></ik-icon>
          </ng-container>
        </ik-card-header-new>
      </app-attendance-record-children-grid>
    </div>

    <div class="col-xl-5">
      <ik-grid resultKey="Offering Winners" [dataLoader]="vbsOfferingWinnersDataloader">
        <ik-card-header-new title="Offering Winners">
          <ng-container *ngIf="attendanceRecord.status !== 'CLOSED'">
            <ik-icon
              *featureAccess="[Application.VBS, FeatureType.CHECK_IN_DETAIL, Access.UPDATE]"
              title="Edit"
              icon="pen-to-square"
              class="right pointer"
              classOverride="icon icon--default"
              (click)="onEditClick()"
            ></ik-icon>
          </ng-container>
        </ik-card-header-new>
        <ik-grid-column label="Group" field="group">
          <ng-template let-data>
            {{ data.group + '_SHORT' | churchGroupTranslate }}
          </ng-template>
        </ik-grid-column>
        <ik-grid-column label="Name" field="name"></ik-grid-column>
        <ik-grid-column label="Points" field="points"></ik-grid-column>
      </ik-grid>

      <ik-grid [dataLoader]="vbsWorkersDataloader">
        <ik-card-header-new title="Workers"> </ik-card-header-new>
        <ik-grid-search></ik-grid-search>
        <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
        <ik-grid-column label="Email" field="email"></ik-grid-column>
        <ik-grid-pager pageSize="5" [hidePageSize]="true" key="Workers"></ik-grid-pager>
      </ik-grid>
    </div>
  </div>

  <app-vbs-child-attendance-modal
    #vbsChildAttendanceUpdateModal
    [vbsThemeId]="attendanceRecord.vbsThemeId"
    [record]="attendanceRecord"
    (childUpdated)="refreshChildrenGrid()"
  ></app-vbs-child-attendance-modal>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
