<ik-card>
  <ng-content select="ik-card-header, ik-grid-search"></ng-content>
  <table
    *ngIf="!loading; else loader"
    class="grid__table"
    [ngClass]="{ grid__table: !scroll, grid_scroll__table: scroll }"
  >
    <col *ngIf="gridChecklistColumn" class="grid__checklist-column" />
    <thead *ngIf="data?.body.length > 0">
      <tr>
        <th *ngIf="gridChecklistColumn"></th>
        <th
          *ngFor="let column of columns.toArray()"
          class="grid__column-header grid__header-padding"
        >
          <strong>{{ column.label }}</strong>
        </th>
        <th
          *ngIf="gridSelection"
          class="grid__column-header grid__header-padding"
        >
          <strong>{{ gridSelection?.header }}*</strong>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="scroll; else gridContent">
      <ng-container [ngTemplateOutlet]="gridContent"></ng-container>
    </tbody>
  </table>
  <ng-content *ngIf="!loading" select="ik-grid-pager"></ng-content>
  <ng-container *ngIf="data?.body.length <= 0 && !loading">
    <label class="grid__text-label">{{ "No" + " " + gridPager.key }}</label>
  </ng-container>
  <ng-content select="ik-grid-show-all"></ng-content>
</ik-card>

<ng-template #gridContent>
  <tr *ngFor="let row of data.body" class="grid__content-row">
    <td *ngIf="gridChecklistColumn" class="grid__content">
      <ik-checkbox
        [checkId]="row.id"
        [checked]="row?.selected"
        (checkboxChange)="onChecklistChange($event)"
      ></ik-checkbox>
    </td>
    <td
      *ngFor="let col of columns.toArray()"
      class="grid__content"
      [ngClass]="{ 'grid__content-ellipsis': !overflowEnabled }"
      (click)="onRowClick(row)"
    >
      <ng-container *ngIf="col.templateRef; else defaultCell">
        <ng-template
          [ngTemplateOutlet]="col.templateRef"
          [ngTemplateOutletContext]="{ $implicit: row }"
        ></ng-template>
      </ng-container>

      <ng-template #defaultCell>
        <ng-container *ngIf="isDate(row[col.field]); else notDate">
          {{ row[col.field] | date : "longDate" }}
        </ng-container>
        <ng-template #notDate>
          {{ row[col.field] ? row[col.field] : "-" }}
        </ng-template>
      </ng-template>
    </td>
    <td *ngIf="gridSelection" class="grid__content">
      <select
        class="form-select__normal"
        (change)="onSelectionChange($event.target.value, row.id)"
      >
        <option value="" disabled selected hidden>
          {{ gridSelection?.header }}
        </option>
        <option
          *ngFor="let value of gridSelection.values"
          [ngValue]="row?.selectionValue"
          [selected]="value === row?.selectionValue"
        >
          {{ value }}
        </option>
      </select>
    </td>
  </tr>
</ng-template>

<ng-template #loader>
  <ik-loading
    size="80px"
    thickness="6px"
    backgroundColor="white"
    margin="15px auto 12px"
  ></ik-loading>
</ng-template>
