<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="themeData.name">
    <ik-header-back (back)="onBackClick()"></ik-header-back>

    <ng-container *featureAccess="[Application.VBS, FeatureType.THEMES, Access.UPDATE]" ngProjectAs="button">
      <button
        *ngIf="themeData.status === 'ACTIVE'"
        class="btn btn-danger header-button"
        (click)="closeThemeModal.open()"
      >
        <ik-icon icon="lock" classOverride="btn-icon"></ik-icon>
        Close
      </button>
    </ng-container>

    <ng-container *webRoleRestrictionAccess="[WebRole.ADMINISTRATOR]" ngProjectAs="button">
      <button
        class="btn btn-primary header-button"
        *ngIf="themeData.status === 'CLOSED'"
        [disabled]="reopenLoading"
        (click)="onReopenTheme()"
      >
        <ik-icon
          *ngIf="!reopenLoading; else startCheckInLoader"
          icon="arrow-rotate-left"
          classOverride="btn-icon"
        ></ik-icon>
        Re-Open

        <ng-template #startCheckInLoader>
          <ik-icon icon="spinner" classOverride="btn-icon" [spin]="true"></ik-icon>
        </ng-template>
      </button>
    </ng-container>

    <button
      class="btn btn-danger header-button"
      (click)="deleteThemeModal.open()"
      *featureAccess="[Application.VBS, FeatureType.THEMES, Access.DELETE]"
    >
      <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
      Delete
    </button>
  </ik-header>

  <div class="row">
    <div class="col-sm-4">
      <ik-card class="vbs-stats__card">
        <div class="vbs-stats__header">Children Registered</div>
        <div class="vbs-stats__body">{{ vbsChildrenStats ? vbsChildrenStats.registeredChildren : '-' }}</div>
      </ik-card>
    </div>

    <div class="col-sm-4">
      <ik-card class="vbs-stats__card">
        <div class="vbs-stats__header">Children Attended</div>
        <div class="vbs-stats__body">{{ themeData.childrenAttended }}</div>
      </ik-card>
    </div>

    <div class="col-sm-4">
      <ik-card class="vbs-stats__card">
        <div class="vbs-stats__header">Offering Total</div>
        <div class="vbs-stats__body">{{ themeData.money | currency }}</div>
      </ik-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <app-vbs-theme-details-card
        [theme]="themeData"
        [editEnabled]="themeData.status !== 'CLOSED'"
      ></app-vbs-theme-details-card>

      <ik-grid [dataLoader]="vbsAttendanceDataloader" (rowClick)="onAttendanceRecordRowClick($event)">
        <ik-card-header-new title="Attendance Records">
          <ng-container *ngIf="themeData.status !== 'CLOSED'">
            <ik-icon
              title="Add Record"
              icon="plus"
              class="right pointer"
              *featureAccess="[Application.VBS, FeatureType.CHECK_IN_DETAIL, Access.CREATE]"
              (click)="vbsAttendanceModal.open()"
            ></ik-icon>
          </ng-container>
        </ik-card-header-new>
        <ik-grid-column label="Name" field="name"> </ik-grid-column>
        <ik-grid-column label="Status" field="status">
          <ng-template let-data>
            <div [ngClass]="data.status">{{ data.status }}</div>
          </ng-template>
        </ik-grid-column>
        <ik-grid-column label="Active Date" field="activeDate"></ik-grid-column>
      </ik-grid>
    </div>

    <div class="col-xl-6">
      <ik-grid #vbsPointsGrid [dataLoader]="vbsPointsDataloader" (rowClick)="vbsPointsDetailModal.open($event)">
        <ik-card-header-new title="Point Structure">
          <ng-container *ngIf="themeData.status !== 'CLOSED'">
            <ik-icon
              title="Add Points"
              icon="plus"
              class="right pointer"
              *featureAccess="[Application.VBS, FeatureType.THEMES_POINTS, Access.CREATE]"
              (click)="vbsCreatePointsModal.open(null)"
            ></ik-icon>
          </ng-container>
        </ik-card-header-new>
        <ik-grid-column label="Name" field="displayName"> </ik-grid-column>
        <ik-grid-column label="Points" field="points"></ik-grid-column>
        <ik-grid-column label="Registration">
          <ng-template let-data>
            <div>{{ data.registrationOnly ? 'Yes' : 'No' }}</div>
          </ng-template>
        </ik-grid-column>
        <ik-grid-column label="Auto Apply">
          <ng-template let-data>
            <div>{{ data.checkInApply ? 'Yes' : 'No' }}</div>
          </ng-template>
        </ik-grid-column>
        <ik-grid-column label="Enabled">
          <ng-template let-data>
            <div>{{ data.enabled ? 'Yes' : 'No' }}</div>
          </ng-template>
        </ik-grid-column>
      </ik-grid>

      <ik-grid
        #vbsThemeGroupsGrid
        preferenceKey="usersGrid"
        [dataLoader]="vbsThemeGroupsDataloader"
        (rowClick)="themeGroupModal.open($event)"
      >
        <ik-card-header-new title="VBS Groups"> </ik-card-header-new>
        <ik-grid-column label="Group" field="group">
          <ng-template let-data>
            <div>{{ data.group | churchGroupTranslate }}</div>
          </ng-template>
        </ik-grid-column>
        <ik-grid-column label="Name" field="name"></ik-grid-column>
      </ik-grid>
    </div>
  </div>

  <app-vbs-attendance-record-modal #vbsAttendanceModal [theme]="themeData"></app-vbs-attendance-record-modal>

  <app-vbs-points-modal
    #vbsCreatePointsModal
    name="vbsCreatePointsModal"
    title="Add Point Value?"
    saveButtonText="Save"
    [theme]="themeData"
    (save)="onSavePoints($event)"
  ></app-vbs-points-modal>

  <app-vbs-points-modal
    #vbsPointsDetailModal
    name="vbsPointsDetailModal"
    title="Update Points?"
    saveButtonText="Update"
    [deleteEnabled]="true"
    [theme]="themeData"
    (save)="onUpdatePoints($event)"
    (pointDeleted)="onPointsDeleted()"
  ></app-vbs-points-modal>

  <app-vbs-groups-modal #themeGroupModal [themeId]="themeData.id" (groupUpdated)="refreshVBSThemeGroups()">
  </app-vbs-groups-modal>

  <app-vbs-close-theme-modal
    #closeThemeModal
    [themeId]="themeData.id"
    (closed)="onThemeClosed($event)"
  ></app-vbs-close-theme-modal>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>

<ik-modal #deleteThemeModal name="deleteThemeModal">
  <ik-modal-header title="Delete Theme?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!deleteModalLoading; else modalLoader">
    <ik-modal-body>
      <div>
        Deleting this theme will result in all data associated to '{{ themeData.name }}' to be deleted. This includes
        attendance records, points, and group names. Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="deleteThemeModal.close()">Cancel</button>
      <button actionBarRight class="btn btn-danger btn-modal" (click)="onDeleteTheme()">Delete Theme</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
