<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="themeData.name">
    <ik-header-back (back)="onBackClick()"></ik-header-back>

    <button
      class="btn btn-danger header-button"
      (click)="deleteThemeModal.open()"
      *featureAccess="[Application.VBS, FeatureType.THEMES, Access.DELETE]"
    >
      <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
      Delete
    </button>
  </ik-header>

  <div class="row">
    <div class="col-sm-4">
      <ik-card class="vbs-stats__card">
        <div class="vbs-stats__header">Children Registered</div>
        <div class="vbs-stats__body">{{ vbsChildrenStats ? vbsChildrenStats.registeredChildren : '-' }}</div>
      </ik-card>
    </div>

    <div class="col-sm-4">
      <ik-card class="vbs-stats__card">
        <div class="vbs-stats__header">Children Attended</div>
        <div class="vbs-stats__body">{{ themeData.childrenAttended }}</div>
      </ik-card>
    </div>

    <div class="col-sm-4">
      <ik-card class="vbs-stats__card">
        <div class="vbs-stats__header">Offering Total</div>
        <div class="vbs-stats__body">{{ themeData.money | currency }}</div>
      </ik-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <ik-card>
        <ik-card-header title="Details">
          <ik-icon
            title="Edit"
            icon="pen-to-square"
            class="right pointer"
            *featureAccess="[Application.VBS, FeatureType.THEMES, Access.UPDATE]"
          ></ik-icon>
        </ik-card-header>
        <div class="flex">
          <div class="left-column">
            <ik-card-info header="Theme" [text]="themeData.name"></ik-card-info>
          </div>
          <div class="right-column">
            <ik-card-info header="Donating To" [text]="themeData.donation"></ik-card-info>
          </div>
        </div>
        <div class="flex">
          <div class="right-column">
            <ik-card-info header="Start Date" [text]="themeData.startDate | date : 'MMMM d, y'"></ik-card-info>
          </div>
          <div class="right-column">
            <ik-card-info header="End Date" [text]="themeData.endDate | date : 'MMMM d, y'"></ik-card-info>
          </div>
        </div>
        <div class="flex">
          <div class="right-column">
            <ik-card-info [contentColor]="themeData.status" header="Status" [text]="themeData.status"></ik-card-info>
          </div>
          <div class="right-column">
            <ik-card-info header="Created" [text]="themeData.insertDate | date : 'MMMM d, y'"></ik-card-info>
          </div>
        </div>
      </ik-card>
    </div>
    <div class="col-lg-6">
      <ik-grid [dataLoader]="vbsAttendanceDataloader" (rowClick)="onAttendanceRecordRowClick($event)">
        <ik-card-header title="Attendance Records">
          <ik-icon
            title="Add Record"
            icon="plus"
            class="right pointer"
            *featureAccess="[Application.VBS, FeatureType.CHECK_IN_DETAIL, Access.CREATE]"
            (click)="vbsAttendanceModal.open()"
          ></ik-icon>
        </ik-card-header>
        <ik-grid-column label="Name" field="name"> </ik-grid-column>
        <ik-grid-column label="Status" field="status">
          <ng-template let-data>
            <div [ngClass]="data.status">{{ data.status }}</div>
          </ng-template>
        </ik-grid-column>
        <ik-grid-column label="Active Date" field="activeDate"></ik-grid-column>
        <ik-grid-pager key="Records" [pagerVisible]="false"></ik-grid-pager>
      </ik-grid>

      <ik-grid #vbsPointsGrid [dataLoader]="vbsPointsDataloader" (rowClick)="vbsPointsDetailModal.open($event)">
        <ik-card-header title="Point Structure">
          <ik-icon
            title="Add Points"
            icon="plus"
            class="right pointer"
            *featureAccess="[Application.VBS, FeatureType.THEMES_POINTS, Access.CREATE]"
            (click)="vbsCreatePointsModal.open(null)"
          ></ik-icon>
        </ik-card-header>
        <ik-grid-column label="Name" field="displayName"> </ik-grid-column>
        <ik-grid-column label="Points" field="points"></ik-grid-column>
        <ik-grid-column label="Registration">
          <ng-template let-data>
            <div>{{ data.registrationOnly ? 'Yes' : 'No' }}</div>
          </ng-template>
        </ik-grid-column>
        <ik-grid-pager key="Points" [pagerVisible]="false"></ik-grid-pager>
      </ik-grid>
    </div>
  </div>

  <app-vbs-attendance-record-modal #vbsAttendanceModal [theme]="themeData"></app-vbs-attendance-record-modal>

  <app-vbs-points-modal
    #vbsCreatePointsModal
    name="vbsCreatePointsModal"
    title="Add Point Value?"
    saveButtonText="Save"
    [themeId]="themeData.id"
    (save)="onSavePoints($event)"
  ></app-vbs-points-modal>

  <app-vbs-points-modal
    #vbsPointsDetailModal
    name="vbsPointsDetailModal"
    title="Update Points?"
    saveButtonText="Update"
    [deleteEnabled]="true"
    [themeId]="themeData.id"
    (save)="onUpdatePoints($event)"
    (pointsUpdated)="onPointsDeleted()"
  ></app-vbs-points-modal>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>

<ik-modal #deleteThemeModal name="deleteThemeModal">
  <ik-modal-header title="Delete Theme?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!deleteModalLoading; else modalLoader">
    <ik-modal-body>
      <div>
        Deleting this theme will result in all data associated to '{{ themeData.name }}' to be deleted. This includes
        attendance records, points, and group names. Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button class="btn btn-danger btn-right btn-modal" (click)="onDeleteTheme()">Delete Theme</button>
      <button class="btn btn-default btn-right btn-modal" (click)="deleteThemeModal.close()">Cancel</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
