<ik-card [padding]="false">
  <ik-card-header [title]="title">
    <ng-content></ng-content>
  </ik-card-header>
  <div class="flex">
    <div class="left-column">
      <ik-card-info
        header="Name"
        text="{{ user | formatUserName }}"
      ></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info
        header="Email"
        [text]="user?.email ? user.email : '-'"
      ></ik-card-info>
    </div>
  </div>

  <div class="flex">
    <div class="left-column">
      <ik-card-info
        [contentColor]="user?.appAccess ? 'text-success' : 'text-danger'"
        header="Access"
        [text]="user?.appAccess ? 'GRANTED' : 'DENIED'"
      ></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info
        header="Created Date"
        [text]="user?.insertDate | date : 'MMMM d, y'"
      >
      </ik-card-info>
    </div>
  </div>

  <div class="flex">
    <div *webRoleRestrictionAccess="WebRole.ADMINISTRATOR" class="left-column">
      <ik-card-info
        header="Last Login"
        [text]="user?.lastLoginDate | date : 'MMMM d, y, h:mm a'"
      ></ik-card-info>
    </div>
  </div>
</ik-card>
