<ik-modal #resetPasswordModal name="resetPasswordModal">
  <ik-modal-header title="Reset User Password?"></ik-modal-header>
  <ng-container>
    <ik-modal-body>
      You can reset the user password manually or you can send a forgot password email to the user and they will be able
      to reset it themselves.
    </ik-modal-body>
    <ik-modal-action-bar>
      <button class="btn btn-danger btn-left btn-modal" (click)="onResetUserPassword()">Reset Manually</button>
      <button
        (click)="onSendForgotPasswordEmail()"
        class="btn btn-default btn-right btn-modal"
        [disabled]="modalLoading"
      >
        <ik-icon *ngIf="!modalLoading; else emailLoader" icon="paper-plane" classOverride="btn-icon"></ik-icon>
        Send Email

        <ng-template #emailLoader>
          <ik-icon icon="spinner" classOverride="btn-icon" [spin]="true"></ik-icon>
        </ng-template>
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>
