<ik-modal #userToGuardianModal name="userToGuardianModal">
  <ik-modal-header title="Assign Guardian Role to User?" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form *ngIf="form" [formGroup]="form">
        <ik-form-field header="Name*" [padding]="false">
          <input class="form-input__outline" placeholder="Name" formControlName="name" readonly />
        </ik-form-field>
        <ik-form-field header="Phone*" [padding]="false">
          <input
            phoneMask
            placeholder="(___) ___-____"
            inputmode="tel"
            class="form-input__outline"
            formControlName="phone"
          />
        </ik-form-field>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        class="btn btn-primary btn-right btn-modal"
        (click)="onUserToGuardianClick()"
        [disabled]="form && form.invalid"
      >
        Assign Guardian Role
      </button>
      <button class="btn btn-default btn-right btn-modal" (click)="userToGuardianModal.close()">Cancel</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
