<ng-container *ngIf="showCalendar; else listView">
  <app-calendar-header
    [viewDate]="viewDate"
    (viewDateChange)="onViewDateChange($event)"
    (showListView)="onToggleCalendarView()"
  ></app-calendar-header>

  <ik-card>
    <mwl-calendar-month-view
      *ngIf="!loading; else calLoader"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      [cellTemplate]="customCellTemplate"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="routeToEvent($event.event.meta.schedule.type, $event.event.meta.schedule.recordId)"
    >
    </mwl-calendar-month-view>
  </ik-card>
</ng-container>

<ng-template #listView>
  <ik-header title="User Schedule">
    <button (click)="onToggleCalendarView()" class="btn btn-primary header-button">
      <ik-icon icon="calendar-days" classOverride="btn-icon"></ik-icon>
      View Calendar
    </button>
  </ik-header>

  <ik-grid
    [dataLoader]="listDataloader"
    (rowClick)="routeToEvent($event.type, $event.recordId)"
    preferenceKey="userScheduleGrid"
  >
    <ik-grid-search></ik-grid-search>
    <ik-grid-column label="Name" field="recordName"> </ik-grid-column>
    <ik-grid-column label="Status" field="status">
      <ng-template let-data>
        <div [ngClass]="data.status">{{ data.status }}</div>
      </ng-template>
    </ik-grid-column>
    <ik-grid-column label="Type" field="type"></ik-grid-column>
    <ik-grid-column label="Active Date" field="activeDate"></ik-grid-column>
    <ik-grid-pager key="Records" [pageSize]="25"></ik-grid-pager>
  </ik-grid>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <div class="calendar-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate : 'monthViewDayNumber' : locale }}</span>
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    </div>
  </div>
  <div class="calendar-event-pill--container" [ngClass]="{ 'text-center': day.badgeTotal >= 5 }">
    <ng-container *ngIf="day.badgeTotal > 0">
      <span
        [ngClass]="'calendar-event-pill--' + dayEvent.meta.schedule.status"
        class="calendar-event-circle"
        *ngFor="let dayEvent of day.events"
      ></span>
    </ng-container>
  </div>
</ng-template>

<ng-template #calLoader>
  <ik-loading></ik-loading>
</ng-template>
