<app-calendar-header
  [view]="view"
  [viewDate]="viewDate"
  (viewChange)="onViewChange($event)"
  (viewDateChange)="onViewDateChange($event)"
></app-calendar-header>
<ng-template #myTemplateId>my content here</ng-template>

<ik-card>
  <div [ngSwitch]="view" *ngIf="!loading; else calLoader">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [excludeDays]="excludeDays"
      [cellTemplate]="customCellTemplate"
    >
    </mwl-calendar-month-view>
  </div>
</ik-card>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate : 'monthViewDayNumber' : locale }}</span>
    <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
  </div>
  <div
    [ngClass]="'calendar-event-pill--' + dayEvent.meta.status"
    *ngFor="let dayEvent of day.events"
    (click)="eventClicked(dayEvent)"
  >
    <small class="calendar-event-pill__text" style="margin: 5px"
      ><b>{{ dayEvent.meta.time }}</b> - {{ dayEvent.title }}</small
    >
  </div>
</ng-template>
<ng-template #calLoader>
  <ik-loading></ik-loading>
</ng-template>
