<app-calendar-header
  [view]="view"
  [viewDate]="viewDate"
  (viewChange)="onViewChange($event)"
  (viewDateChange)="onViewDateChange($event)"
></app-calendar-header>

<ik-card>
  <mwl-calendar-month-view
    *ngIf="!loading; else calLoader"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
    [cellTemplate]="customCellTemplate"
  >
  </mwl-calendar-month-view>
</ik-card>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <div class="calendar-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate : 'monthViewDayNumber' : locale }}</span>
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    </div>
  </div>
  <div class="calendar-event-pill--container" [ngClass]="{ 'text-center': day.badgeTotal >= 5 }">
    <ng-container *ngIf="day.badgeTotal > 0">
      <span
        [ngClass]="'calendar-event-pill--' + dayEvent.meta.status"
        class="calendar-event-circle"
        *ngFor="let dayEvent of day.events"
      ></span>
    </ng-container>
  </div>
</ng-template>

<ng-template #calLoader>
  <ik-loading></ik-loading>
</ng-template>
