<ik-card>
  <ik-card-header [title]="title">
    <ng-container *ngIf="showEdit">
      <ik-icon
        icon="pen-to-square"
        class="right pointer"
        classOverride="icon__default"
        (click)="onEditIconClick()"
        *featureAccess="[
          Application.CHILDREN,
          FeatureType.DETAIL,
          Access.UPDATE
        ]"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <div class="flex">
    <div class="left-column">
      <ik-card-info
        header="Name"
        text="{{ child | formatUserName }}"
      ></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info header="CUID" text="{{ child.cuid ? child.cuid : '-' }}">
      </ik-card-info>
    </div>
  </div>

  <div class="flex">
    <div class="left-column">
      <ik-card-info
        header="Birthday"
        text="{{
          child?.birthday ? (child.birthday | date : 'MMMM d, y') : '-'
        }}"
      ></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info header="Age" text="{{ child.birthday | age }}">
      </ik-card-info>
    </div>
  </div>

  <div class="flex" *ngIf="child.insertDate">
    <div class="left-column">
      <ik-card-info
        header="Created Date"
        text="{{ child.insertDate | date : 'MMMM d, y' }}"
      >
      </ik-card-info>
    </div>
  </div>
</ik-card>
