<ik-header title="New Attendance Record">
  <ik-header-back (back)="onBackClick()"></ik-header-back>
</ik-header>

<ng-container *ngIf="!loading; else pageLoader">
  <app-attendance-record-form
    [group]="ChurchGroup.NURSERY"
    translation="Nursery"
    [disableSave]="loading"
    (save)="onSaveClick($event)"
    (cancel)="onCancelClick()"
    leftActionButton="Cancel"
    rightActionButton="Create"
  ></app-attendance-record-form>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
