<ik-header title="Children">
  <button
    class="btn btn-primary header-button"
    (click)="onAddChild()"
    *featureAccess="[Application.CHILDREN, FeatureType.DETAIL, Access.CREATE]"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    Add Child
  </button>
</ik-header>

<ik-grid preferenceKey="childrenGrid" [dataLoader]="dataloader" (rowClick)="onRowClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="CUID" field="cuid"></ik-grid-column>
  <ik-grid-column label="Birthday" field="birthday"></ik-grid-column>
  <ik-grid-column label="Created">
    <ng-template let-data>
      {{ data.insertDate | date : 'longDate' }}
    </ng-template>
  </ik-grid-column>
  <ik-grid-pager pageSize="15" key="Children"></ik-grid-pager>
</ik-grid>
