<ik-card>
  <ik-card-header [title]="title">
    <ng-container *ngIf="showEdit">
      <ik-icon
        title="Edit"
        icon="pen-to-square"
        class="right pointer"
        classOverride="icon icon--default"
        (click)="onEditIconClick()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <div class="row">
    <ik-card-info class="col-md-6" header="Name" text="{{ child | formatUserName }}"></ik-card-info>

    <ik-card-info
      class="col-md-6"
      header="Birthday"
      text="{{ child?.birthday ? (child.birthday | date : 'MMMM d, y') : '-' }}"
    ></ik-card-info>
  </div>

  <div class="row">
    <ik-card-info
      class="col-md-6"
      header="Grade Going Into"
      text="{{ (child.churchGroup ? child.churchGroup[0] : '-') | churchGroupTranslate }}"
    >
    </ik-card-info>
    <ik-card-info
      class="col-md-6"
      *ngIf="!child.relationship"
      header="Liability Release"
      [contentColor]="child.releaseOfLiability ? 'ENABLED' : 'DISABLED'"
      text="{{ child.releaseOfLiability ? 'Agreed' : 'Denied' }}"
    >
    </ik-card-info>
  </div>

  <div class="row">
    <ik-card-info class="col-md-6" header="Allergies">
      <ul
        *ngIf="child.allergies && child.allergies.length > 0; else noAllergies"
        class="flex list-style-none card-info__label-text margin-none"
      >
        <div class="layout__half">
          <li *ngFor="let a of child.allergies">{{ '- ' + a }}</li>
        </div>
      </ul>
      <ng-template #noAllergies>
        <div class="card-info__label-text">-</div>
      </ng-template>
    </ik-card-info>

    <ik-card-info
      class="col-md-6"
      header="Additional Info"
      class="text-pre-wrap"
      [text]="child?.additionalInfo ? child.additionalInfo.trim() : '-'"
    ></ik-card-info>
  </div>

  <div class="row" *ngIf="child.guardians">
    <ik-card-info class="col-md-6" header="Guardians of Child">
      <ul class="list-style-none card-info__label-text margin-none">
        <li *ngFor="let g of child.guardians">
          {{ '- ' + (g | formatUserName) + ' (' + (g.relationship | relationshipTranslate) + ')' }}
        </li>
      </ul>
    </ik-card-info>
  </div>
</ik-card>
