<ik-grid
  *ngIf="dataloader"
  basePath="gurdians"
  [dataLoader]="dataloader"
  (rowClick)="onRowClick($event)"
>
  <ik-card-header title="Gurdians">
    <ng-container
      *featureAccess="[Application.CHILDREN, Feature.DETAIL, Access.UPDATE]"
    >
      <ik-icon
        [icon]="editIcon"
        color="black"
        class="edit-icon"
        classOverride="icon__card-header"
        (click)="onEditIconClick()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Phone" field="phone"></ik-grid-column>
  <ik-grid-column
    label="Relationship"
    field="formattedRelationship"
  ></ik-grid-column>
  <ik-grid-pager
    key="Gurdians"
    [pagerVisible]="false"
    [countVisible]="false"
  ></ik-grid-pager>
</ik-grid>
