<ng-container *ngIf="!loading; else pageLoader">
  <ik-header
    [title]="
      (feature.app | titlecase) + ' (' + (feature.feature | titlecase) + ')'
    "
  >
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-danger btn-flat btn-header-right"
        (click)="featureDeleteModal.modal.open()"
      >
        <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
        Delete
      </button>
      <button
        class="btn btn-success btn-flat btn-header-right"
        *ngIf="!feature.enabled"
        (click)="onEnabledUpdateClick(true)"
      >
        <ik-icon icon="check" classOverride="btn-icon"></ik-icon>
        Enable
      </button>

      <button
        class="btn btn-danger btn-flat btn-header-right"
        *ngIf="feature.enabled"
        (click)="onEnabledUpdateClick(false)"
      >
        <ik-icon icon="lock" classOverride="btn-icon"></ik-icon>
        Disable
      </button>
    </div>
  </ik-header>

  <div class="layout__column-left layout__narrow">
    <ik-card>
      <ik-card-header title="Details"> </ik-card-header>
      <div class="flex">
        <div class="left-column">
          <ik-card-info
            header="App"
            [text]="feature.app | titlecase"
          ></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info
            header="Feature"
            [text]="feature.feature | titlecase"
          ></ik-card-info>
        </div>
      </div>

      <div class="flex">
        <div class="left-column">
          <ik-card-info
            [contentColor]="feature.enabled ? 'ENABLED' : 'DISABLED'"
            header="Status"
            [text]="feature.enabled ? 'Enabled' : 'Disabled'"
          ></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info
            header="Insert Date"
            [text]="feature.insertDate | date : 'MMMM d, y'"
          ></ik-card-info>
        </div>
      </div>
    </ik-card>
  </div>
  <div class="layout__column-right layout__wide">
    <ik-grid
      #webRoleFeaturesGrid
      [dataLoader]="webRoleFeaturesDataloader"
      [overflowEnabled]="true"
      (rowClick)="onRowClick($event)"
    >
      <ik-card-header title="Web Role Features"></ik-card-header>
      <ik-grid-search></ik-grid-search>
      <ik-grid-column label="Role" field="formattedWebRole"> </ik-grid-column>
      <ik-grid-column label="Create" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.create ? 'check' : 'xmark'"
            [classOverride]="data.create ? 'icon__success' : 'icon__danger'"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Read" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.read ? 'check' : 'xmark'"
            [classOverride]="data.read ? 'icon__success' : 'icon__danger'"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Update" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.update ? 'check' : 'xmark'"
            [classOverride]="data.update ? 'icon__success' : 'icon__danger'"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Delete" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.delete ? 'check' : 'xmark'"
            [classOverride]="data.delete ? 'icon__success' : 'icon__danger'"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-pager key="Roles" [pageSize]="5"></ik-grid-pager>
    </ik-grid>
  </div>
</ng-container>

<app-web-role-feature-update-modal
  (webRoleFeatureUpdate)="onWebRoleFeatureUpdated()"
></app-web-role-feature-update-modal>

<app-delete-feature-modal
  [featureId]="feature.id"
  #featureDeleteModal
></app-delete-feature-modal>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
