<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="feature.feature">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <button class="btn btn-success header-button" *ngIf="!feature.enabled" (click)="onEnabledUpdateClick(true)">
      <ik-icon icon="check" classOverride="btn-icon"></ik-icon>
      Enable
    </button>
    <button class="btn btn-danger header-button" *ngIf="feature.enabled" (click)="onEnabledUpdateClick(false)">
      <ik-icon icon="lock" classOverride="btn-icon"></ik-icon>
      Disable
    </button>
    <button class="btn btn-danger header-button" (click)="featureDeleteModal.modal.open()">
      <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
      Delete
    </button>
  </ik-header>

  <div class="row">
    <ik-card-new class="col-xl-5">
      <ik-card-header-new title="Details"></ik-card-header-new>
      <div class="row">
        <ik-card-info class="col-md-6" header="App" [text]="feature.app" [padding]="false"></ik-card-info>

        <ik-card-info class="col-md-6" header="Feature" [text]="feature.feature" [padding]="false"></ik-card-info>
      </div>
      <div class="row">
        <ik-card-info
          class="col-md-6"
          [contentColor]="feature.enabled ? 'ENABLED' : 'DISABLED'"
          header="Status"
          [text]="feature.enabled ? 'Enabled' : 'Disabled'"
          [padding]="false"
        ></ik-card-info>
        <ik-card-info
          class="col-md-6"
          header="Insert Date"
          [text]="feature.insertDate | date : 'MMMM d, y'"
          [padding]="false"
        ></ik-card-info>
      </div>
    </ik-card-new>

    <ik-grid class="col-xl-7" [dataLoader]="webRoleFeaturesDataloader" (rowClick)="onRowClick($event)">
      <ik-card-header-new title="Web Role Apps"> </ik-card-header-new>
      <ik-grid-search></ik-grid-search>
      <ik-grid-column label="Role" field="formattedWebRole"> </ik-grid-column>
      <ik-grid-column label="Create" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.create ? 'check' : 'xmark'"
            [classOverride]="'grid-icon ' + (data.create ? 'icon--success' : 'icon--danger')"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Read" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.read ? 'check' : 'xmark'"
            [classOverride]="'grid-icon ' + (data.read ? 'icon--success' : 'icon--danger')"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Update" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.update ? 'check' : 'xmark'"
            [classOverride]="'grid-icon ' + (data.update ? 'icon--success' : 'icon--danger')"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-column label="Delete" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.delete ? 'check' : 'xmark'"
            [classOverride]="'grid-icon ' + (data.delete ? 'icon--success' : 'icon--danger')"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-pager pageSize="5" [hidePageSize]="true" key="Roles"></ik-grid-pager>
    </ik-grid>
  </div>
</ng-container>

<app-web-role-feature-update-modal
  (webRoleFeatureUpdate)="onWebRoleFeatureUpdated()"
></app-web-role-feature-update-modal>

<app-delete-feature-modal [featureId]="feature.id" #featureDeleteModal></app-delete-feature-modal>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
