<div class="sidebar-content">
  <div class="sidebar-church-logo--container">
    <img src="fbl-church-logo.png" alt="InsiteKit Logo" />
  </div>

  <div class="sidebar-header">
    <div class="chip" (click)="onProfileClick()">{{ initials }}</div>
    <div class="sidebar-header--content">
      <div class="name" (click)="onProfileClick()">{{ userData.firstName + ' ' + userData.lastName[0] + '.' }}</div>
      <span class="email" (click)="onProfileClick()">{{ userData.email }} </span>
      <a class="logout" (click)="onLogOutClick()">Logout</a>
    </div>
  </div>

  <div class="sidebar-content__pages">
    <ng-container *ngFor="let navItem of navigationConfig">
      <ng-container *ngIf="navItem?.restriction; else navContent">
        <ng-container
          *featureAccess="[navItem.restriction.app, navItem.restriction.feature, navItem.restriction.access]"
        >
          <ng-container *ngTemplateOutlet="navContent"></ng-container>
        </ng-container>
      </ng-container>

      <ng-template #navContent>
        <ng-container *ngIf="navItem.submenu; else routeMenuItem">
          <ik-dropdown [navItem]="navItem"></ik-dropdown>
        </ng-container>

        <ng-template #routeMenuItem>
          <div
            class="sidebar-content__item"
            [routerLink]="navItem.route"
            routerLinkActive="sidebar-category__active"
            (click)="onRoute(navItem.route)"
          >
            <ik-icon
              class="sidebar-content__icon"
              classOverride="sidebar-content__icon fa-icon"
              [icon]="navItem.icon"
            ></ik-icon>
            <span class="sidebar-category">{{ navItem.name }}</span>
          </div>
        </ng-template>
      </ng-template>
    </ng-container>
  </div>
</div>
<!-- <div
  class="sidebar-overlay"
  [ngClass]="{
    'sidebar-overlay--open': isOpen,
    'sidebar-overlay--closed': !isOpen
  }"
  (click)="close()"
></div> -->
