<div *ngIf="childData && !loading; else pageLoader">
  <ik-header title="{{ childData | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-danger btn-flat btn-size btn-header-right"
        (click)="deleteChildModal.modal.open()"
        *featureAccess="[
          Application.CHILDREN,
          FeatureType.DETAIL,
          Access.DELETE
        ]"
      >
        <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
        Delete
      </button>
    </div>
  </ik-header>
  <div class="layout__column-left layout__half">
    <app-child-details-card
      [child]="childData"
      (editClick)="onChildDetailEditClick()"
    ></app-child-details-card>
    <app-child-additional-info-card
      [child]="childData"
    ></app-child-additional-info-card>
  </div>
  <div class="layout__column-right layout__half">
    <app-child-guardians-details-grid
      [childId]="childData.id"
      [guardians]="childData.guardians"
    ></app-child-guardians-details-grid>
    <app-child-group-details-grid
      [child]="childData"
    ></app-child-group-details-grid>
  </div>
</div>

<app-delete-child-modal
  #deleteChildModal
  [childId]="childData?.id"
></app-delete-child-modal>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
