<ng-container *ngIf="form">
  <ik-form [formGroup]="form">
    <div class="row">
      <ik-form-field header="First Name*" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="First Name"
          formControlName="firstName"
        />
      </ik-form-field>

      <ik-form-field header="Last Name*" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </ik-form-field>
    </div>
    <div class="row">
      <ik-form-field
        header="Email"
        [ngClass]="enablePasswordUpdate ? 'col-md-6' : 'col-md-12'"
      >
        <input
          type="email"
          inputmode="email"
          class="form-input__normal"
          placeholder="Email"
          formControlName="email"
        />
      </ik-form-field>

      <ik-form-field
        header="Password*"
        class="col-md-6"
        *ngIf="enablePasswordUpdate"
      >
        <input
          class="form-input__normal"
          placeholder="Password"
          formControlName="password"
        />
      </ik-form-field>
    </div>

    <ik-form-field header="Roles" *ngIf="enableRoleUpdate">
      <ik-multi-select
        formControlName="roles"
        [items]="roleSection"
      ></ik-multi-select>
    </ik-form-field>
  </ik-form>

  <button class="btn btn-default btn-flat btn-left" (click)="onCancelClick()">
    {{ leftActionButton }}
  </button>
  <button
    class="btn btn-primary btn-flat btn-right"
    (click)="onSaveClick()"
    [disabled]="form.invalid || disableSave"
  >
    {{ rightActionButton }}
  </button>
</ng-container>
