<ik-form [formGroup]="form">
  <div class="row">
    <ik-form-field header="First Name*" class="col-md-6"
      ><input
        class="form-input__normal"
        placeholder="First Name"
        formControlName="firstName"
      />
    </ik-form-field>

    <ik-form-field header="Last Name*" class="col-md-6"
      ><input
        class="form-input__normal"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </ik-form-field>
  </div>

  <ik-form-field header="Email">
    <input
      class="form-input__normal"
      placeholder="Email"
      formControlName="email"
    />
  </ik-form-field>

  <ik-form-field header="Password*" *ngIf="enablePasswordUpdate">
    <input
      class="form-input__normal"
      placeholder="Password"
      formControlName="password"
    />
  </ik-form-field>
</ik-form>

<app-user-role-selection-grid
  *ngIf="enableRoleUpdate"
  [selectedRoles]="userData ? userData.webRole : []"
></app-user-role-selection-grid>

<button class="btn btn-default btn-flat btn-left" (click)="onCancelClick()">
  {{ leftActionButton }}
</button>
<button
  class="btn btn-primary btn-flat btn-right"
  (click)="onSaveClick()"
  [disabled]="form.invalid || disableSave"
>
  {{ rightActionButton }}
</button>
<ng-template #loadingIcon>
  <ik-loading size="40px" thickness="3px"></ik-loading>
</ng-template>
