<div *ngIf="currentUser; else loader">
  <ik-header title="{{ currentUser | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button class="btn btn-default btn-flat btn-size btn-right h-button">
        Reset Password
      </button>
    </div>
  </ik-header>
  <ik-card [padding]="false" class="leftColumn column-wide">
    <ik-card-header title="Details"></ik-card-header>
    <div class="flex">
      <div class="left-column">
        <ik-card-info
          header="First Name"
          [text]="currentUser.firstName"
        ></ik-card-info>
        <ik-card-info header="Role" [text]="currentUser.webRole"></ik-card-info>
      </div>
      <div class="right-column">
        <ik-card-info
          header="Last Name"
          [text]="currentUser.lastName"
        ></ik-card-info>
        <ik-card-info
          header="App Access"
          text="GRANTED"
          contentColor="APPROVED"
        ></ik-card-info>
      </div>
    </div>
  </ik-card>
</div>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
