<div *ngIf="currentUser; else loader">
  <ik-header title="{{ currentUser | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-default btn-flat btn-size btn-header-right"
        (click)="onResetPassword()"
      >
        Reset Password
      </button>
    </div>
  </ik-header>
  <div class="layout__left-column layout__column-wide">
    <app-user-details-card [user]="currentUser" (editClick)="onEditClick()">
      <ik-icon
        [icon]="editIcon"
        class="right pointer"
        (click)="onEditClick()"
      ></ik-icon
    ></app-user-details-card>
  </div>

  <div class="layout__right-column layout__column-narrow">
    <app-gurdian-children-details-grid
      *ngIf="currentUser.webRole.includes('GURDIAN')"
      [gurdianId]="currentUser.id"
    ></app-gurdian-children-details-grid>
    <app-user-roles-card [user]="currentUser"></app-user-roles-card>
  </div>
</div>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
