<ng-container *ngIf="currentUser; else pageLoader">
  <ik-header title="{{ currentUser | formatUserName }}">
    <div class="inline header-buttons">
      <button class="btn btn-default btn-header-right" (click)="onResetPassword()">
        <ik-icon icon="rotate" classOverride="btn-icon"></ik-icon>
        Reset Password
      </button>
    </div>
  </ik-header>
  <div class="layout__column-left layout__wide">
    <app-user-details-card
      *ngIf="!currentUser.phone; else guardianDetails"
      [user]="currentUser"
      (editClick)="onEditClick()"
    >
      <ik-icon title="Edit" icon="pen-to-square" class="right pointer" (click)="onEditClick()"></ik-icon
    ></app-user-details-card>
    <ng-template #guardianDetails>
      <app-guardian-details-card [guardian]="currentUser">
        <ik-icon title="Edit" icon="pen-to-square" class="right pointer" (click)="onEditClick()"></ik-icon
      ></app-guardian-details-card>
    </ng-template>
  </div>

  <div class="layout__column-right layout__narrow">
    <app-guardian-children-details-grid
      *ngIf="currentUser.phone"
      [guardianId]="currentUser.id"
      (rowClick)="onChildRowClick($event)"
    ></app-guardian-children-details-grid>
    <app-user-roles-card *ngIf="!isGuardianOnly" [user]="currentUser"></app-user-roles-card>
  </div>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
