<div *ngIf="childData && !loading; else pageLoader">
  <ik-header title="{{ childData | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
  </ik-header>
  <ik-banner *ngIf="childData.guardians?.length <= 0" type="warning"> Child does not have any guardians. </ik-banner>
  <div class="layout__column-left layout__half">
    <app-child-details-card [child]="childData" (editClick)="onChildDetailEditClick()"></app-child-details-card>
    <app-child-additional-info-card [child]="childData"></app-child-additional-info-card>
  </div>
  <div class="layout__column-right layout__half">
    <app-child-group-details-grid [child]="childData" [editIconVisible]="false"></app-child-group-details-grid>
    <ik-card>
      <ik-card-header title="Child Identification"> </ik-card-header>
      <qrcode class="text-center" [qrdata]="qrCodeUrl" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
    </ik-card>
  </div>
</div>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
