<div class="create-account__container">
  <form id="createAccountForm" [formGroup]="form">
    <div class="row">
      <div class="create-account__title">Create Account</div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="create-account__input--small"
          placeholder="First Name"
        />
      </div>
      <div class="col-sm-6 col-xs-12">
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="create-account__input--small"
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <select class="create-account__input" formControlName="webRole">
          <option *ngFor="let role of roles" [ngValue]="role">
            {{ role | webRoleTranslate }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="create-account__input"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="create-account__input"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          id="createAccountButton"
          class="btn btn-round btn-primary create-account__button"
          (click)="onCreateAccountClick()"
          [disabled]="form.invalid"
          *ngIf="!loading; else loader"
        >
          Create
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="create-account__text-label">
          Already Have an account?
          <a routerLink="/login" class="create-account__link-text">Sign In!</a>
        </p>
      </div>
    </div>
  </form>
</div>

<ng-template #loader>
  <ik-loading type="ellipsis"></ik-loading>
</ng-template>
