@import "/styles/variables";

.create-account__container {
  width: 35%;
  margin: 15em auto;
  padding: 10px;
  background-color: transparent;
}

.create-account__input {
  border-radius: 30px;
  padding: 12px 12px 12px 35px;
  width: 95%;
  font-size: $font-size-md;
  border-style: hidden;
  background: #504c5b;
  opacity: 0.8;
  margin: 10px 0px;
  border: 1px solid #504c5b;
  color: white;
  font-weight: 600;
  transition: all 0.5s ease;

  &--small {
    @extend .create-account__input;
    width: 90%;
  }
}

.create-account__title {
  color: #fff;
  font-size: $font-size-xl;
  font-weight: 600;
  margin-bottom: 15px;
}

.create-account__input:focus {
  border-bottom: 1.5px solid #0095ff;
  border-radius: 15px;
}

.create-account__input::placeholder {
  color: white;
  opacity: 1;
}

.create-account__button {
  width: 50%;
  margin: 15px auto;
}

.create-account__text-label {
  color: #b1b1b1;
  font-size: $font-size-caption;
  font-weight: 600;
}

.create-account__link-text {
  color: rgb(116, 163, 250);
}

@media screen and (max-width: 1200px) {
  .create-account__container {
    width: 60%;
    margin: 20em auto;
  }
}

@media screen and (max-width: 700px) {
  .create-account__container {
    width: 90%;
    margin: 15em auto;
  }
}

@media screen and (max-width: 500px) {
  .create-account__container {
    width: 95%;
    margin: 10em auto;
  }

  .create-account__input--small {
    width: 95%;
  }
}
