<div
  class="sidenav-drawer__category"
  [ngClass]="{
    'sidenav-drawer__category--active': isRouteActive(navItem.route) && !isNested,
    'sidenav-drawer__category__nested--active': isRouteActive(navItem.route) && isNested
  }"
  (click)="toggleDropdown()"
>
  <ik-icon
    *ngIf="navItem.icon"
    class="sidenav-drawer__category__icon"
    classOverride="sidenav-drawer__category__icon fa-icon"
    [icon]="navItem.icon"
  ></ik-icon>
  <span [ngClass]="{ 'sidenav-drawer__category__title': !isNested }">{{ navItem.name }}</span>

  <ik-icon
    class="flex-one"
    [classOverride]="'sidenav-drawer__dropdown-icon--' + (this.isOpen ? 'open' : 'closed')"
    icon="caret-left"
  ></ik-icon>
</div>
<div
  [id]="navItem.submenu.id"
  class="sidenav-drawer__dropdown"
  [ngClass]="{ 'sidenav-drawer__dropdown--open': isOpen, 'sidenav-drawer__dropdown--closed': !isOpen }"
>
  <ng-container *ngFor="let submenu of navItem.submenu.items">
    <ng-container *ngIf="submenu?.restriction; else dropdownContent">
      <ng-container *featureAccess="[submenu.restriction.app, submenu.restriction.feature, submenu.restriction.access]">
        <ng-container *ngTemplateOutlet="dropdownContent"></ng-container>
      </ng-container>
    </ng-container>
    <ng-template #dropdownContent>
      <ng-container *ngIf="submenu.submenu; else submenuRouteItem">
        <ik-sidenav-drawer-dropdown
          [navItem]="submenu"
          [isNested]="true"
          [baseRoute]="navItem.route"
        ></ik-sidenav-drawer-dropdown>
      </ng-container>
      <ng-template #submenuRouteItem>
        <ng-container *ngIf="submenu.route">
          <a
            class="sidenav-drawer__category"
            [routerLink]="baseRoute + navItem.route + submenu.route"
            (click)="onRoute(baseRoute + navItem.route + submenu.route)"
            routerLinkActive="sidenav-drawer__category__nested--active"
          >
            {{ submenu.name }}
          </a>
        </ng-container>
        <ng-container *ngIf="submenu.href">
          <a class="sidenav-drawer__category" [href]="submenu.href">
            {{ submenu.name }}
          </a>
        </ng-container>
      </ng-template>
    </ng-template>
  </ng-container>
</div>
