<ng-container *ngIf="!loading; else loader">
  <ik-header [title]="record.name">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-danger btn-flat btn-header-right"
        *featureAccess="[
          Application.JUNIOR_CHURCH,
          Feature.DETAIL,
          Access.DELETE
        ]"
        (click)="deleteModal.modal.open()"
      >
        <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
        Delete
      </button>
      <ng-container
        *featureAccess="[
          Application.JUNIOR_CHURCH,
          Feature.CHECK_IN,
          Access.DELETE
        ]"
      >
        <button
          class="btn btn-danger btn-flat btn-header-right"
          *ngIf="record.status === 'ACTIVE'"
          (click)="closeModal.modal.open()"
        >
          <ik-icon icon="lock" classOverride="btn-icon"></ik-icon>
          Close
        </button></ng-container
      >

      <ng-container
        *featureAccess="[
          Application.JUNIOR_CHURCH,
          Feature.CHECK_IN,
          Access.CREATE
        ]"
      >
        <button
          class="btn btn-primary btn-flat btn-header-right"
          *ngIf="canStartCheckIn && record.status === 'PENDING'"
          (click)="onStartCheckIn()"
        >
          <ik-icon icon="user-check" classOverride="btn-icon"></ik-icon>
          Start Check In
        </button>
      </ng-container>
    </div>
  </ik-header>
  <div class="layout__column-left layout__wide">
    <ik-card>
      <ik-card-header title="Details">
        <ng-container *ngIf="record.status !== 'CLOSED'">
          <ik-icon
            *featureAccess="[
              Application.JUNIOR_CHURCH,
              Feature.DETAIL,
              Access.UPDATE
            ]"
            icon="pen-to-square"
            class="right pointer"
            classOverride="icon__default"
            (click)="onEditClick()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
      <div class="flex">
        <div class="left-column">
          <ik-card-info header="Name" [text]="record.name"></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info
            header="Attendance Type"
            [text]="record.formattedType"
          ></ik-card-info>
        </div>
      </div>

      <div class="flex">
        <div class="left-column">
          <ik-card-info
            [contentColor]="record.status"
            header="Status"
            [text]="record.status"
          ></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info
            header="Active Date"
            [text]="record.activeDate | date : 'MMMM d, y'"
          >
          </ik-card-info>
        </div>
      </div>
      <div class="flex">
        <div class="left-column">
          <ik-card-info
            header="Created Date"
            [text]="record.insertDate | date : 'MMMM d, y'"
          >
          </ik-card-info>
        </div>
      </div>
    </ik-card>
    <ik-grid
      [dataLoader]="childrenDataloader"
      *ngIf="record.status !== 'PENDING'"
    >
      <ik-card-header title="Children">
        <ng-container *ngIf="record.status !== 'CLOSED'">
          <ik-icon
            *featureAccess="[
              Application.JUNIOR_CHURCH,
              Feature.DETAIL,
              Access.UPDATE
            ]"
            icon="pen-to-square"
            class="right pointer"
            classOverride="icon__default"
            (click)="onChildrenCheckInEditClick()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
      <ik-grid-search></ik-grid-search>
      <ik-grid-column label="Name" field="formattedName"> </ik-grid-column>
      <ik-grid-column label="CUID" field="cuid"></ik-grid-column>
      <ik-grid-column label="Checked In" field="checkInDate">
        <ng-template let-data>
          {{ data.checkInDate | date : "h:mm a" }}
        </ng-template>
      </ik-grid-column>
      <ik-grid-pager key="Children" [pageSize]="5"></ik-grid-pager>
    </ik-grid>
  </div>
  <div class="layout__column-right layout__narrow">
    <ik-grid [dataLoader]="workerDataloader">
      <ik-card-header title="Workers">
        <ng-container *ngIf="record.status !== 'CLOSED'">
          <ik-icon
            *featureAccess="[
              Application.JUNIOR_CHURCH,
              Feature.DETAIL,
              Access.UPDATE
            ]"
            icon="pen-to-square"
            class="right pointer"
            classOverride="icon__default"
            (click)="onEditClick()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
      <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
      <ik-grid-column label="Email" field="email"></ik-grid-column>
      <ik-grid-pager
        key="Workers"
        [pagerVisible]="false"
        [pageSize]="10"
      ></ik-grid-pager>
    </ik-grid>
  </div>
</ng-container>

<app-delete-record-modal
  #deleteModal
  [recordId]="record.id"
></app-delete-record-modal>

<app-close-attendance-record-modal
  #closeModal
  [recordId]="record.id"
  (closed)="onRecordClosed()"
>
</app-close-attendance-record-modal>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
