<ng-container *ngIf="!loading; else loader">
  <ik-header [title]="record.name">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-danger btn-flat btn-header-right"
        *webRoleRestrictionAccess="WebRole.SITE_ADMINISTRATOR"
        (click)="deleteModal.modal.open()"
      >
        <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
        Delete
      </button>
      <button
        class="btn btn-danger btn-flat btn-header-right"
        *ngIf="record.status === 'ACTIVE'"
      >
        <ik-icon icon="lock" classOverride="btn-icon"></ik-icon>
        Close
      </button>
      <button
        class="btn btn-primary btn-flat btn-header-right"
        *ngIf="canStartCheckIn"
      >
        <ik-icon icon="user-check" classOverride="btn-icon"></ik-icon>
        Start Check In
      </button>
    </div>
  </ik-header>
  <div class="layout__column-left layout__wide">
    <ik-card>
      <ik-card-header title="Details">
        <ik-icon
          icon="pen-to-square"
          class="right pointer"
          classOverride="icon__default"
          (click)="onEditClick()"
        ></ik-icon>
      </ik-card-header>
      <div class="flex">
        <div class="left-column">
          <ik-card-info header="Name" [text]="record.name"></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info
            header="Attendance Type"
            [text]="record.formattedType"
          ></ik-card-info>
        </div>
      </div>

      <div class="flex">
        <div class="left-column">
          <ik-card-info
            [contentColor]="record.status"
            header="Status"
            [text]="record.status"
          ></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info
            header="Active Date"
            [text]="record.activeDate | date : 'MMMM d, y'"
          >
          </ik-card-info>
        </div>
      </div>
    </ik-card>
  </div>
  <div class="layout__column-right layout__narrow">
    <ik-grid [dataLoader]="workerDataloader">
      <ik-card-header title="Workers"> </ik-card-header>
      <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
      <ik-grid-column label="Email" field="email"></ik-grid-column>
      <ik-grid-pager
        key="Workers"
        [pagerVisible]="false"
        [pageSize]="8"
      ></ik-grid-pager>
    </ik-grid>
  </div>
</ng-container>

<app-delete-record-modal
  #deleteModal
  [recordId]="record.id"
></app-delete-record-modal>
<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
