<ik-form [formGroup]="form">
  <div class="row" *ngIf="group === ChurchGroup.NURSERY">
    <ik-form-field header="Type*" class="col-12">
      <label class="input-inline">
        <input
          type="radio"
          formControlName="radio"
          class="form-check-input checkbox__default"
          [value]="true"
        />
        <span>Sunday School (SS)</span>
      </label>
      <label class="input-inline">
        <input
          type="radio"
          formControlName="radio"
          class="form-check-input checkbox__default"
          [value]="false"
        />
        <span>Morning Service (AM)</span>
      </label>
    </ik-form-field>
  </div>
  <div class="row">
    <ik-form-field header="Name*" class="col-md-6"
      ><input
        maxlength="26"
        class="form-input__normal"
        placeholder="Name"
        formControlName="name"
        readonly
        [disabled]="true"
      />
    </ik-form-field>

    <ik-form-field header="Active Date*" class="col-md-6"
      ><input
        type="date"
        class="form-input__normal"
        placeholder="Active Date"
        formControlName="activeDate"
      />
    </ik-form-field>
  </div>

  <ik-form-field header="Workers*">
    <ik-multi-select
      formControlName="workers"
      [items]="workers"
    ></ik-multi-select>
  </ik-form-field>
</ik-form>

<button class="btn btn-default btn-flat btn-left" (click)="onCancelClick()">
  {{ leftActionButton }}
</button>
<button
  class="btn btn-primary btn-flat btn-right"
  (click)="onSaveClick()"
  [disabled]="form.invalid || disableSave"
>
  {{ rightActionButton }}
</button>
