<ik-modal #fileDetailsModal name="fileDetailsModal" class="modal-body__padding-none">
  <ik-modal-header title="File Information" type="info"></ik-modal-header>
  <ik-modal-body>
    <div class="row">
      <ik-card-info class="col-12" header="Name" [text]="selectedFile?.name"></ik-card-info>
    </div>
    <div class="row">
      <ik-card-info
        class="col-6"
        header="Size"
        text="{{ selectedFile?.size / 1000000 | number : '1.2-2' }} MB"
      ></ik-card-info>
      <ik-card-info
        class="col-6"
        header="Created"
        [text]="selectedFile?.timestampInstant | date : 'MMMM d, y'"
      ></ik-card-info>
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button
      actionBarLeft
      *featureAccess="[Application.JUNIOR_CHURCH, FeatureType.LESSONS, Access.DELETE]"
      class="btn btn-danger btn-modal"
      (click)="onFileDeleteClick()"
    >
      <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
      Delete
    </button>
    <button actionBarRight class="btn btn-default btn-modal" (click)="fileDetailsModal.close()">Close</button>
    <button
      actionBarRight
      class="btn btn-primary btn-modal"
      (click)="onFileDownload()"
      *ngIf="selectedFile?.file"
      [disabled]="modalDownloadLoading"
    >
      <ik-icon *ngIf="!modalDownloadLoading; else downloadLoading" icon="download" classOverride="btn-icon"></ik-icon>
      Download

      <ng-template #downloadLoading>
        <ik-icon icon="spinner" classOverride="btn-icon" [spin]="true"></ik-icon>
      </ng-template>
    </button>
  </ik-modal-action-bar>
</ik-modal>

<app-delete-file-modal [basePath]="basePath" (fileDeleted)="onFileDeleted()"></app-delete-file-modal>
