<ik-header title="Reset Password"
  ><ik-header-back (back)="onBackClick()"></ik-header-back>
</ik-header>
<ng-container *ngIf="!loading; else loadingIcon">
  <ik-form [formGroup]="form">
    <ik-form-field header="New Password*"
      ><input
        class="form-input__normal"
        placeholder="New Password"
        formControlName="password"
      />
    </ik-form-field>

    <ik-form-field header="Confirm New Password*"
      ><input
        class="form-input__normal"
        placeholder="Confirm New Password"
        formControlName="confirmPassword"
      />
    </ik-form-field>
  </ik-form>
  <button
    class="btn btn-default btn-flat btn-size btn-left"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary btn-flat btn-size btn-right"
    (click)="onResetClick()"
    [disabled]="form.invalid || !form.dirty"
  >
    Reset Password
  </button>
</ng-container>

<ng-template #loadingIcon>
  <ik-loading></ik-loading>
</ng-template>
