---
name: Test Report
about: Adding test functionality to service
title: ''
labels: Test
assignees: ''

---

## **Describe the Test**
- A clear and concise description of what the test will be doing

## **Affected services**
- What services is the test being added confirming functionality of.

## **Acceptance Criteria**
- How can the test be confirmed it is working. (Build passes, specific test pass, etc)

### **Screenshots**
If applicable, add screenshots to confirm working test.

## **Dependencies**
- Any dependent issues or pull request. Use the `#` to link an issue or pull request
