<div class="row">
  <div class="col-sm-4">
    <ik-card class="vbs-stats__card">
      <div class="vbs-stats__header">Children Registered</div>
      <div class="vbs-stats__body">12</div>
    </ik-card>
  </div>

  <div class="col-sm-4">
    <ik-card class="vbs-stats__card">
      <div class="vbs-stats__header">Donations</div>
      <div class="vbs-stats__money-sign">$</div>
      <div class="vbs-stats__body">1,204.76</div>
    </ik-card>
  </div>

  <div class="col-sm-4">
    <ik-card class="vbs-stats__card">
      <div class="vbs-stats__header">Budget</div>
      <div class="vbs-stats__money-sign">$</div>
      <div class="vbs-stats__body">1,000</div>
    </ik-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ik-card>
      <ik-card-header title="Details"></ik-card-header>
      <div class="flex">
        <div class="left-column">
          <ik-card-info header="Theme" text="Twist & Turns"></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info header="Year" text="2024"></ik-card-info>
        </div>
      </div>
      <div class="flex">
        <div class="left-column">
          <ik-card-info header="Money Raised" text="$1,500"></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info header="Donating To" text="Basketball Court"></ik-card-info>
        </div>
      </div>
    </ik-card>
  </div>
  <div class="col-md-6">
    <div #charts class="vbs-stats__worker-chart"></div>
  </div>
</div>
