<div *ngIf="!loading; else pageLoader">
  <ik-header title="{{ gurdianData | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-danger btn-flat btn-header-right"
        (click)="deleteGurdianModal.modal.open()"
        *featureAccess="[
          Application.GURDIANS,
          FeatureType.DETAIL,
          Access.DELETE
        ]"
      >
        <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
        Delete
      </button>
    </div>
  </ik-header>
  <div class="layout__column-left layout__half">
    <app-gurdian-details-card
      [gurdian]="gurdianData"
      (editClick)="onEditClick()"
    ></app-gurdian-details-card>
  </div>
  <div class="layout__column-right layout__half">
    <app-gurdian-children-details-grid
      [gurdianId]="gurdianData.id"
    ></app-gurdian-children-details-grid>
  </div>
</div>

<app-delete-gurdian-modal
  #deleteGurdianModal
  [gurdianId]="gurdianData?.id"
></app-delete-gurdian-modal>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
