<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="'Snacks - ' + record.name">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
  </ik-header>
  <ik-card class="vbs-stats__card">
    <div class="vbs-stats__header">Total Children</div>
    <div class="vbs-stats__body">{{ totalRecordChildren }}</div>
  </ik-card>
</ng-container>

<!-- <ik-grid [dataLoader]="dataloader" (rowClick)="onRowClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="CUID" field="cuid"></ik-grid-column>
  <ik-grid-column label="Birthday" field="birthday"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Children"></ik-grid-pager>
</ik-grid> -->

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
