<ik-header title="Gurdians">
  <button
    class="btn btn-primary btn-flat btn-header-right"
    (click)="onAddGurdian()"
    *featureAccess="[Application.GURDIANS, Feature.DETAIL, Access.CREATE]"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    Add Gurdian
  </button>
</ik-header>
<ik-grid
  basePath="gurdians"
  [dataLoader]="dataloader"
  (rowClick)="onRowClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Phone" field="phone"></ik-grid-column>
  <ik-grid-column label="Email" field="email"></ik-grid-column>
  <ik-grid-pager key="Gurdians"></ik-grid-pager>
</ik-grid>
