<ik-modal #webRoleFeatureUpdateModal name="webRoleFeatureUpdateModal">
  <ik-modal-header title="Update Web Role Feature?" type="info"></ik-modal-header>
  <ng-container *ngIf="webRoleFeature && !modalLoading; else modalLoader">
    <ik-modal-body>
      <div class="row">
        <ik-card-info
          class="col-6"
          header="App Feature"
          [text]="(webRoleFeature.app | titlecase) + ' (' + (webRoleFeature.feature | titlecase) + ')'"
        ></ik-card-info>
        <ik-card-info class="col-6" header="Web Role" [text]="webRoleFeature.webRole | webRoleTranslate"></ik-card-info>
      </div>
      <div class="row">
        <ik-form-field header="Create" class="col-6">
          <ik-checkbox #fieldCreate [checked]="webRoleFeature.create"></ik-checkbox>
        </ik-form-field>
        <ik-form-field header="Read" class="col-6">
          <ik-checkbox #fieldRead [checked]="webRoleFeature.read"></ik-checkbox>
        </ik-form-field>
      </div>
      <div class="row">
        <ik-form-field header="Update" class="col-6">
          <ik-checkbox #fieldUpdate [checked]="webRoleFeature.update"></ik-checkbox>
        </ik-form-field>
        <ik-form-field header="Delete" class="col-6">
          <ik-checkbox #fieldDelete [checked]="webRoleFeature.delete"></ik-checkbox>
        </ik-form-field>
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="webRoleFeatureUpdateModal.close()">
        Cancel
      </button>
      <button actionBarRight class="btn btn-primary btn-modal" (click)="onUpdateWebRoleFeature()">Update</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
