<ng-container *ngIf="wizardData; else pageLoader">
  <ik-header title="VBS Registration"> </ik-header>
  <ik-wizard #wizard>
    <ik-wizard-step>
      <app-vbs-child-registration-wizard-step-one
        (next)="onStep1Next($event, wizard)"
      ></app-vbs-child-registration-wizard-step-one>
    </ik-wizard-step>

    <ik-wizard-step>
      <app-vbs-child-registration-wizard-step-two
        [wizard]="wizard"
        [activeStep]="wizard.activeIndex"
        [childExists]="childExists"
        (next)="onStep2Next($event, wizard)"
      ></app-vbs-child-registration-wizard-step-two>
    </ik-wizard-step>

    <ik-wizard-step>
      <app-vbs-child-registration-wizard-step-three
        [wizard]="wizard"
        [activeStep]="wizard.activeIndex"
        (next)="onStep3Next($event, wizard)"
      ></app-vbs-child-registration-wizard-step-three>
    </ik-wizard-step>
    <ik-wizard-step>
      <app-vbs-child-registration-wizard-step-four
        [wizard]="wizard"
        [childExists]="childExists"
        [guardians]="guardiansToCreate"
        [children]="childrenToRegister"
        [activeStep]="wizard.activeIndex"
        (previous)="onStep4Previous(wizard)"
        (save)="onSaveClick($event)"
      ></app-vbs-child-registration-wizard-step-four>
    </ik-wizard-step>
  </ik-wizard>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
