<ik-header title="VBS Registration"> </ik-header>
<ik-wizard #wizard>
  <ik-wizard-step>
    <app-vbs-child-registration-wizard-step-one [wizard]="wizard"></app-vbs-child-registration-wizard-step-one>
  </ik-wizard-step>

  <ik-wizard-step>
    <app-vbs-child-registration-wizard-step-two
      [wizard]="wizard"
      [activeStep]="wizard.activeIndex"
    ></app-vbs-child-registration-wizard-step-two>
  </ik-wizard-step>

  <ik-wizard-step>
    <app-vbs-child-registration-wizard-step-three
      [wizard]="wizard"
      [activeStep]="wizard.activeIndex"
    ></app-vbs-child-registration-wizard-step-three>
  </ik-wizard-step>
  <ik-wizard-step>
    <app-vbs-child-registration-wizard-step-four
      [wizard]="wizard"
      [activeStep]="wizard.activeIndex"
    ></app-vbs-child-registration-wizard-step-four>
  </ik-wizard-step>
  <ik-wizard-step>
    <app-vbs-child-registration-wizard-step-five
      [loading]="loading"
      [wizard]="wizard"
      [activeStep]="wizard.activeIndex"
      (save)="onSaveClick($event)"
    ></app-vbs-child-registration-wizard-step-five>
  </ik-wizard-step>
</ik-wizard>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
