<form [formGroup]="form" class="child-form__space-between">
  <ik-card [padding]="false" [marginBottom]="false">
    <div class="row">
      <ik-card-info header="First Name*" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="First Name"
          formControlName="firstName"
        />
      </ik-card-info>

      <ik-card-info header="Last Name*" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </ik-card-info>
    </div>

    <div class="row">
      <ik-card-info header="Birthday*" class="col-md-6"
        ><input
          type="date"
          class="form-input__normal"
          placeholder="Birthday"
          formControlName="birthday"
        />
      </ik-card-info>
      <ik-card-info header="Allergies" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="Allergies"
          formControlName="allergies"
        />
      </ik-card-info>
    </div>

    <ik-card-info header="Additional Information">
      <textarea
        formControlName="additionalInfo"
        rows="4"
        cols="50"
        class="form-input__normal textarea-margin"
      ></textarea>
    </ik-card-info>
  </ik-card>
</form>

<ng-content></ng-content>

<button
  class="btn btn-default btn-flat btn-size btn-left"
  (click)="onCancelClick()"
>
  {{ leftActionButton }}
</button>
<button
  class="btn btn-primary btn-flat btn-size btn-right"
  (click)="onSaveClick()"
  [disabled]="form.invalid || !form.dirty || disableSave"
>
  {{ rightActionButton }}
</button>
<ng-template #loadingIcon>
  <ik-loading size="40px" thickness="3px"></ik-loading>
</ng-template>
