<ng-container *ngIf="!loading; else pageLoader">
  <ik-form [formGroup]="form">
    <div class="row">
      <ik-form-field header="First Name*" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="First Name"
          formControlName="firstName"
        />
      </ik-form-field>

      <ik-form-field header="Last Name*" class="col-md-6"
        ><input
          class="form-input__normal"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </ik-form-field>
    </div>

    <div class="row">
      <ik-form-field header="Birthday*" class="col-md-6"
        ><input
          type="date"
          class="form-input__normal"
          placeholder="Birthday"
          formControlName="birthday"
        />
      </ik-form-field>
      <ik-form-field header="Allergies" class="col-md-6">
        <div class="form-input__multi-tag">
          <ik-tag-input-field
            [tags]="childData?.allergies ? childData?.allergies : []"
            classOverride="multi-input"
            placeholder="Allergies"
          ></ik-tag-input-field>
        </div>
      </ik-form-field>
    </div>
    <ik-form-field header="Church Groups" *ngIf="groupEdit">
      <ik-multi-select
        formControlName="groups"
        [items]="churchGroups"
      ></ik-multi-select>
    </ik-form-field>
    <ik-form-field header="Additional Information">
      <textarea
        formControlName="additionalInfo"
        rows="4"
        cols="50"
        class="form-input__normal"
      ></textarea>
    </ik-form-field>
    <ik-form-field header="Release of Liability Agreement">
      <div class="input-inline">
        <input
          type="checkbox"
          class="form-check-input checkbox__default"
          formControlName="releaseOfLiability"
        />
        <span
          >Yes, Guardian Agrees to the
          <a
            href="assets/images/Liability-Agreement.png"
            target="_blank"
            class="link"
            >Release of Liability</a
          ></span
        >
      </div>
    </ik-form-field>
  </ik-form>
  <ng-content></ng-content>

  <button
    *ngIf="leftActionButton"
    class="btn btn-default btn-left"
    (click)="onCancelClick()"
  >
    {{ leftActionButton }}
  </button>
  <button
    *ngIf="rightActionButton"
    class="btn btn-primary btn-right"
    (click)="onSaveClick()"
    [disabled]="form.invalid || disableSave"
  >
    {{ rightActionButton }}
  </button>
  <ng-content select="button"></ng-content>
</ng-container>

<app-duplicate-child-modal
  (acknowledged)="saveChild()"
></app-duplicate-child-modal>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
