<ik-form [formGroup]="form">
  <div class="row">
    <ik-form-field header="First Name*" class="col-md-6"
      ><input
        class="form-input__normal"
        placeholder="First Name"
        formControlName="firstName"
      />
    </ik-form-field>

    <ik-form-field header="Last Name*" class="col-md-6"
      ><input
        class="form-input__normal"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </ik-form-field>
  </div>

  <div class="row">
    <ik-form-field header="Birthday*" class="col-md-6"
      ><input
        type="date"
        class="form-input__normal"
        placeholder="Birthday"
        formControlName="birthday"
      />
    </ik-form-field>
    <ik-form-field header="Allergies" class="col-md-6"
      ><input
        class="form-input__normal"
        placeholder="Allergies"
        formControlName="allergies"
      />
    </ik-form-field>
  </div>

  <ik-form-field header="Additional Information">
    <textarea
      formControlName="additionalInfo"
      rows="4"
      cols="50"
      class="form-input__normal"
    ></textarea>
  </ik-form-field>
</ik-form>
<ng-content></ng-content>

<button
  *ngIf="leftActionButton"
  class="btn btn-default btn-flat btn-left"
  (click)="onCancelClick()"
>
  {{ leftActionButton }}
</button>
<button
  *ngIf="rightActionButton"
  class="btn btn-primary btn-flat btn-right"
  (click)="onSaveClick()"
  [disabled]="form.invalid || !form.dirty || disableSave"
>
  {{ rightActionButton }}
</button>
<ng-content select="button"></ng-content>
