<ik-card>
  <ik-card-header [title]="title">
    <ng-container *ngIf="showEdit">
      <ik-icon
        title="Edit"
        icon="pen-to-square"
        class="right pointer"
        classOverride="icon icon--default"
        (click)="onEditIconClick()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>

  <div class="row">
    <ik-card-info class="col-md-6" header="Name" text="{{ guardian | formatUserName }}"></ik-card-info>
    <ik-card-info class="col-md-6" header="Phone" [text]="guardian?.phone ? guardian.phone : '-'"></ik-card-info>
  </div>

  <div class="row">
    <ik-card-info class="col-md-6" header="Email" [text]="guardian?.email ? guardian.email : '-'"></ik-card-info>
  </div>
</ik-card>
