<div class="welcome-container">
  <div class="welcome-content">
    <div class="welcome-text">
      <h1 class="welcome-title">Your Children and our Youth Ministry</h1>
      <p class="welcome-body">
        Awana offers a curriculum that reaches kids and their families with the
        gospel. Our proven and adaptable curriculum will have you developing
        leaders and discipling kids to walk with Christ for life. The curriculum
        and programs start at age 4 and continue through age 18.
      </p>
    </div>
  </div>
</div>
