<div class="reset-password__container">
  <form id="forgotPasswordForm" [formGroup]="form">
    <div class="row">
      <div class="reset-password__title">Change Password</div>
    </div>
    <div class="row">
      <h5 class="reset-password__small-text">Please set a new password</h5>
    </div>

    <div class="row">
      <div class="col-12">
        <fa-icon icon="lock" class="reset-password__icon--password"></fa-icon>
        <input
          id="newPassword"
          formControlName="newPassword"
          class="reset-password__input"
          placeholder="New Password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fa-icon icon="lock" class="reset-password__icon--password"></fa-icon>
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          class="reset-password__input"
          placeholder="Confirm Password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          id="forgotPasswordButton"
          class="btn btn-round btn-primary reset-password__button"
          (click)="onResetPassword()"
          [disabled]="form.invalid"
          *ngIf="!loading; else forgotPasswordLoader"
        >
          Change Password
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    <p class="reset-password__link-text">
      Remeber your password?
      <a routerLink="/login">Sign In</a>
    </p>
  </div>
</div>

<ng-template #forgotPasswordLoader>
  <ik-loading type="ellipsis"></ik-loading>
</ng-template>
