<ik-modal #vbsAttendanceDetailModal name="vbsAttendanceDetailModal" class="modal-body__padding-none">
  <ik-modal-header
    title="Attendance Details"
    type="info"
    [showCloseIcon]="true"
    (close)="vbsAttendanceDetailModal.close()"
  ></ik-modal-header>
  <ik-modal-body *ngIf="record">
    <div class="row">
      <div class="col-6">
        <ik-card-info header="Name" [text]="record.name"></ik-card-info>
      </div>
      <div class="col-6">
        <ik-card-info header="Status" [contentColor]="record.status" [text]="record.status"></ik-card-info>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <ik-card-info header="Spirit Theme" [text]="record?.spiritTheme ? record.spiritTheme : '-'"></ik-card-info>
      </div>
      <div class="col-6">
        <ik-card-info header="Active Date" [text]="record.activeDate"></ik-card-info>
      </div>
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button class="btn btn-primary btn-left btn-modal" (click)="onCheckInClick()">
      <ik-icon icon="clipboard-check" classOverride="btn-icon"></ik-icon> Check In
    </button>
    <button class="btn btn-info btn-right btn-modal" (click)="onChildrenPointsClick()">
      <ik-icon icon="star" classOverride="btn-icon"></ik-icon> Children Points
    </button>
  </ik-modal-action-bar>
</ik-modal>
