<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="(childData | formatUserName) + ' (' + latestTheme.name + ')'">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
  </ik-header>

  <div class="row">
    <div class="col-lg-7">
      <app-child-details-card [child]="childData" [showEdit]="false"></app-child-details-card>
      <app-child-attendance-records-grid
        [dataloader]="childAttendanceDataloader"
        [pagerVisible]="false"
        (rowClick)="childAttendancePointsModal.open($event)"
      ></app-child-attendance-records-grid>
    </div>
    <div class="col-lg-5">
      <ik-card>
        <ik-card-header title="Child Points"></ik-card-header>
        <ik-loading *ngIf="chartLoading" type="double"></ik-loading>
        <div #charts></div>
      </ik-card>

      <app-child-guardians-details-grid
        [editVisible]="false"
        [childId]="childData.id"
        [guardians]="childData.guardians"
      ></app-child-guardians-details-grid>
    </div>
  </div>

  <app-vbs-attendance-points-modal
    #childAttendancePointsModal
    [vbsThemeId]="latestTheme.id"
    (pointsUpdated)="onUpdateChart()"
  ></app-vbs-attendance-points-modal>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>

<ng-template #cardLoader>
  <ik-loading></ik-loading>
</ng-template>
