<ik-grid [dataLoader]="dataLoader" (rowClick)="onRowClick($event)">
  <ng-content select="ik-card-header" ngProjectAs="ik-card-header"></ng-content>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"> </ik-grid-column>
  <ik-grid-column label="CUID" field="cuid"></ik-grid-column>
  <ik-grid-column label="Checked In" field="checkInDate">
    <ng-template let-data>
      {{ data.checkInDate | date : 'h:mm a' }}
    </ng-template>
  </ik-grid-column>
  <ik-grid-column label="Checked Out" field="checkOutDate">
    <ng-template let-data>
      {{ data.checkOutDate ? (data.checkOutDate | date : 'h:mm a') : '-' }}
    </ng-template>
  </ik-grid-column>
  <ik-grid-pager key="Children" [pageSize]="10"></ik-grid-pager>
</ik-grid>
