<ik-header title="Junior Church Registration"> </ik-header>
<ik-wizard #wizard>
  <ik-wizard-step>
    <app-junior-church-registration-wizard-step-one
      (next)="onStep1Next($event, wizard)"
    ></app-junior-church-registration-wizard-step-one>
  </ik-wizard-step>

  <ik-wizard-step>
    <app-junior-church-registration-wizard-step-two
      [childExists]="childExists"
      (next)="onStep2Next($event, wizard)"
    ></app-junior-church-registration-wizard-step-two>
  </ik-wizard-step>

  <ik-wizard-step>
    <app-junior-church-registration-wizard-step-three
      (next)="onStep3Next($event, wizard)"
    ></app-junior-church-registration-wizard-step-three>
  </ik-wizard-step>
  <ik-wizard-step>
    <app-junior-church-registration-wizard-step-four
      [loading]="loading"
      [child]="currentChildInformation"
      (previous)="onStep4Previous(wizard)"
      (save)="onSaveClick($event)"
    ></app-junior-church-registration-wizard-step-four>
  </ik-wizard-step>
</ik-wizard>
