<ik-modal #createApplicationModal name="v">
  <ik-modal-header title="Create Application?" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form *ngIf="form" [formGroup]="form">
        <ik-form-field header="Application Key" [padding]="false">
          <input class="form-input__normal" placeholder="Application Key" formControlName="key" />
        </ik-form-field>
        <ik-form-field header="Display Name" [padding]="false">
          <input class="form-input__normal" placeholder="Display Name" formControlName="displayName" />
        </ik-form-field>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button class="btn btn-default btn-left btn-modal" (click)="createApplicationModal.close()">Cancel</button>
      <button
        class="btn btn-primary btn-right btn-modal"
        (click)="onCreateApplication()"
        [disabled]="form && form.invalid"
      >
        Save
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
