@import '/styles/variables';

.global_container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: $footer-height;

  &__background {
    @extend .global_container;
    background: #ebeff5;
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
