<div *ngIf="!loading; else loader">
  <ik-header title="{{ clubberData | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons">
      <button
        class="btn btn-danger btn-flat btn-size btn-right h-button"
        (click)="deleteClubberModal.modal.open()"
      >
        Delete Clubber
      </button>
    </div>
  </ik-header>
  <div class="layout__left-column layout__column-half">
    <app-clubber-details-card
      [clubber]="clubberData"
      [editEnabled]="true"
    ></app-clubber-details-card>
    <app-clubber-additional-info-card
      [clubber]="clubberData"
    ></app-clubber-additional-info-card>
  </div>
  <div class="layout__right-column layout__column-half">
    <app-clubber-gurdians-details-grid
      [clubberId]="clubberData.id"
    ></app-clubber-gurdians-details-grid>
  </div>
</div>

<app-delete-clubber-modal
  #deleteClubberModal
  [clubberId]="clubberData?.id"
></app-delete-clubber-modal>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
