<ik-header title="Edit Child Gurdians">
  <ik-header-back (back)="onCancelClick()"></ik-header-back
></ik-header>

<ng-container *ngIf="gurdiansUpdating && !loading; else loader">
  <app-child-gurdians-grid-card
    [gurdians]="gurdiansUpdating"
  ></app-child-gurdians-grid-card>

  <button class="btn btn-default btn-flat btn-left" (click)="onCancelClick()">
    Cancel
  </button>
  <button class="btn btn-primary btn-flat btn-right" (click)="onUpdateClick()">
    Update Gurdians
  </button>
</ng-container>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
