<ik-header [title]="'Create Gurdian from Existing User'"
  ><ik-header-back (back)="onCancelClick()"></ik-header-back>
</ik-header>
<ik-grid [dataLoader]="userDataloader" (rowClick)="onUserClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Email" field="email"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Users" [pageSize]="10"></ik-grid-pager>
</ik-grid>
<app-user-to-gurdian-modal></app-user-to-gurdian-modal>
