<ik-header title="New Attendance Record">
  <ik-header-back (back)="onBackClick()"></ik-header-back>
</ik-header>

<ng-container *ngIf="form && !loading; else loader">
  <ik-form [formGroup]="form">
    <div class="row">
      <ik-form-field header="Name" class="col-md-6"
        ><input
          maxlength="26"
          class="form-input__normal"
          placeholder="Name"
          formControlName="name"
        />
      </ik-form-field>

      <ik-form-field header="Active Date*" class="col-md-6"
        ><input
          type="date"
          class="form-input__normal"
          placeholder="Active Date"
          formControlName="activeDate"
        />
      </ik-form-field>
    </div>

    <ik-form-field header="Workers">
      <ik-multi-select
        formControlName="workers"
        [items]="workers"
      ></ik-multi-select>
    </ik-form-field>
  </ik-form>

  <button class="btn btn-default btn-flat btn-left" (click)="onCancelClick()">
    Cancel
  </button>
  <button
    class="btn btn-primary btn-flat btn-right"
    (click)="onSaveClick()"
    [disabled]="form?.invalid"
  >
    Create
  </button>
</ng-container>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
