<ik-modal #deleteApplicationModal name="deleteRecordModal">
  <ik-modal-header title="Delete Application?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else loader">
    <ik-modal-body>
      <div>
        Deleting this application will result in all information associated to
        it to be lost and the application will no longer be able to be accessed.
        Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        class="btn btn-danger btn-flat btn-right btn-modal"
        (click)="onDeleteApplication()"
      >
        Delete Application
      </button>
      <button
        class="btn btn-default btn-flat btn-right btn-modal"
        (click)="deleteApplicationModal.close()"
      >
        Cancel
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
