<ik-modal #deleteApplicationModal name="deleteApplicationModal">
  <ik-modal-header title="Delete Application?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <div>
        Deleting this application will result in all information associated to it to be lost and the application will no
        longer be able to be accessed. Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="deleteApplicationModal.close()">Cancel</button>
      <button actionBarRight class="btn btn-danger btn-modal" (click)="onDeleteApplication()">
        Delete Application
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
