<ik-modal #closeRecordModal name="closeRecordModal">
  <ik-modal-header
    title="Close Attendance Record?"
    type="danger"
  ></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else loader">
    <ik-modal-body>
      <div>
        Closing this attendance record will result in the current information to
        be finalized and not editable. Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        class="btn btn-danger btn-flat btn-right btn-modal"
        (click)="onDeleteUser()"
      >
        Close Attendance
      </button>
      <button
        class="btn btn-default btn-flat btn-right btn-modal"
        (click)="closeRecordModal.close()"
      >
        Cancel
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
