<ik-header title="Nursery Check In">
  <button
    *featureAccess="[Application.NURSERY, FeatureType.CHECK_IN_OVERVIEW, Access.CREATE]"
    (click)="onNewAttendanceRecord()"
    class="btn btn-primary header-button"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    New Attendance
  </button>
</ik-header>
<app-attendance-record-grid
  [dataloader]="dataloader"
  [downloadEnabled]="true"
  (rowClick)="onRowClick($event)"
  (downloadClick)="nurseryScheduleDownloadModal.open()"
></app-attendance-record-grid>

<app-attendance-schedule-download-modal
  #nurseryScheduleDownloadModal
  [type]="ChurchGroup.NURSERY"
></app-attendance-schedule-download-modal>
