<ik-modal #childCheckInModal name="childCheckInModal" class="modal-body__padding-none">
  <ik-modal-header
    [title]="record.status !== 'CLOSED' ? 'Update Child Attendance?' : 'Child Attendance'"
    type="info"
  ></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form [formGroup]="form">
        <div class="row">
          <ik-card-info class="col-6" header="Name">
            <a
              [href]="'/children/' + child?.id + '/details'"
              target="_blank"
              class="link card-info--anchor card-info__label-text"
              >{{ child | formatUserName }}</a
            ></ik-card-info
          >
          <ik-card-info class="col-6" header="CUID" [text]="child?.cuid"></ik-card-info>
        </div>

        <ik-card-info *ngIf="record.status !== 'CLOSED'" header="Attendance">
          <a class="link card-info__label-text" (click)="onMarkChildAbsent()">Mark Absent</a>
        </ik-card-info>

        <ik-card-info
          *ngIf="record.status !== 'CLOSED'; else pickedUpConfirmed"
          class="col-6"
          header="Guardian Picking Up"
        >
          <ik-single-select
            [searchable]="false"
            formControlName="pickedUpBy"
            placeholder="Guardian Picking Up"
            [items]="guardianPickup"
          ></ik-single-select>
        </ik-card-info>

        <ng-template #pickedUpConfirmed>
          <ik-card-info
            class="col-6"
            header="Picked Up By"
            [text]="
              child?.guardianPickedUp
                ? (child?.guardianPickedUp | formatUserName) +
                  ' (' +
                  (child?.guardianPickedUp?.relationship | relationshipTranslate) +
                  ')'
                : '-'
            "
          >
          </ik-card-info>
        </ng-template>

        <div class="row">
          <ik-form-field header="Notes" class="col-12">
            <textarea
              formControlName="notes"
              rows="5"
              cols="50"
              class="form-input__outline"
              [readOnly]="record.status === 'CLOSED'"
            ></textarea>
          </ik-form-field>
        </div>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        actionBarLeft
        *ngIf="record.status !== 'CLOSED' && !child?.checkOutDate"
        class="btn btn-danger btn-modal"
        (click)="onChildCheckout()"
      >
        Check Out
      </button>
      <button actionBarRight class="btn btn-default btn-modal" (click)="childCheckInModal.close()">
        {{ record.status !== 'CLOSED' ? 'Cancel' : 'Close' }}
      </button>
      <button
        actionBarRight
        *ngIf="record.status !== 'CLOSED'"
        class="btn btn-primary btn-modal"
        (click)="onUpdateChildCheckIn()"
        [disabled]="!form.dirty"
      >
        Update
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
