<ik-grid *ngIf="dataloader" [dataLoader]="dataloader">
  <ik-card-header title="Church Groups">
    <ng-container *featureAccess="[Application.CHILDREN, FeatureType.DETAIL, Access.UPDATE]">
      <ik-icon
        *ngIf="editIconVisible"
        title="Edit"
        icon="pen-to-square"
        class="right pointer"
        classOverride="icon icon--default"
        (click)="onEditIconClick()"
      ></ik-icon>
    </ng-container>
  </ik-card-header>
  <ik-grid-column label="Group" field="name"></ik-grid-column>
  <ik-grid-column label="ID" field="id"></ik-grid-column>
  <ik-grid-pager key="Groups" [pagerVisible]="false"></ik-grid-pager>
</ik-grid>
