<ng-container *ngIf="!loading; else pageLoader">
  <ik-header [title]="application.displayName">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <button class="btn btn-success header-button" *ngIf="!application.enabled" (click)="onEnabledUpdateClick(true)">
      <ik-icon icon="check" classOverride="btn-icon"></ik-icon>
      Enable
    </button>
    <button class="btn btn-danger header-button" *ngIf="application.enabled" (click)="onEnabledUpdateClick(false)">
      <ik-icon icon="lock" classOverride="btn-icon"></ik-icon>
      Disable
    </button>
    <button class="btn btn-danger header-button" (click)="applicationDeleteModal.modal.open()">
      <ik-icon icon="trash-can" classOverride="btn-icon"></ik-icon>
      Delete
    </button>
  </ik-header>

  <div class="row">
    <ik-card class="col-xl-5">
      <ik-card-header title="Details"></ik-card-header>
      <div class="row">
        <ik-card-info class="col-md-6" header="Name" [text]="application.displayName"></ik-card-info>
        <ik-card-info class="col-md-6" header="Key" [text]="application.key"></ik-card-info>
      </div>
      <div class="row">
        <ik-card-info
          class="col-md-12"
          [contentColor]="application.enabled ? 'ENABLED' : 'DISABLED'"
          header="Status"
          [text]="application.enabled ? 'Enabled' : 'Disabled'"
        ></ik-card-info>
      </div>
    </ik-card>

    <ik-grid class="col-xl-7" [dataLoader]="webRoleAppDataloader" (rowClick)="onRowClick($event)">
      <ik-card-header title="Web Role Apps"> </ik-card-header>
      <ik-grid-search></ik-grid-search>
      <ik-grid-column label="Role" field="formattedWebRole"> </ik-grid-column>
      <ik-grid-column label="Access" field="create">
        <ng-template let-data>
          <ik-icon
            [icon]="data.access ? 'check' : 'xmark'"
            [classOverride]="'grid-icon ' + (data.access ? 'icon--success' : 'icon--danger')"
          ></ik-icon>
        </ng-template>
      </ik-grid-column>
      <ik-grid-pager pageSize="5" [hidePageSize]="true" key="Roles"></ik-grid-pager>
    </ik-grid>
  </div>
</ng-container>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>

<app-delete-application-modal [appId]="application.id" #applicationDeleteModal></app-delete-application-modal>

<app-web-role-app-update-modal (webRoleAppUpdate)="onWebRoleAppUpdated()"></app-web-role-app-update-modal>
