<ik-modal #vbsPointDivisionModal [name]="name">
  <ik-modal-header [title]="title" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form *ngIf="form" [formGroup]="form">
        <div class="row">
          <div class="col-lg-6">
            <ik-form-field header="Min Range" [padding]="false">
              <ik-icon
                icon="circle-info"
                classOverride="btn-icon"
                ikTooltip="The minimum (Inclusive) value for points to be cutoff for this range."
                [ikTooltipWrapText]="true"
                ikTooltipPosition="right top"
              ></ik-icon
              ><input
                type="number"
                inputmode="numeric"
                min="0"
                class="form-input__normal"
                placeholder="Min Range"
                formControlName="minRange"
              />
            </ik-form-field>
          </div>

          <div class="col-lg-6">
            <ik-form-field header="Max Range" [padding]="false">
              <ik-icon
                icon="circle-info"
                classOverride="btn-icon"
                ikTooltip="The maximum (Inclusive) value for points to be cutoff for this range."
                [ikTooltipWrapText]="true"
                ikTooltipPosition="right top"
              ></ik-icon
              ><input
                type="number"
                inputmode="numeric"
                min="0"
                class="form-input__normal"
                placeholder="Max Range"
                formControlName="maxRange"
              />
            </ik-form-field>
          </div>
        </div>
        <ik-form-field [id]="name + 'COLORS'" header="Card Color" [padding]="false">
          <ik-icon
            icon="circle-info"
            classOverride="btn-icon"
            ikTooltip="The color of the child points card"
            [ikTooltipWrapText]="true"
            ikTooltipPosition="right top"
          ></ik-icon>

          <input class="color-picker--input form-input__normal" placeholder="Color" formControlName="pickerInput" />
          <ngx-colors
            [hideColorPicker]="true"
            format="rgba"
            [attachTo]="name + 'COLORS'"
            [hideTextInput]="true"
            class="color-picker--icon"
            ngx-colors-trigger
            formControlName="pickerColor"
          ></ngx-colors>
        </ik-form-field>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        actionBarLeft
        *ngIf="(currentVBSPointDivision?.id || deleteEnabled) && theme?.status !== 'CLOSED'"
        class="btn btn-danger btn-modal"
        (click)="onDeleteClick()"
      >
        Delete
      </button>
      <button
        *ngIf="theme?.status !== 'CLOSED'"
        actionBarRight
        class="btn btn-default btn-modal"
        (click)="vbsPointDivisionModal.close()"
      >
        Cancel
      </button>
      <button
        *ngIf="theme?.status !== 'CLOSED'"
        actionBarRight
        class="btn btn-primary btn-modal"
        (click)="onSaveClick()"
        [disabled]="form && (form.invalid || !form.dirty || form.pending)"
      >
        {{ saveButtonText }}
      </button>
      <button
        *ngIf="theme?.status === 'CLOSED'"
        actionBarRight
        class="btn btn-default btn-modal"
        (click)="vbsPointDivisionModal.close()"
      >
        Close
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
