<ng-container *ngIf="!loading; else pageLoader">
  <app-attendance-record-detail-header
    [record]="record"
    route="/nursery/check-in"
    [app]="Application.NURSERY"
    (backClick)="onBackClick()"
    (checkInStarted)="onCheckInStarted()"
    (recordClosed)="onRecordClosed($event)"
  ></app-attendance-record-detail-header>

  <div class="layout__column-left layout__wide">
    <app-attendance-record-details-card
      [record]="record"
      [startedByUser]="startedByUser"
      [closedByUser]="closedByUser"
    >
      <ik-card-header title="Details">
        <ng-container *ngIf="record.status !== 'CLOSED'">
          <ik-icon
            *featureAccess="[
              Application.NURSERY,
              FeatureType.DETAIL,
              Access.UPDATE
            ]"
            icon="pen-to-square"
            class="right pointer"
            classOverride="icon__default"
            (click)="onEditClick()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
    </app-attendance-record-details-card>

    <app-attendance-record-children-grid
      *ngIf="record.status !== 'PENDING'"
      [dataLoader]="childrenDataloader"
      (rowClick)="updateChildAttendanceModal.open($event)"
    >
      <ik-card-header title="Children">
        <ng-container *ngIf="record.status !== 'CLOSED'">
          <ik-icon
            *featureAccess="[
              Application.NURSERY,
              FeatureType.CHECK_IN,
              Access.UPDATE
            ]"
            icon="user-check"
            class="right pointer"
            classOverride="icon__default"
            (click)="onChildrenCheckInEditClick()"
          ></ik-icon>
        </ng-container> </ik-card-header
    ></app-attendance-record-children-grid>
  </div>

  <div class="layout__column-right layout__narrow">
    <app-attendance-record-workers-grid [dataloader]="workerDataloader">
      <ik-card-header title="Workers">
        <ng-container *ngIf="record.status !== 'CLOSED'">
          <ik-icon
            *featureAccess="[
              Application.NURSERY,
              FeatureType.DETAIL,
              Access.UPDATE
            ]"
            icon="pen-to-square"
            class="right pointer"
            classOverride="icon__default"
            (click)="onEditClick()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
    </app-attendance-record-workers-grid>
  </div>
</ng-container>

<app-nursery-update-child-attendance-modal
  #updateChildAttendanceModal
  [record]="record"
  (childAttendanceUpdated)="refreshChildrenGrid()"
></app-nursery-update-child-attendance-modal>

<ng-template #pageLoader>
  <ik-loading type="double"></ik-loading>
</ng-template>
