<ik-modal #vbsThemePointsModal [name]="name">
  <ik-modal-header [title]="title" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form *ngIf="form" [formGroup]="form">
        <ik-form-field header="Registration Only" [padding]="false">
          <ik-icon
            icon="circle-info"
            classOverride="btn-icon"
            [ikTooltip]="'This will only allow people in registration to apply these points.'"
            [ikTooltipWrapText]="true"
            ikTooltipPosition="right top"
          ></ik-icon>
          <label class="input-inline">
            <input
              type="radio"
              formControlName="registrationOnly"
              class="form-check-input checkbox__default"
              [value]="true"
            />
            <span>Yes</span>
          </label>
          <label class="input-inline">
            <input
              type="radio"
              formControlName="registrationOnly"
              class="form-check-input checkbox__default"
              [value]="false"
            />
            <span>No</span>
          </label>
        </ik-form-field>

        <ik-form-field header="Name" [padding]="false"
          ><input maxlength="26" class="form-input__normal" placeholder="Name" formControlName="name" />
        </ik-form-field>

        <ik-form-field header="Points" [padding]="false"
          ><input
            type="number"
            inputmode="numeric"
            min="0"
            class="form-input__normal"
            placeholder="Points"
            formControlName="points"
          />
        </ik-form-field>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button *ngIf="currentVBSPoint?.id" class="btn btn-danger btn-left btn-modal" (click)="onDeleteClick()">
        Delete
      </button>
      <button
        class="btn btn-primary btn-right btn-modal"
        (click)="onSaveClick()"
        [disabled]="form && (form.invalid || !form.dirty)"
      >
        {{ saveButtonText }}
      </button>
      <button class="btn btn-default btn-right btn-modal" (click)="vbsThemePointsModal.close()">Cancel</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<app-vbs-delete-points-modal
  #vbsDeletePointsModal
  [name]="name + 'DELETE'"
  (pointsDeleted)="onPointValueDeleted()"
></app-vbs-delete-points-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
