@import "/styles/variables";

:host {
  user-select: none;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-row-gap: 50px;
  justify-content: center;
  grid-template-columns: 100%;

  .step-content {
    margin-top: 40px;
    position: relative;
    align-self: start;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }
}

.wizard-container {
  display: inline-flex;
  padding: 12px;
  position: relative;

  svg#checkbox {
    width: 48px;
    height: 48px;
    stroke: $green-400;
    stroke-width: 6;

    .circle {
      stroke-dasharray: 320;
      stroke-dashoffset: 320;
      fill: #d2d2d2;
      transition: stroke-dashoffset 0.5s,
        fill 0.5s 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    }

    .check {
      stroke-dasharray: 70;
      stroke-dashoffset: 70;
      stroke: #fff;
      fill: none;
      transition: all 0.5s 0.5s cubic-bezier(0.45, 0, 0.55, 1);
    }
  }
}

.check-box {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;

  .info {
    position: absolute;
    bottom: -45px;
    display: grid;
    grid-template-columns: max-content;

    span.progress-info {
      text-transform: capitalize;
      font-size: $font-size-sm;
      display: inline-block;
      padding: 2px 10px;
      transform: translateY(6px);
      font-weight: $font-weight-normal;
      color: currentColor;
      background: #eee;
      border-radius: 20px;
      transition: background-color 0.1s ease-in-out;
    }

    span.progress-info.in-progress {
      background-color: $blue-700;
      color: #fff;
      margin-left: -14px;
    }

    span.progress-info.completed {
      background-color: $green-400;
      color: #fff;
      margin-left: -12px;
    }

    span.progress-info.pending {
      background-color: $orange-200;
      color: #fff;
      margin-left: -6px;
    }

    span.step {
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: $font-weight-normal;
      letter-spacing: 0.5px;
      font-size: $font-size-sm;
      color: #777;
    }
  }
}

.progress-line {
  width: 250px;
  margin: 0 10px;
  height: 4px;
  overflow: hidden;
  display: inline-block;
  background: #d2d2d2;
  border-radius: 10px;
  flex: 1;

  .progress-percent {
    height: inherit;
    width: 0%;
    transition: all 0.5s 0.5s cubic-bezier(0.45, 0, 0.55, 1);
  }
}

.progress-line.active {
  .progress-percent {
    background: $blue-700;
    width: 50%;
  }
}

.progress-line.complete {
  .progress-percent {
    width: 100%;
    background: $green-400;
  }
}

.check-box.active {
  svg#checkbox {
    .circle {
      fill: $blue-700;
    }
  }
}
.check-box.complete {
  svg#checkbox {
    .circle {
      stroke-dashoffset: 0;
      fill: $green-400;
    }

    .check {
      stroke-dashoffset: 0;
    }
  }
}

.flex-none {
  flex: none;
}
