@import "/styles/variables";

.edit-icon {
  float: right;
  cursor: pointer;
}

.app-text {
  padding: 12px 5px;
  font-size: $font-size-lg;
}

.column-flex-left {
  width: 50%;
}

.column-right-left {
  width: 50%;
}
