<div
  class="sidebar-content__item"
  [ngClass]="{
    'sidebar-category__active': isRouteActive(navItem.route) && !isNested,
    'sidebar-category--nested__active': isRouteActive(navItem.route) && isNested
  }"
  (click)="toggleDropdown()"
>
  <ik-icon
    *ngIf="navItem.icon"
    class="sidebar-content__icon"
    classOverride="sidebar-content__icon fa-icon"
    [icon]="navItem.icon"
  ></ik-icon>
  <span [ngClass]="{ 'sidebar-category': !isNested }" class="sidebar-category">{{ navItem.name }}</span>

  <ik-icon
    class="flex-one"
    [classOverride]="this.isOpen ? 'dropdown-icon--open' : 'dropdown-icon--closed'"
    icon="caret-left"
  ></ik-icon>
</div>
<div [id]="navItem.submenu.id" class="dropdown" [ngClass]="{ 'dropdown--open': isOpen, 'dropdown--closed': !isOpen }">
  <ng-container *ngFor="let submenu of navItem.submenu.items">
    <ng-container *ngIf="submenu?.restriction; else dropdownContent">
      <ng-container *featureAccess="[submenu.restriction.app, submenu.restriction.feature, submenu.restriction.access]">
        <ng-container *ngTemplateOutlet="dropdownContent"></ng-container>
      </ng-container>
    </ng-container>
    <ng-template #dropdownContent>
      <ng-container *ngIf="submenu.submenu; else submenuRouteItem">
        <ik-dropdown [navItem]="submenu" [isNested]="true" [baseRoute]="navItem.route"></ik-dropdown>
      </ng-container>
      <ng-template #submenuRouteItem>
        <ng-container *ngIf="submenu.route">
          <a
            class="sidebar-content__item"
            [routerLink]="baseRoute + navItem.route + submenu.route"
            routerLinkActive="dropdown-item__active"
          >
            {{ submenu.name }}
          </a>
        </ng-container>
        <ng-container *ngIf="submenu.href">
          <a class="sidebar-content__item" [href]="submenu.href">
            {{ submenu.name }}
          </a>
        </ng-container>
      </ng-template>
    </ng-template>
  </ng-container>
</div>
