<ik-modal #deleteGuardianModal name="deleteGuardianModal">
  <ik-modal-header title="Delete Guardian?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <div>
        Deleting this guardian will result in their personal info to be deleted. Before deletion, all children
        associated to this guardian must be reassigned. Do you want to continue?
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="deleteGuardianModal.close()">Cancel</button>
      <button actionBarRight class="btn btn-danger btn-modal" (click)="onDeleteGuardian()">Delete Guardian</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
