<app-introduction-section
  introTitle="Our Awana Ministry"
  introBody="Our emphasis in AWANA is to encourage our clubbers to hide God's Word in
  their hearts. the goal is to have our clubbers complete their hand books
  by reciting their sections successfully. The church offers a wonderful
  camp incentive program! throughout the club year, your child will be
  able to earn a reduction of the cost of camp or even a week FREE!"
  introBackground="what-is-awana-background.jpg"
></app-introduction-section>
