<div class="welcome-container">
  <div class="welcome-content">
    <div class="welcome-text">
      <h1 class="welcome-title">Our Awana Ministry</h1>
      <p class="welcome-body">
        Our emphasis in AWANA is to encourage our clubbers to hide God's Word in
        their hearts. the goal is to have our clubbers complete their hand books
        by reciting their sections successfully. The church offers a wonderful
        camp incentive program! throughout the club year, your child will be
        able to earn a reduction of the cost of camp or even a week FREE!
      </p>
    </div>
  </div>
</div>
