@import '/styles/variables';

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 40px;
  border-radius: 8px;
  width: 450px;
  margin: 6em auto;
  background-color: transparent;
  background-color: white;
  font-size: 20px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

.login__logo {
  padding: 12px;

  img {
    width: 80%;
    height: auto;
  }
}

.login__forgot-password {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #0095ff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.login__input {
  font-size: 20px;
  margin-top: 10px;
}

.login__label {
  font-size: 20px;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 8px;
}

:host ::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #222b45;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px white;
}

@media screen and (max-width: $login-screen-sm-max) {
  .login {
    width: 95%;
    padding: 1rem;
    margin: 3em auto;
  }
}
