@import "/styles/variables";

.login-container {
  width: 35%;
  margin: 15em auto;
  padding: 10px;
  background-color: transparent;
}

.login-input {
  border-radius: 30px;
  padding: 12px 12px 12px 35px;
  width: 95%;
  font-size: $font-size-md;
  border-style: hidden;
  background: #504c5b;
  opacity: 0.8;
  margin: 10px 0px;
  border: 1px solid #504c5b;
  color: white;
  font-weight: $font-weight-semi-bold;
  transition: all 0.5s ease;
}

.login-title {
  color: #fff;
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 15px;
}

.login-input:focus {
  border-bottom: 2.5px solid #fc3168;
  width: 98%;
  border-radius: 15px;
}

.login-input::placeholder {
  color: white;
  opacity: 1;
}

.login-button {
  width: 50%;
  margin: 15px auto;
}

.icon {
  position: absolute;
  padding: 22px 12px;
  min-width: 40px;
  color: white;
  z-index: 100;
}

.create-account-text {
  color: #b1b1b1;
  font-size: $font-size-caption;
  font-weight: $font-weight-semi-bold;
}

.link-text {
  color: rgb(116, 163, 250);
}

.login__forgot-password {
  color: #b1b1b1;
  margin-left: 24px;
  font-size: $font-size-caption;
  font-weight: $font-weight-semi-bold;
}

@media screen and (max-width: $screen-lg-max) {
  .login-container {
    width: 50%;
    margin: 20em auto;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .login-container {
    width: 90%;
    margin: 15em auto;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .login-container {
    width: 95%;
    margin: 10em auto;
  }
}
