<div class="login__container">
  <form id="loginForm" [formGroup]="form">
    <div class="row">
      <div class="login__title">First Baptist Church of LaGrange</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="inputcontainer">
          <fa-icon icon="envelope" class="login__icon--email"></fa-icon>
          <input
            type="email"
            inputmode="email"
            id="username"
            formControlName="username"
            class="login__input"
            placeholder="Email"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="inputcontainer">
          <fa-icon icon="lock" class="login__icon--password"></fa-icon>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="login__input"
            placeholder="Password"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a routerLink="#" class="left login__forgot-password"
          >Forgot Password?</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          id="loginButton"
          class="btn btn-round btn-primary login__button"
          (click)="onLoginClick()"
          *ngIf="!loading; else loginLoader"
        >
          Login
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #loginLoader>
  <ik-loading type="ellipsis"></ik-loading>
</ng-template>
