<div class="login__background">
  <router-outlet></router-outlet>
</div>

<div class="login-card">
  <div class="login__logo">
    <img src="fbl-church-logo.png" alt="FBL Logo" />
  </div>
  <form id="loginForm" [formGroup]="form" class="width--full">
    <div class="row">
      <mat-form-field appearance="outline" class="col-12 login__input">
        <mat-label class="login__label">Email Address</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12 login__input">
        <mat-label class="login__label">Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="passwordField" formControlName="password" />
        <mat-icon class="pointer" matSuffix (click)="toggleShowPassword()">{{
          showPassword ? 'visibility' : 'visibility_off'
        }}</mat-icon>
        <mat-error *ngIf="form.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div class="login__forgot-password">Forgot Password?</div>
  </form>

  <button
    mat-flat-button
    class="btn-mat btn-mat--primary btn-mat--round btn-mat--large width--full"
    (click)="onLoginClick()"
  >
    <div *ngIf="!loading; else loginLoader">Sign in</div>
  </button>
</div>

<ng-template #loginLoader>
  <ik-loading type="ellipsis"></ik-loading>
</ng-template>
