@import '/styles/variables';

.login__container {
  width: 35%;
  margin: 15em auto;
  padding: 10px;
  background-color: transparent;
}

.login__input {
  padding: 12px 12px 12px 35px;
  height: 50px;
  width: 95%;
  font-size: $font-size-md;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid transparent;
  border-radius: 40px;
  margin: 10px 0px;
  color: white;
  font-weight: $font-weight-semi-bold;
  transition: border 0.5s ease;

  &--password {
    @extend .login__input;
    padding: 12px 46px 12px 35px;
  }
}

.login__title {
  color: #fff;
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 15px;
}

.login__input:focus {
  border: 1px solid $white;
}

.login__input::placeholder {
  color: white;
  opacity: 1;
}

.login__button {
  width: 50%;
  margin: 15px auto;
}

.login__icon {
  position: absolute;
  min-width: 40px;
  color: white;
  z-index: 100;

  &--email {
    @extend .login__icon;
    margin: 24px 0;
  }

  &--password {
    @extend .login__icon;
    margin: 22px 0;
  }

  &--eye {
    @extend .login__icon;
    color: black;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    margin: 24px 0 0 -50px;
  }
}

.login__forgot-password {
  color: $white;
  margin-left: 24px;
  font-size: $font-size-caption;
  font-weight: $font-weight-semi-bold;
}

@media screen and (max-width: $login-screen-lg-max) {
  .login__container {
    width: 50%;
  }
}

@media screen and (max-width: $login-screen-md-max) {
  .login__container {
    width: 75%;
    margin: 15em auto;
  }
}

@media screen and (max-width: $login-screen-sm-max) {
  .login__container {
    width: 95%;
    margin: 10em auto;
  }
}
