<ik-modal #deleteRecordModal name="deleteRecordModal">
  <ik-modal-header title="Delete Attendance?" type="danger"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <div>Deleting this attendance will result in the current information to be lost. Do you want to continue?</div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="deleteRecordModal.close()">Cancel</button>
      <button actionBarRight class="btn btn-danger btn-modal" (click)="onDeleteUser()">Delete Attendance</button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
