<ik-modal #duplicateGuardianModal name="duplicateGuardianModal">
  <ik-modal-header title="Duplicate Guardian?" type="warning"></ik-modal-header>
  <ng-container *ngIf="!loading; else modalLoader">
    <ik-modal-body>
      <div>
        There is already a guardian in the church directory with similar information. The guardian below is the one
        currently in the church system. If this is not the same guardian, then you can click 'Continue' to create the
        guardian. Otherwise if this is the same guardian you can hit 'Cancel'.
      </div>
      <div class="row">
        <ik-card-info class="col-6" header="Name" [text]="duplicateGuardian | formatUserName"></ik-card-info>
        <ik-card-info class="col-6" header="Phone" [text]="duplicateGuardian?.phone"></ik-card-info>
      </div>
      <div class="row">
        <ik-card-info class="col-6" header="Email" [text]="duplicateGuardian?.email"></ik-card-info>
        <ik-card-info class="col-6" header="Address" [text]="duplicateGuardian | address"></ik-card-info>
      </div>
      <div class="row">
        <ik-card-info class="col-6" header="More Details">
          <a
            [href]="'/guardians/' + duplicateGuardian?.id + '/details'"
            target="_blank"
            class="link card-info__label-text"
            >{{ duplicateGuardian | formatUserName }}</a
          ></ik-card-info
        >
      </div>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="duplicateGuardianModal.close()">Cancel</button>
      <button actionBarRight class="btn btn-warning btn-modal" (click)="onDuplicateGuardianAcknowledgement()">
        Continue
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
