<!-- <DEPik-grid #guardianGrid [dataLoader]="dataloader">
  <DEPik-card-header title="Guardians">
    <ik-icon icon="user-plus" class="right pointer" title="Add Guardian" (click)="addGuardianModal.open()"></ik-icon>
  </DEPik-card-header>
  <ik-grid-search></ik-grid-search>
  <ik-grid-checklist-column [selectedIds]="guardianIdsChecked"></ik-grid-checklist-column>
  <ik-grid-selection-column
    header="Relationship"
    field="relationship"
    [values]="relationships"
    [selections]="guardianSelection"
  ></ik-grid-selection-column>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Phone" field="phone"></ik-grid-column>
  <ik-grid-pager key="Guardians" [pageSize]="5"></ik-grid-pager>
</DEPik-grid> -->

<ik-grid [dataLoader]="dataloader">
  <ik-card-header title="Guardians">
    <ik-icon icon="user-plus" class="right pointer" title="Add Guardian" (click)="addGuardianModal.open()"></ik-icon>
  </ik-card-header>
  <ik-grid-search></ik-grid-search>
  <!-- <ik-grid-checklist-column [selectedIds]="guardianIdsChecked"></ik-grid-checklist-column> -->
  <!-- <ik-grid-selection-column
    header="Relationship"
    field="relationship"
    [values]="relationships"
    [selections]="guardianSelection"
  ></ik-grid-selection-column> -->
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Phone" field="phone"></ik-grid-column>
  <ik-grid-pager pageSize="5" key="Guardians"></ik-grid-pager>
</ik-grid>

<app-add-guardian-modal [loading]="modalLoading" (save)="onAddGuardian($event)"></app-add-guardian-modal>
