<ik-grid
  [dataLoader]="dataloader"
  *ngIf="showGurdianSelectionGrid; else childNewGurdianForm"
>
  <ik-card-header title="Gurdians">
    <ik-icon
      icon="user-plus"
      class="right pointer"
      (click)="onToggleGurdianGrid(false)"
    ></ik-icon>
  </ik-card-header>
  <ik-grid-search></ik-grid-search>
  <ik-grid-checklist-column
    [selectedIds]="gurdianIdsChecked"
  ></ik-grid-checklist-column>
  <ik-grid-selection-column
    header="Relationship"
    field="relationship"
    [values]="relationships"
    [selections]="gurdianMapSelection"
  ></ik-grid-selection-column>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Phone" field="phone"></ik-grid-column>
  <ik-grid-pager key="Gurdians" [pageSize]="5"></ik-grid-pager>
</ik-grid>

<ng-template #childNewGurdianForm>
  <app-child-gurdian-form>
    <ik-card-header title="New Gurdian">
      <ik-icon
        icon="address-book"
        class="right pointer"
        (click)="onToggleGurdianGrid(true)"
      ></ik-icon>
    </ik-card-header>
  </app-child-gurdian-form>
</ng-template>
