<ik-card>
  <ng-content select="ik-card-header" ngProjectAs="ik-card-header"></ng-content>
  <ng-container *ngIf="!loading; else cardLoader">
    <div class="row">
      <ik-card-info class="col-md-6" header="Name" [text]="record.name"></ik-card-info>

      <ik-card-info
        class="col-md-6"
        [contentColor]="record.status"
        header="Status"
        [text]="record.status"
      ></ik-card-info>
    </div>

    <div class="row">
      <ik-card-info class="col-md-6" header="Offering" [text]="record.money | currency"> </ik-card-info>

      <ik-card-info class="col-md-6" header="Spirit Theme" [text]="record?.spiritTheme ? record.spiritTheme : '-'">
      </ik-card-info>
    </div>

    <div class="row">
      <ik-card-info class="col-md-6" header="Active Date" [text]="record.activeDate | date : 'MMMM d, y'">
      </ik-card-info>

      <ng-container *webRoleRestrictionAccess="WebRole.ADMINISTRATOR">
        <ik-card-info
          *ngIf="startedByUser && record.status !== 'PENDING'"
          class="col-md-6"
          header="Started By"
          [text]="startedByUser | formatUserName"
        ></ik-card-info>
      </ng-container>
    </div>

    <ng-container *webRoleRestrictionAccess="WebRole.ADMINISTRATOR">
      <div class="row" *ngIf="startedByUser && record.status !== 'PENDING'">
        <ik-card-info
          *ngIf="closedByUser"
          class="col-md-6"
          header="Closed By"
          [text]="closedByUser | formatUserName"
        ></ik-card-info>

        <ik-card-info
          *ngIf="record.closedDate"
          class="col-md-6"
          header="Closed Date"
          [text]="record.closedDate | date : 'MMMM d, y, h:mm a'"
        >
        </ik-card-info>
      </div>
    </ng-container>
  </ng-container>
</ik-card>

<ng-template #cardLoader>
  <ik-loading></ik-loading>
</ng-template>
