<ik-card>
  <ik-card-header title="Roles">
    <ng-content></ng-content>
  </ik-card-header>
  <div class="card__content--padding card-info__label-text">
    <ul *ngIf="user.webRole && user.webRole.length > 0; else noRoles" class="flex">
      <div class="layout__half">
        <ng-container *ngFor="let role of user.webRole; let even = even">
          <li *ngIf="even">{{ role | webRoleTranslate }}</li>
        </ng-container>
      </div>

      <div class="layout__half">
        <ng-container *ngFor="let role of user.webRole; let odd = odd">
          <li *ngIf="odd">{{ role | webRoleTranslate }}</li>
        </ng-container>
      </div>
    </ul>
  </div>
</ik-card>

<ng-template #noRoles>
  <div class="margin-base">None</div>
</ng-template>
