<ik-modal #vbsThemeDetailsModal name="vbsThemeDetailsModal">
  <ik-modal-header title="Update VBS Theme?" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form *ngIf="form" [formGroup]="form">
        <ik-form-field header="Name" [padding]="false"
          ><input maxlength="100" class="form-input__normal" placeholder="Name" formControlName="name" />
        </ik-form-field>

        <ik-form-field header="Donating To" [padding]="false">
          <textarea formControlName="donation" rows="4" cols="50" maxlength="150" class="form-input__normal"></textarea>
        </ik-form-field>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="vbsThemeDetailsModal.close()">Cancel</button>
      <button
        actionBarRight
        class="btn btn-primary btn-modal"
        (click)="onSaveClick()"
        [disabled]="form && (form.invalid || !form.dirty)"
      >
        Update
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
