<ik-modal #contactAdminModal name="contactAdminModal" class="modal-body__padding-none">
  <ik-modal-header title="Contact Us"></ik-modal-header>
  <ng-container *ngIf="!loading; else modalLoader">
    <ik-modal-body>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-8">
            <ik-form-field header="Recipient">
              <input
                type="input"
                readonly
                class="form-input__normal pointer-none"
                placeholder="Samuel Butler (Admin)"
              />
            </ik-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <ik-form-field header="Message">
              <textarea formControlName="message" rows="4" cols="50" class="form-input__outline"></textarea>
            </ik-form-field>
          </div>
        </div>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="contactAdminModal.close()">Cancel</button>
      <button actionBarRight class="btn btn-primary btn-modal" (click)="sendMessage()" [disabled]="this.form.invalid">
        Send
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
