<div class="forgot-password__container">
  <form id="forgotPasswordForm" [formGroup]="form">
    <div class="row">
      <div class="forgot-password__title">Forgot Password</div>
    </div>
    <div class="row">
      <h5 class="forgot-password__small-text">
        Enter your email address and we'll send a link to reset your password
      </h5>
    </div>

    <div class="row">
      <div class="col-12">
        <fa-icon icon="envelope" class="forgot-password__icon--email"></fa-icon>
        <input
          type="email"
          inputmode="email"
          id="username"
          formControlName="username"
          class="forgot-password__input"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          id="forgotPasswordButton"
          class="btn btn-round btn-primary forgot-password__button"
          (click)="onForgotPasswordClick()"
          [disabled]="form.invalid"
          *ngIf="!loading; else forgotPasswordLoader"
        >
          Request Password
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    <p class="forgot-password__link-text">
      Remeber your password?
      <a routerLink="/login">Sign In</a>
    </p>
  </div>
</div>

<ng-template #forgotPasswordLoader>
  <ik-loading type="ellipsis"></ik-loading>
</ng-template>
