<ik-header title="Clubbers">
  <button
    class="btn btn-primary btn-flat btn-size btn-right"
    (click)="onAddClubber()"
  >
    <ik-icon [icon]="addCirlce" classOverride="add-icon"></ik-icon>
    Add Clubber
  </button>
</ik-header>
<ik-grid
  basePath="clubbers"
  [dataLoader]="dataloader"
  (rowClick)="onRowClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="First Name" field="firstName"></ik-grid-column>
  <ik-grid-column label="Last Name" field="lastName"></ik-grid-column>
  <ik-grid-column label="Group" field="formattedGroup"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Clubbers"></ik-grid-pager>
</ik-grid>
