<ik-header [title]="viewDate | calendarDate : CalendarView.Month + 'ViewTitle' : 'en'">
  <div class="calendar-navigation" ngProjectAs="button">
    <ik-icon icon="list" (click)="onCalendarViewChangeClick()" classOverride="calendar-navigation--view"></ik-icon>
    <ik-icon
      icon="angle-left"
      classOverride="calendar-nav--icon"
      mwlCalendarPreviousView
      (click)="onViewDateChange()"
      [view]="CalendarView.Month"
      [(viewDate)]="viewDate"
    ></ik-icon>
    <div class="calendar-navigation--text" mwlCalendarToday [(viewDate)]="viewDate" (click)="onViewDateChange()">
      Today
    </div>
    <ik-icon
      icon="angle-right"
      classOverride="calendar-nav--icon"
      mwlCalendarNextView
      (click)="onViewDateChange()"
      [view]="CalendarView.Month"
      [(viewDate)]="viewDate"
    ></ik-icon>
  </div>
</ik-header>
