.welcome-header {
    position: absolute;
    width: 100%;
    height: 75px;
    z-index: 100;
    background-color: #2F2E2F;
}

.welcome-nav {
    padding-top: 15px;
    position: relative;
    min-height: 75px;
    margin: auto;
    width: 75%;
}

.nav-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    padding: 15px;
}

.nav-menu ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    height: 55px;
}

.nav-menu li {
    float: left;
    margin-right: 45px;
}

.nav-menu ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
    font-family: "Avenir","Open Sans",Helvetica,Arial,sans-serif;
}

.nav-menu ul li a:hover {
    transform: translate(0, -25%);
    border-bottom: 2px solid #337AB7;
}

.active-menu-item {
    border-bottom: 2px solid white;
}

.profile-icon {
    margin-top: 4px;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #337AB7;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
}

.awana-logo {
    width: 220px;
    height: 50%;
    background-image: url("../../../../assets/images/awana-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    text-align: center;
    position: absolute;
}

@media screen and (max-width: 1200px) {
    .nav-menu {
      display: none;
    }
  }