<ng-container *ngIf="!loading; else loader">
  <ik-header title="Children Check In">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
  </ik-header>

  <ik-grid
    #childrenCheckInGrid
    [dataLoader]="childrenDataloader"
    (rowClick)="onRowClick($event)"
  >
    <ik-grid-search></ik-grid-search>
    <ik-grid-column label="Name" field="name">
      <ng-template let-data>
        {{ data | formatUserName }}
      </ng-template>
    </ik-grid-column>
    <ik-grid-column label="CUID" field="cuid"></ik-grid-column>
    <ik-grid-pager key="Children" [pageSize]="5"></ik-grid-pager>
  </ik-grid>
</ng-container>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>

<app-child-check-in-modal
  [recordId]="recordId"
  (checkInComplete)="refreshGrid()"
></app-child-check-in-modal>
