<div
  *ngIf="type === 'default'"
  class="default-loader"
  [ngStyle]="{
    width: size,
    height: size,
    'border-width': thickness,
    'border-top-color': backgroundColor,
    'border-bottom-color': backgroundColor,
    'border-left-color': backgroundColor,
    margin: margin
  }"
></div>

<div *ngIf="type === 'ellipsis'" class="ellipsis-loader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div
  *ngIf="type === 'double'"
  class="double-loader"
  [ngStyle]="{
    width: size,
    height: size,
    'border-width': thickness,
    'border-top-color': backgroundColor,
    'border-bottom-color': backgroundColor,
    margin: margin
  }"
></div>
