.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  padding: 12px 18px;
  font-size: $font-size-xl;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: $font-weight-semi-bold;
  margin: 15px 0;
  color: white;

  &,
  &:active,
  &.active {
    &:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }
}

.btn-modal {
  font-size: $font-size-lg !important;
}

.btn-right {
  float: right;
  margin: 0 0 8px 8px;
}

.btn-left {
  float: left;
  margin: 0 8px 8px 0;
}

.btn-center {
  text-align: center;
}

.btn-full {
  width: 100%;
}

.btn-icon {
  margin-right: 4px;
  font-size: $font-size-lg;
}

@mixin btn-flat($normal, $hover, $active-color, $disabled) {
  border-color: transparent;
  background: $normal;
  box-shadow: none;
  padding: 6px 12px;
  font-size: $font-size-lg;

  &:hover {
    border-color: transparent;
    color: #fff;
    background: $hover;
    box-shadow: none;
  }

  &:active,
  &.active {
    border-color: $normal !important;
    color: $active-color !important;
    background: $normal !important;
    box-shadow: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background: $disabled;
    border-color: $disabled;
    color: $white;
  }
}

@mixin btn-round($normal, $hover, $active-color, $disabled) {
  border-radius: 30px;
  border-color: transparent;
  font-size: $font-size-xl !important;

  @include btn-flat($normal, $hover, $active-color, $disabled);
}

.btn-default {
  @include btn-flat($gray-300, $gray-200, $gray-000, $gray-100);

  &--round {
    @include btn-round($gray-300, $gray-200, $gray-000, $gray-100);
  }
}

.btn-primary {
  @include btn-flat($blue-300, $blue-200, $blue-000, $blue-100);

  &--round {
    @include btn-round($blue-300, $blue-200, $blue-000, $blue-100);
  }
}

.btn-success {
  @include btn-flat($green-300, $green-200, $green-000, $green-100);
}

.btn-info {
  @include btn-flat($teal-300, $teal-200, $teal-000, $teal-100);

  &--round {
    @include btn-round($teal-300, $teal-200, $teal-000, $teal-100);
  }
}

.btn-warning {
  @include btn-flat($orange-300, $orange-200, $orange-000, $orange-100);

  &--round {
    @include btn-round($orange-300, $orange-200, $orange-000, $orange-100);
  }
}

.btn-danger {
  @include btn-flat($red-300, $red-200, $red-000, $red-100);

  &--round {
    @include btn-round($red-300, $red-200, $red-000, $red-100);
  }
}

@media screen and (max-width: $button-screen-md-max) {
  .btn-right {
    margin: 0 2px 8px 8px;
  }

  .btn-left {
    margin: 0 8px 8px 2px;
  }
}

@media screen and (max-width: $button-screen-sm-max) {
  .btn-default,
  .btn-primary,
  .btn-info,
  .btn-success,
  .btn-warning,
  .btn-danger {
    padding: 4px 8px !important;
    font-size: $font-size-base !important;
  }

  .btn-icon {
    font-size: $font-size-base;
  }
}
