@import "variables";

.card_header {
  display: inline-block;
  height: auto;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: #f3f3f3;
  padding: 10px 16px;
  border-bottom: 1px solid #d9dce2;
}

.card_header .title {
  color: $base-text-color;
  font-size: 22px;
  font-weight: 700;
  font-family: Verdana;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .card_header .title {
    font-size: 20px;
  }
}
