.card-info {
  margin-bottom: 20px;

  &--container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__label-header {
    color: var(--text-color);
    margin-bottom: 8px;
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;
    font-family: emoji, sans-serif;
    text-align: left;
  }

  &__label-text {
    color: var(--text-color);
    padding-left: 4px;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    overflow-wrap: break-word;
  }

  &--anchor {
    display: block;

    &:hover {
      text-decoration: underline !important;
    }
  }

  &--padding {
    padding: 24px 16px;
  }
}

ik-card-new > .row {
  margin-bottom: 0;
}

@media screen and (max-width: $card-screen-sm-max) {
  .card-info {
    &__label-header {
      font-size: $font-size-base !important;
    }

    &__label-text {
      font-size: $font-size-md;
    }

    &--padding {
      padding: 16px;
    }
  }
}
