.content {
  padding-bottom: 24px;
  display: block;
}

.card-info__padding {
  padding: 24px;
}

.card-info__label-header {
  color: #222B45;
  font-size: 20px;
  font-weight: 600;
  font-family: emoji, sans-serif;
}

.card-info__label-text {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  overflow-wrap: break-word;
}

.APPROVED {
  color: #20c283;
}

.DENIED {
  color: #ff3648;
}

.PENDING {
  color: #f0ae4c;
}

.EXPIRED {
  color: #cc0001;
}

.DEFAULT {
  color:white
}

@media screen and (max-width: 500px) {
  .card__label-header {
    font-size: 18px !important;
  }

  .card-info__label-text {
    font-size: 16px;
  }

  .card-info__padding {
    padding: 16px;
  }
}
