.card-header {
  font-size: 20px;

  &--closed {
    transition-delay: 350ms;
    transition-property: border-radius, border;
    border-radius: 8px !important;
    border-bottom: none;
  }

  &__title {
    color: var(--text-color);
    font-size: 24px !important;
  }

  &__toggle-icon {
    margin: 0 12px 0 0;
    font-size: 24px;
  }
}

.card-header-mat {
  padding: 12px 16px !important;
  border-bottom: 1px solid #d9dce2 !important;
}

@media screen and (max-width: $card-screen-sm-max) {
  .card-header {
    &__title {
      font-size: $font-size-lg;
    }

    &__toggle-icon {
      font-size: 20px;
    }
  }
}
