@import 'variables';

.card {
  width: 100%;
  display: inline-block;
  height: auto;
  border-radius: 8px;
  border: 0.5px solid #c7c7c7;
  background: linear-gradient(to bottom, #ffffff 12%, #ffffff 100%);
  margin-bottom: 24px;
}

.card__content {
  display: block;
}

.card__content--collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 2s ease-in-out 100ms;

  &--closed {
    transition: max-height 2s ease-in-out -1.5s;
    max-height: 0;
  }
}

.card__content-padding {
  padding: 12px 4px;
}
