@import 'variables';

.card__header {
  animation: 0s 2s delayoverflow;
  display: inline-block;
  height: auto;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: #f3f3f3;
  padding: 10px 16px;
  border-bottom: 1px solid #d9dce2;
  cursor: pointer;

  &--closed {
    @extend .card__header;
    border-radius: 8px;
    border-bottom: none;
  }
}

.card__header .title {
  color: $text-color;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  font-family: Verdana;
  display: inline-block;
}

.card__header-toggle-icon {
  margin: 0 12px 0 0;
  font-size: 24px;
}

@media screen and (max-width: $card-screen-sm-max) {
  .card__header .title {
    font-size: $font-size-lg;
  }

  .card__header-toggle-icon {
    font-size: 20px;
  }
}
