@import "variables";

.checkbox__default {
  width: 25px;
  height: 25px;
  border: 1px solid #b5b5bb;
  cursor: pointer;
  margin: 12px;
}

@media screen and (max-width: $screen-sm-max) {
  .ik-checkbox-checkbox__default {
    width: 20px;
    height: 20px;
  }
}
