.app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 2px solid var(--footer-border);
  padding: 0 250px;
  background-color: var(--footer-background);
  display: block;
  unicode-bidi: isolate;

  .copyright {
    text-align: center;
    color: #919191;
    font-size: $font-size-md;
    padding: 10px 0;
  }

  .content-link {
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    color: var(--text-color);
    font-size: $font-size-base;
  }
}

@media screen and (max-width: $footer-screen-lg-max) {
  .app-footer {
    padding: 0 150px;
  }
}

@media screen and (max-width: $footer-screen-md-max) {
  .app-footer {
    padding: 0 100px;
  }
}

@media screen and (max-width: $footer-screen-sm-max) {
  .app-footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: $footer-screen-xs-max) {
  .app-footer .row {
    margin: 5px;
  }

  .app-footer {
    padding: 0 5px;

    .copyright {
      font-size: $font-size-caption;
    }

    .content-link {
      font-size: $font-size-md;
    }
  }
}
