// OLD GRID
.grid-header-icon {
  font-size: $font-size-header-sm;
  color: var(--icon-color);
  cursor: pointer;
}

.grid__checklist-column {
  width: 5%;
}

// NEW GRID

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-content {
  position: relative;
}

.grid-table {
  width: 100% !important;
  table-layout: fixed !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.grid-column__header {
  font-size: 20px;
  font-weight: bold;
}

.grid-row {
  cursor: pointer;
}

.grid-row:nth-child(odd) {
  background-color: var(--grid-item-background-even) !important;
}

.grid-row:hover {
  background-color: var(--grid-item-background-hover) !important;
  border-radius: 8px !important;
}

.grid-cell {
  padding: 8px 16px 8px 16px !important;
  font-size: 16px !important;
}

.grid-row:not(:last-child) {
  .grid-cell {
    border-bottom: 1px solid #d9dce2 !important;
  }
}

.grid-loading-overlay {
  height: 150px;
  width: 100%;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid-content--no-data {
  text-align: left;
  padding: 20px 16px;
  font-size: 18px;
}

.grid-icon {
  margin-left: 20px;
  font-size: $font-size-base;
}

@media screen and (max-width: $grid-screen-sm-max) {
  thead {
    tr {
      height: 40px !important;
    }
  }

  .grid-icon {
    margin-left: 12px;
  }

  .grid-column__header {
    font-size: 14px;
    padding: 0 12px 0 12px !important;
  }

  .grid-cell {
    padding: 8px 12px 8px 12px !important;
    font-size: 14px !important;
  }
}
