@import "variables";

.grid-search {
  color: $text-color;
  border-radius: 10px;
  background: #f7f9fc;
  border: 1px solid #e4e9f2;
  padding: 10px;
  font-size: $font-size-lg;
  width: 100%;
  margin: 20px 20px 0 20px;
}

.grid-search__multiselect-field {
  background: #f7f9fc;
  border: 0;
  box-shadow: none;
  display: inline-block;
  flex-grow: 2;
  font-size: $font-size-base;
  width: auto;

  &--margin-left {
    margin-left: 5px;
  }
}

.grid-search__multiselect-form {
  display: flex;
  flex-grow: 2;
}

.grid-search__icon {
  color: $text-color;
  font-size: $font-size-header-xs;
  cursor: pointer;
}

.grid-search__icon-align {
  position: absolute;
  top: 22px;
  right: 30px;
}

.grid-search__container {
  display: flex;
  align-items: center;
  position: relative;
}

// IOS Devices ONLY
@supports (-webkit-touch-callout: none) {
  .grid-search__multiselect-field--margin-left {
    margin-left: 0;
  }

  .grid-search__icon-align {
    top: 25px;
  }
}

@media screen and (max-width: $grid-screen-sm-max) {
  .grid-search {
    font-size: $font-size-caption;
    margin: 15px 5px 0 5px;
    padding: 8px;
  }

  .grid-search__icon-align {
    top: 20px !important;
    right: 15px;
  }

  .grid-search__icon {
    font-size: 28px;
  }
}
