@import "variables";

td {
  text-align: center;
}

thead {
  line-height: 32px;
  border-bottom: 1px solid #d2d4d6;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.grid__table {
  table-layout: fixed;
}

.grid__content {
  color: $text-color;
  cursor: pointer;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  text-align: left;
  padding: 15px 15px;
}

.grid__checklist-column {
  width: 5%;
}

.grid__text-label {
  font-size: $font-size-base;
  margin: 25px;
  float: left;
}

.grid__content-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid__column-header {
  color: $text-color;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  text-align: left;
}

.grid__header-padding {
  padding: 16px 0px 4px 16px;
}

.grid__content-row:nth-child(even) {
  background-color: #f7f9fc;
}

.grid__content-row:nth-child(odd) {
  background-color: white;
}

.grid__content-row:hover {
  background-color: #edf1f7;
}

.grid-icon {
  font-size: $font-size-lg;
}

@media screen and (max-width: $grid-screen-md-max) {
  .grid__checklist-column {
    width: 9%;
  }
}

@media screen and (max-width: $grid-screen-sm-max) {
  thead {
    line-height: 20px;
  }

  .grid__content {
    font-size: $font-size-caption;
    padding: 12px 5px 12px 5px;
  }

  .grid__column-header {
    font-size: $font-size-caption;
    padding-left: 5px;
  }
}
