@import "variables";

.search {
  color: $base-text-color;
  border-radius: 10px;
  background: #f7f9fc;
  border: 1px solid #e4e9f2;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

input {
  border-style: hidden;
}

.grid-search--icon {
  color: $base-text-color;
  font-size: 30px;
  cursor: pointer;
}

.grid-search--icon-align {
  position: absolute;
  right: 10px;
}

.grid-search--container {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 570px) {
  .search {
    font-size: 15px;
  }
}
