@import "variables";

.grid-search {
  color: $text-color;
  border-radius: 10px;
  background: #f7f9fc;
  border: 1px solid #e4e9f2;
  padding: 10px;
  font-size: $font-size-lg;
  width: 100%;
  margin: 20px 20px 0 20px;
}

.grid-search__icon {
  color: $text-color;
  font-size: $font-size-header-xs;
  cursor: pointer;
}

.grid-search__icon-align {
  position: absolute;
  top: 22px;
  right: 30px;
}

.grid-search__container {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: $grid-screen-sm-max) {
  .grid-search {
    font-size: $font-size-caption;
    margin: 15px 5px 0 5px;
  }

  .grid-search__icon-align {
    top: 15px;
    right: 15px;
  }
}
