@import "variables";

.header-title {
  width: auto;
  height: auto;
  display: inline-block;
  height: 50px;
  text-align: center;
  font-size: $font-size-header-lg;
  font-family: emoji, sans-serif;
  font-weight: $font-weight-semi-bold;
  color: $text-color;
}

@media screen and (max-width: $header-screen-lg-max) {
  .header-title {
    font-size: $font-size-header-xs;
  }
}

@media screen and (max-width: $header-screen-sm-max) {
  .header-title {
    font-size: $font-size-xl;
    padding-top: 10px;
  }
}
