@import "variables";

.header-title {
  width: auto;
  height: auto;
  display: inline-block;
  height: 50px;
  text-align: center;
  font-size: $font-size-header-lg;
  font-family: emoji, sans-serif;
  font-weight: 600;
  color: $text-color;
}

.header-margin {
  margin-bottom: 25px;
}

@media screen and (max-width: 1030px) {
  .header-title {
    font-size: $font-size-header-xs;
  }

  .header-margin {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 510px) {
  .header-title {
    font-size: $font-size-xl;
    padding-top: 10px;
  }

  .header-margin {
    margin-bottom: 0;
  }
}
