.icon {
  font-size: $font-size-xl;

  &--default {
    color: var(--icon-color);
  }

  &--danger {
    color: $red-400;
  }

  &--success {
    color: $green-400;
  }
}

.fa-spin {
  animation-duration: 900ms;
}

.icon--disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: $screen-sm-max) {
  .icon {
    font-size: $font-size-lg;
  }
}
