.icon__default {
  font-size: $font-size-xl;
  color: var(--icon-color);
}

.icon__danger {
  margin-left: 20px;
  color: $red-400;

  &--margin-none {
    color: $red-400;
  }
}

.icon__success {
  margin-left: 20px;
  color: $green-400;
}

.icon__base {
  margin-left: 20px;
}

.fa-spin {
  animation-duration: 900ms;
}

.icon--disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: $screen-sm-max) {
  .icon__default {
    font-size: $font-size-lg;
  }

  .icon__danger,
  .icon__success,
  .icon__default {
    margin-left: 12px;
  }
}
