.indicator-light {
  align-items: center;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 1px 1px 6px white;
  display: inline-flex;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  padding: 5px;
  margin-left: 10px;
}

.light--success {
  background: #51a351;
}

.light--warning {
  background: #ffd200;
}

.light--danger {
  background: #e32323;
}

@media screen and (max-width: $screen-sm-max) {
  .indicator-light {
    margin-left: 6px;
  }
}
