.info-card__chip {
  min-height: 115px;
  border-radius: 15px;
  background: var(--card-background);
  border: 0.5px solid var(--card-border);
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 16px;
}

.info-card__title {
  font-size: $font-size-xl;
  text-align: center;
  color: $primary;
  font-weight: $font-weight-bold;
}

.info-card__message {
  text-align: center;
  color: var(--text-color);
  font-size: $font-size-base;
  display: block;
  word-wrap: break-word;
}

.info-card {
  &__center .info-card__message,
  &__center .info-card__title {
    text-align: center !important;
  }
}
