@import 'variables';

select {
  border-style: hidden;
  cursor: pointer;
}

input {
  border-style: hidden;
}

input[readonly] {
  opacity: 0.4;
  cursor: not-allowed;
}

.form-input {
  border-radius: 8px;
  width: 100%;
  border-style: hidden;

  &__normal {
    @extend .form-input;
    background: #ebeff5;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: $font-size-lg;
  }

  &__outline {
    @extend .form-input;
    font-size: $font-size-caption;
    box-shadow: inset 0 1px 2px rgba(203, 203, 210, 0.2), 0 0 4px rgba(121, 88, 159, 0.3), inset 0 0 10px 1000px #ffffff;
    border: 1px solid #b5b5bb;
    padding: 0.7em 0.7em 0.7em 1em;
    outline: none;
    margin: 0.5em auto;
    transition: all 0.3s ease;

    &:focus {
      border: 1.5px solid #0882fc;
    }
  }

  &__multi-tag {
    @extend .form-input;
    background: #ebeff5;
    border: 1px solid #ccc;
    padding: 11px;
    font-size: $font-size-lg;
    display: inline-block;
    flex-grow: 2;

    .multi-input {
      background: #ebeff5;
      border: 0;
      box-shadow: none;
      display: inline-block;
      flex-grow: 2;
      font-size: $font-size-lg;
      width: auto;
    }
  }
  &.password {
    padding: 10px 46px 10px 10px;
  }
}

.form-select {
  border-radius: 8px;
  width: 100%;
  border-style: hidden;

  &__normal {
    @extend .form-select;
    background: #ebeff5;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: $font-size-lg;
  }

  &__outline {
    @extend .form-select;
    font-size: $font-size-caption;
    box-shadow: inset 0 1px 2px rgba(203, 203, 210, 0.2), 0 0 4px rgba(121, 88, 159, 0.3), inset 0 0 10px 1000px #ffffff;
    border: 1px solid #b5b5bb;
    padding: 0.7em 0.7em 0.7em 1em;
    outline: none;
    margin: 1.5em auto;
    transition: all 0.3s ease;

    &:focus {
      border: 1.5px solid #0882fc;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .form-input__normal {
    padding: 10px;
  }

  .form-input__multi-tag {
    padding: 9px;
  }

  .form-select {
    border-radius: 6px;
  }

  .form-select__normal {
    padding: 2px;
    font-size: $font-size-caption;
  }
}

// IOS Devices ONLY
@supports (-webkit-touch-callout: none) {
  .form-input::-webkit-date-and-time-value {
    text-align: left;
    height: 30px;
  }

  .form-input[type='date'] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }
  .form-input__multi-tag {
    .multi-input {
      height: 32px;
    }
  }
}
