.input-tag__container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

.input-tag {
  border-radius: 8px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  align-items: center;
  background: #666;
  display: inline-flex;
  height: 32px;
  max-width: 100%;
  padding: 0 8px;
  font-size: $font-size-lg;
  transition: all 0.12s ease-out;
}

.input-tag__remove {
  cursor: pointer;
  display: flex !important;
  font-size: $font-size-lg;
  width: 16px;
}

.input-tag__active {
  background-color: $primary;
}

.input-tag__margin {
  margin-right: 32px;
}

// IOS Devices ONLY
@supports (-webkit-touch-callout: none) {
  .input-tag__remove {
    margin-top: -4px;
  }
}

@media screen and (max-width: $grid-screen-sm-max) {
  .input-tag {
    font-size: $font-size-md;
  }

  .input-tag__remove {
    font-size: $font-size-base;
  }

  // IOS Devices ONLY
  @supports (-webkit-touch-callout: none) {
    .input-tag__remove {
      margin-top: -2px;
    }
  }
}
