@import 'variables';

.layout__column {
  &-left {
    float: left;
    padding-right: 50px;
  }

  &-right {
    float: right;
  }
}

.layout {
  &__wide {
    width: 60%;
  }

  &__narrow {
    width: 40%;
  }

  &__half {
    width: 50%;
  }
}

@media screen and (max-width: $layout-screen-lg-max) {
  .layout__column {
    &-left,
    &-right {
      float: left;
      padding-right: 0;
    }
  }

  .layout {
    &__wide,
    &__half,
    &__narrow {
      width: 100%;
    }
  }
}
