.ik-modal-body {
  font-size: $font-size-md;
}

.modal-background {
  color: var(--text-color);
  background-color: var(--modal-background);
}

.modal-content {
  border: none;
}

.modal-body {
  padding: 16px;
}

.modal-body__padding-none .modal-body {
  padding: 0;
}
