.navbar_profile__container {
  visibility: hidden;
  border-radius: 5px;
  top: 65px;
  right: 12px;
  position: fixed;
  background-color: var(--navbar-profile-background);
  width: 240px;
  z-index: 1;
  box-shadow: 0 3px 20px var(--navbar-profile-shadow);
  border: 1px solid var(--navbar-profile-border);
  transition: 0.25s;

  &--open {
    visibility: visible;
    opacity: 1;
  }

  &--closed {
    opacity: 0;
  }
}

.sidebar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 8px;

  .name {
    cursor: pointer;
    color: white;
    width: 100%;
    text-align: left;
    font-size: 18px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    overflow: hidden !important;
  }

  .chip {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-lg;
    background-color: #cfd7e6;
  }

  .email {
    cursor: pointer;
    font-size: $font-size-sm;
    text-align: left;
    width: 100%;
    color: #9aa7b9;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .logout {
    font-size: $font-size-md;
    &:hover {
      cursor: pointer;
    }
  }
}

.sidebar-header--content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar_profile__container .header:hover {
  background-color: var(--navbar-profile-item-hover);
  border-radius: 5px 5px 0 0;
}

.navbar_profile__item:hover {
  background-color: var(--navbar-profile-item-hover);
}

.navbar_profile__item + .navbar_profile__item:last-child:hover {
  border-radius: 0 0 3px 3px;
}

.navbar_profile__item {
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  transition: opacity 225ms cubic-bezier(0.4, 0, 1, 1) 175ms;

  line-height: $line-height-md;
  color: var(--navbar-profile-text-color);
}

.navbar_profile__item:not(:last-child) {
  border-bottom: 1px solid var(--navbar-profile-item-border);
}

.navbar_profile__item:last-child {
  border-radius: 0 0 3px 3px;
}

.navbar_profile__item-text {
  font-size: $font-size-md;
}

.navbar_profile__item-icon {
  display: block;
  text-align: left;
  width: 24px;
  font-size: $font-size-md;
}

.navbar_profile__overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  &--open {
    visibility: visible;
    opacity: 0;
  }

  &--closed {
    opacity: 0;
  }
}

@media screen and (max-width: $navbar-screen-sm-max) {
  .navbar_profile__container {
    top: 55px;
  }
}
