@import "variables";

.app-navbar {
  min-height: 50px;
  height: 80px;
  border: 1px solid transparent;
  background: #0095ff;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 4px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.app-navbar__title {
  font-size: $font-size-header-xs;
  color: $white;
  font-weight: $font-weight-semi-bold;
  text-align: left;
  height: auto;
  float: left;
  margin-left: 20px;
  margin-top: 16px;
  cursor: pointer;
}

.app-navbar__icons {
  font-size: $font-size-header-xs;
  width: 30px;
  float: left;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: $white;

  &__left {
    @extend .app-navbar__icons;
    float: left;
    margin-left: 15px;
  }

  &__right {
    @extend .app-navbar__icons;
    float: right;
    margin-right: 15px;
  }
}

/**
 * Media Value changes
 */
@media screen and (max-width: $navbar-screen-md-max) {
  .app-navbar__title {
    font-size: $font-size-lg;
    margin-top: 26px;
  }

  .app-navbar__icons {
    font-size: $font-size-xl;
    margin-top: 24px;
  }
}

@media screen and (max-width: $navbar-screen-sm-max) {
  .app-navbar__title {
    font-size: $font-size-md;
    margin-left: 0;
    margin-top: 24px;
  }

  .app-navbar__icons {
    font-size: $font-size-lg;
    margin-top: 20px;
  }

  .app-navbar__icons__left {
    margin-left: 4px;
    margin-right: 8px;
  }

  .app-navbar__icons__right {
    margin-right: 4px;
  }

  .app-navbar {
    height: 65px !important;
  }
}
