@import 'variables';
@import '~@ng-select/ng-select/themes/default.theme.css';

.ng-select.ng-select-single .ng-select-container {
  height: 56px;
}

.ng-select .ng-arrow {
  border-width: 8px 8px 3.5px;
}

.ng-select > .ng-select-container {
  background-color: #ebeff5;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 56.22px;
  line-height: 56.22px;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none;
  border-color: #ccc;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder,
.ng-select .ng-select-container .ng-value-container .ng-multi-value-label {
  color: #2a2a2a;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 0;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding: 0 0 0 7px;
}

.ng-dropdown-panel .ng-dropdown-header {
  border: 0;
  padding: 0;
}

@media screen and (max-width: $screen-sm-max) {
  .ng-select.ng-select-single .ng-select-container {
    height: 52px;
  }

  .ng-select > .ng-select-container {
    height: 52px;
    line-height: 52px;
  }
}
