.app-container {
  margin: 125px auto 0;
  height: auto;
  width: 90%;
  position: relative;
  text-align: left;
  padding-bottom: 50px;
}

@media screen and (max-width: $page-screen-xl-max) {
  .app-container {
    width: 95%;
  }
}

@media screen and (max-width: $page-screen-lg-max) {
  .app-container {
    width: 97%;
  }
}

@media screen and (max-width: $page-screen-md-max) {
  .app-container {
    width: 99%;
  }
}

@media screen and (max-width: $page-screen-sm-max) {
  .app-container {
    margin-top: 90px;
  }
}
