@import "variables";

.app-container {
  margin: 125px auto 0;
  height: auto;
  width: 90%;
  position: relative;
  text-align: left;
  padding-bottom: 50px;
}

@media screen and (max-width: 1800px) {
  .app-container {
    width: 95%;
  }
}

@media screen and (max-width: 1030px) {
  .app-container {
    width: 97%;
  }
}

@media screen and (max-width: 600px) {
  .app-container {
    width: 100%;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .app-container {
    margin: 90px 0 0 0;
  }
}
