.progress-bar {
  height: 8px;
  border-radius: 50px;
  background-color: #ebeff5;
  margin-top: $margin;
}

.progress-bar-fill {
  background-color: #2559ff;
  border-radius: 50px;
  height: 100%;
  transition: width 1s ease-out 0ms;
}
