.input-inline {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  color: var(--text-color);

  cursor: pointer;
}

.form-check-input {
  background-color: var(--radio-background);
  border: 1px solid var(--radio-border);
}

.input-inline + .input-inline {
  margin-left: 16px;
}

@media screen and (max-width: $screen-sm-max) {
  .input-inline + .input-inline {
    margin-left: 0;
  }
}
