.input-inline {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

.input-inline + .input-inline {
  margin-left: 16px;
}

@media screen and (max-width: $screen-sm-max) {
  .input-inline + .input-inline {
    margin-left: 0;
  }
}
