@import 'variables';

// Calendar Header
.cal-cell-row.cal-header {
  border-bottom: 1px solid #e1e1e1;
}

.month-title {
  margin: 18px 0;
  font-weight: bold;
  cursor: pointer;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal-header-button {
  font-size: 18px;
  border-radius: 4px !important;
  max-width: 105px;
}

.cal-month-view .cal-cell-top {
  min-height: auto;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}

.calendar-navigation--text {
  font-size: 20px;
  text-align: center;
  color: #007afe;
  cursor: pointer;
  transition: all 0.5s;
}

.calendar-nav--icon {
  font-size: 24px;
  color: #007afe;
  cursor: pointer;
  transition: all 0.25s;
}

.calendar-navigation--view {
  background-color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.calendar-navigation--text:hover,
.calendar-nav--icon:hover {
  color: #56a5fa;
}

// Calendar Content
.cal-month-view {
  border-radius: 8px;
}

.calendar-event-circle--multi {
  width: 10px;
  height: 10px;
  margin: 4px;

  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  background: #666;
  border: 2px solid #666;
  color: white;
  text-align: center;
}

.calendar-cell-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 10px;
}

.cal-days {
  border: none !important;
}

.cal-month-view .cal-day-cell {
  height: auto;
  min-height: 120px;
}

.cal-month-view .cal-day-number {
  float: left;
  margin: 0 !important;
}

.cal-month-view .cal-day-badge {
  float: right;
  margin: 0 !important;
}

.cal-month-view .cal-events {
  display: none;
}

.cal-month-view .block-day-icon,
.cal-week-view .cal-day-columns .block-day-icon,
.cal-day-view .block-day-icon {
  height: 100px;
  width: 100px;
  background: #868686;
  border-radius: 5px;
  position: relative;
}

div.cal-days > div.ng-star-inserted:last-child > div.cal-cell-row {
  border-bottom: none;
}

.calendar-event-pill--container {
  margin: 3px 10px;
}

.calendar-event-pill {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  transition: all 0.25s ease;

  &--ACTIVE {
    @extend .calendar-event-pill;
    background-color: $green-400;
    border: solid 1px $green-400;
  }

  &--PENDING {
    @extend .calendar-event-pill;
    background-color: $orange-200;
    border: solid 1px $orange-200;
  }

  &--CLOSED {
    @extend .calendar-event-pill;
    background-color: $red-400;
    border: solid 1px $red-400;
  }
}

.calendar-event-pill:hover {
  transform: scale(100.5%);
}

.calendar-event-pill__text {
  color: #0d6efd;
  font-size: 16px;
}

@media screen and (max-width: $screen-sm-max) {
  .cal-header-button {
    max-width: 86px;
    font-size: 16px !important;
    margin-left: 4px;
    margin-right: 4px;
  }

  .month-title {
    margin: 10px 5px;
  }

  .calendar-navigation {
    margin-right: 5px;
  }

  .calendar-navigation--text {
    font-size: 18px;
  }

  .calendar-nav--icon {
    font-size: 22px;
  }

  .calendar-navigation--view {
    padding: 8px;
    font-size: 18px;
  }

  .cal-month-view .cal-day-cell {
    min-height: 90px;
  }

  .calendar-cell-top {
    margin: 15px 5px;
  }

  .calendar-event-pill--container {
    margin: 3px 5px;
  }
}
