.sidebar::-webkit-scrollbar {
  width: 5px;
  background: $sidebar-scroll-bar;
}

.sidebar::-webkit-scrollbar-thumb {
  background: $sidebar-scroll-thumb;
  border-radius: 10px;
}

.sidebar {
  height: $sidebar-height;
  width: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  background-color: var(--sidebar-background);

  box-shadow: $sidebar-shadow;
  overflow-x: hidden;
  transition: 0.5s;

  &--open {
    width: $sidebar-width;
  }

  &--closed {
    .menu-item {
      opacity: 0;
    }
    width: 0;
  }
}

.sidebar .menu-item {
  cursor: pointer;
  padding: $padding-md $padding-xs;
  text-decoration: none;
  display: block;
  transition: opacity 225ms cubic-bezier(0.4, 0, 1, 1) 175ms;
  border-bottom: 1px solid var(--sidebar-item-border);
  line-height: $line-height-md;
  color: var(--sidebar-text-color);
  display: flex;
}

.sidebar div:hover {
  color: $sidebar-active;
}

.sidebar-icon {
  margin-right: $margin-xs;
  font-size: $font-size-md;
}

.sidebar-category {
  font-size: $font-size-lg;
}

.sidebar-category__active {
  color: $sidebar-active !important;
  border-left: 5px solid $sidebar-active !important;
}

.sidebar-category--nested__active {
  color: $sidebar-active !important;
}

.dropdown-item__active {
  color: $sidebar-active !important;
}

.sidebar .dropdown {
  max-height: 0;
  overflow: hidden;
  background-color: var(--sidebar-background);
  padding-left: calc($padding-xs / 2);

  &--open {
    transition: max-height 1.25s ease-out 0ms;
    max-height: 1000px;
  }

  &--closed {
    transition: max-height 525ms ease-out -250ms;
    max-height: 0;
  }
}

.sidebar .dropdown .menu-item {
  cursor: pointer;
  padding: 1.5rem 1rem;
  text-decoration: none;
  background-color: var(--sidebar-background);
  border-bottom: 1px solid var(--sidebar-item-border);
  color: var(--sidebar-text-color);
  line-height: 1.5rem;
  color: var(--sidebar-text-color);
  display: flex;
}

.sidebar .dropdown a:hover {
  color: $sidebar-active;
}

.sidebar-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $sidebar-overlay;
  transition: 0.5s;
  z-index: 2;

  &--open {
    visibility: visible;
    opacity: 1;
  }

  &--closed {
    opacity: 0;
  }
}

.dropdown-icon {
  float: right;
  font-size: $font-size-md;
  transition: 0.25s;

  &--open {
    @extend .dropdown-icon;
    transform: rotate(-90deg);
  }

  &--closed {
    @extend .dropdown-icon;
  }
}

@media screen and (max-width: $sidebar-screen-sm-max) {
  .sidebar {
    height: $sidebar-height-small;
  }

  .sidebar div {
    font-size: $font-size-base;
  }
}
