@import "variables";

.sidenav::-webkit-scrollbar {
  width: 5px;
  background: #f7f9fc;
}

.sidenav::-webkit-scrollbar-thumb {
  background: #e4e9f2;
  border-radius: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 80px;
  bottom: 100px;
  left: 0;
  background-color: white;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav .menu-item {
  cursor: pointer;
  padding: 1.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #edf1f7;
  line-height: 1.5rem;
  color: #656e7e;
  display: flex;
}

.sidenav div:hover {
  color: #3366ff;
}

.sidebar-icon {
  margin: 0 1rem 0 0;
  font-size: $font-size-md;
}

.sidebar-category {
  font-size: $font-size-lg;
}

.sidebar-category__active {
  color: #3366ff !important;
  border-left: 5px solid #3366ff !important;
}

.dropdown-item__active {
  color: #3366ff !important;
}

.sidenav .dropdown {
  max-height: 0;
  transition: 0.25s;
  overflow: hidden;
  background-color: white;
  padding-left: 8px;
}

.sidenav .dropdown .menu-item {
  cursor: pointer;
  padding: 1.5rem 1rem;
  text-decoration: none;
  border-bottom: 1px solid #edf1f7;
  line-height: 1.5rem;
  color: #656e7e;
  display: flex;
}

.sidenav .dropdown a:hover {
  color: #3366ff;
}

.dropdown-icon {
  float: right;
  font-size: $font-size-md;
}

@media screen and (max-height: 680px) {
  .sidenav a {
    padding: 1rem 1rem;
  }

  .nav-icon {
    margin: 0 1rem 0 0;
    font-size: $font-size-caption;
  }

  .nav-category {
    font-size: $font-size-base;
  }
}

@media screen and (max-width: 555px) {
  .sidenav {
    top: 70px;
  }
}

@media screen and (max-width: 440px) {
  .sidenav {
    top: 60px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav div {
    font-size: $font-size-base;
  }
}

@media screen and (max-width: 365px) {
  .sidenav {
    top: 60px;
  }
}
