// App Theme Colors
[data-theme='LIGHT'] {
  --base-color: #f1f5f9;
  --base-background: white;
  --text-color: #222b45;

  // Card
  --card-background: white;
  --card-border: #dcdcdc;
  --card-header-background: #f7f7f7;
  --card-header-border: #d9dce2;

  // Icon
  --icon-color: #212529;

  // File Upload
  --file-upload-border-top: #ebedef;

  // Form
  --form-input-background: #edf1f7;
  --form-input-grid-background: #edf1f7;
  --form-input-border: #ccc;
  --form-input-color-scheme: light;

  // Footer
  --footer-background: white;
  --footer-border: #edf1f7;

  // Sidenav
  --sidenav-background: #0f172a;
  --sidenav-text-color: white;

  // Grand Prix
  --grand-prix-match-border: #d9d9d9;
  --grand-prix-player-border: #dcdcdc;

  // Grid
  --grid-item-background-even: #f7f9fc;
  --grid-item-background-odd: white;
  --grid-item-background-hover: #edf1f7;
  --grid-header-border: #d2d4d6;
  --grid-search-background: #f7f9fc;
  --grid-search-border: #e4e9f2;

  // Model
  --modal-header-background: #f3f3f3;
  --modal-header-border: #d9dce2;
  --modal-background: white;

  // Radio
  --radio-background: white;
  --radio-border: #b5b5bb;

  // Schedule
  --schedule-background: white;
  --schedule-today: #e8fde7;
  --schedule-header-background: white;
  --schedule-icons: white;
  --schedule-border: #e1e1e1;
  --schedule-row-hover: #f5faff;
  --schedule-cell-hover: #e1e1e1;
  --schedule-weekend-color: #8b0000;

  // Ng Select
  --ng-select-background: #edf1f7;
  --ng-select-dropdown-background: white;
  --ng-select-scroll-pill: #d1d6df;
  --ng-select-top-border: #e6e6e6;
  --ng-select-marked: #ebf5ff;
  --ng-select-hover: #f5faff;
  --ng-select-border: #cccccc;

  // Tooltip
  --tooptip-background: #222b45;
  --tooltip-text-color: white;
}

[data-theme='DARK'] {
  --dark-000: white;
  --dark-050: #8f9bb3;
  --dark-100: #363f5f;
  --dark-200: #2d3553;
  --dark-300: #222b45;
  --dark-400: #192038;
  --dark-500: #151a30;
  --dark-600: #101426;

  --base-color: var(--dark-500);
  --base-background: var(--dark-300);
  --text-color: var(--dark-000);

  // Card
  --card-background: var(--dark-300);
  --card-border: var(--dark-600);
  --card-header-background: var(--dark-200);
  --card-header-border: var(--dark-600);

  // Icons
  --icon-color: var(--dark-000);

  // File Upload
  --file-upload-border-top: var(--dark-200);

  // Form
  --form-input-background: var(--dark-400);
  --form-input-grid-background: var(--dark-200);
  --form-input-border: var(--dark-600);
  --form-input-color-scheme: dark;

  // Footer
  --footer-background: var(--dark-300);
  --footer-border: var(--dark-600);

  // Sidenav
  --sidenav-background: var(--dark-300);
  --sidenav-text-color: var(--dark-000);

  // Grand Prix
  --grand-prix-match-border: var(--dark-050);
  --grand-prix-player-border: var(--dark-050);

  // Grid
  --grid-item-background-even: var(--dark-300);
  --grid-item-background-odd: var(--dark-400);
  --grid-item-background-hover: var(--dark-500);
  --grid-header-border: var(--dark-600);
  --grid-search-background: var(--dark-400);
  --grid-search-border: var(--dark-600);

  // Modal
  --modal-header-background: var(--dark-200);
  --modal-header-border: var(--dark-600);
  --modal-background: var(--dark-300);

  // Radio
  --radio-background: var(--dark-100);
  --radio-border: var(--dark-600);

  // Schedule
  --schedule-background: var(--dark-300);
  --schedule-today: var(--dark-050);
  --schedule-icons: var(--dark-050);
  --schedule-header-background: var(--dark-200);
  --schedule-border: var(--dark-600);
  --schedule-row-hover: var(--dark-100);
  --schedule-cell-hover: var(--dark-200);
  --schedule-weekend-color: #cd5c5c;

  // Ng Select
  --ng-select-background: var(--dark-400);
  --ng-select-dropdown-background: var(--dark-300);
  --ng-select-scroll-pill: var(--dark-500);
  --ng-select-top-border: var(--dark-600);
  --ng-select-marked: var(--dark-200);
  --ng-select-hover: var(--dark-100);
  --ng-select-border: var(--dark-600);

  // Tooltip
  --tooptip-background: #edf1f7;
  --tooltip-text-color: #222b45;
}
