* {
  font-family: emoji, sans-serif;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

a {
  text-decoration: none !important;
}

button,
input,
textarea,
select {
  outline: none !important;
}

textarea {
  resize: none;
}

.link {
  cursor: pointer;
  color: #0d6efd;
}

.text-color {
  color: var(--text-color);
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-direction {
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.text-center {
  text-align: center !important;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: left;
  width: 50%;
}

.text-pre-wrap {
  white-space: pre-line;
}

.margin-base {
  margin: 12px;
}

.margin-none {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.list-style-none {
  list-style-type: none;
}
