* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

a {
  text-decoration: none !important;
}

button,
input,
textarea,
select {
  outline: none !important;
}

textarea {
  resize: none;
}

.link {
  cursor: pointer;
  color: #0d6efd;

  &--dark {
    cursor: pointer;
    color: #9e9e9e;
  }
}

.text-color {
  color: var(--text-color);
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.display-none {
  display: none !important;
}

.flex-direction {
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

  &--start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: left;
  width: 50%;
}

.text-pre-wrap {
  white-space: pre-line;
}

.margin-base {
  margin: 12px;
}

.margin {
  &__top {
    &--base {
      margin-top: 12px;
    }

    &--large {
      margin-top: 24px;
    }
  }
}

.margin-none {
  margin: 0;
}

.padding-none {
  padding: 0 !important;
}

.border-none {
  border: none !important;
}

.padding {
  &-bottom {
    &--none {
      padding-bottom: 0;
    }
  }

  &-top {
    &--base {
      padding-top: 12px;
    }
    &--none {
      padding-top: 0;
    }
  }
}

.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.list-style-none {
  list-style-type: none;
}

.width {
  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }

  &--75 {
    width: 75%;
  }

  &--auto {
    width: auto;
  }
}

.force-disable {
  opacity: 0.5;
}
