@import "variables";

* {
  font-family: emoji, sans-serif;
}

a {
  text-decoration: none !important;
}

button,
input,
textarea,
select {
  outline: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-display {
  display: inline;
}

.width-full {
  width: 100% !important;
}

.width-half {
  width: 50% !important;
}

.margin-top-none {
  margin-top: 0 !important;
}

.margin-top {
  margin-top: 10px;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.text-center {
  text-align: center !important;
}

.text-danger {
  color: $color-danger;
}

.text-success {
  color: $color-success;
}

.text-default {
  color: $base-text-color;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: left;
  width: 50%;
}

.padding_bottom--small {
  padding-bottom: 45px;
}

.margin-none {
  margin: 0;
}

.label-header {
  font-size: 22px;
  font-weight: 600;
  font-family: emoji, sans-serif;
}

@media screen and (max-width: 500px) {
  .h-button {
    margin-top: 0;
  }

  .header-buttons {
    display: block;
  }
}
