// White
$white: #fff;

// Black
$black: #000;

// Link Color
$link: #0068d6;
$link-hover: #3e88d8;

// Beige scale
$beige-000: #fafaf8;
$beige-100: #f7f5f2;
$beige-200: #eeeae3;
$beige-300: #e2dbd0;
$beige-400: #d7cdbe;
$beige-500: #c3b49d;
$beige-600: #b4a185;
$beige-700: #a18966;

// Gray Scale
$gray-000: #cfd8dc;
$gray-100: #b0bec5;
$gray-200: #90a4ae;
$gray-300: #78909c;
$gray-400: #666;
$gray-500: #515151;
$gray-600: #444;
$gray-700: #2a2a2a;

// Blue Scale
$blue-000: #bbdefb;
$blue-100: #85c4f8;
$blue-200: #5bb0f7;
$blue-300: #0095ff;
$blue-400: #1d77bd;
$blue-500: #2b67b2;
$blue-600: #3155a6;
$blue-700: #263c97;

// Teal Scale
$teal-000: #b2ebf2;
$teal-100: #80deea;
$teal-200: #4dd0e1;
$teal-300: #26c6da;
$teal-400: #22aec0;
$teal-500: #1d93a3;
$teal-600: #1a818f;
$teal-700: #166d79;

// Green Scale
$green-000: #c8e6c9;
$green-100: #a5d6a7;
$green-200: #81c784;
$green-300: #66bb6a;
$green-400: #3cbe36;
$green-500: #2b9936;
$green-600: #058430;
$green-700: #056c30;

// Orange Scale
$orange-000: #ffe0b2;
$orange-100: #ffcc80;
$orange-200: #feb759;
$orange-300: #ffa726;
$orange-400: #fea83a;
$orange-500: #fd9827;
$orange-600: #f88e25;
$orange-700: #eb6f20;

// Red Scale
$red-000: #ffccbc;
$red-100: #ffab91;
$red-200: #ff7c65;
$red-300: #ff4943;
$red-400: #e32323;
$red-500: #cd1816;
$red-600: #b50e19;
$red-700: #950e0c;

// Base
$primary: $blue-300;
$text-color: $gray-700;

// App Background

[data-theme='light'] {
  --base-color: #ebeff5;
  --base-border: #101426;
  --base-background: white;
  --text-color: #2a2a2a;

  --card-background: white;
  --card-border: #c7c7c7;
  --card-header-background: #f3f3f3;

  --icon-color: #212529;

  --form-input-background: #ebeff5;
  --form-input-border: #ccc;

  --footer-background: white;
  --footer-border: #edf1f7;

  --sidebar-background: white;
  --sidebar-text-color: #656e7e;
  --sidebar-item-border: #edf1f7;

  --grid-item-background-even: #f7f9fc;
  --grid-item-background-odd: white;
  --grid-item-background-hover: #edf1f7;
  --grid-header-border: #d2d4d6;
  --grid-search-background: #f7f9fc;
  --grid-search-border: #e4e9f2;

  --navbar-background: #0095ff;
  --navbar-icons: white;

  --ng-select-background: #ebeff5;
  --ng-select-dropdown-background: white;
  --ng-select-top-border: #e6e6e6;
  --ng-select-marked: #ebf5ff;
  --ng-select-hover: #f5faff;
  --ng-select-border: #cccccc;
}

[data-theme='dark'] {
  --base-color: #151a30;
  --base-border: #101426;
  --base-background: #222b45;
  --text-color: white;

  --card-background: #222b45;
  --card-border: #101426;
  --card-header-background: #2d3553;

  --icon-color: white;

  --form-input-background: #192038;
  --form-input-border: #101426;

  --footer-background: #222b45;
  --footer-border: #101426;

  --sidebar-background: #222b45;
  --sidebar-text-color: white;
  --sidebar-item-border: #101426;

  --grid-item-background-even: #222b45;
  --grid-item-background-odd: #192038;
  --grid-item-background-hover: #151a30;
  --grid-header-border: #101426;
  --grid-search-background: #192038;
  --grid-search-border: #101426;

  --navbar-background: #222b45;
  --navbar-icons: #8f9bb3;

  --ng-select-background: #151a30;
  --ng-select-dropdown-background: #222b45;
  --ng-select-top-border: #21253b;
  --ng-select-marked: #2d3553;
  --ng-select-hover: #363f5f;
  --ng-select-border: #101426;
}

//**************************************************//
// Fonts
//**************************************************//
$font-weight-semi-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-size-sm: 12px !default;
$font-size-caption: 14px !default;
$font-size-md: 16px !default;
$font-size-base: 18px !default;
$font-size-lg: 20px !default;
$font-size-xl: 24px !default;
$font-size-header-xs: 32px !default;
$font-size-header-sm: 36px !default;
$font-size-header-md: 40px !default;
$font-size-header-lg: 44px !default;

//**************************************************//
// Content & Layout
//**************************************************//

$spacing-xs: 16px !default;
$spacing-sm: 18px !default;
$spacing-md: 24px !default;
$spacing-lg: 24px !default;
$spacing-xl: 30px !default;

$padding: $spacing-xs !default;
$padding-xs: $spacing-xs !default;
$padding-sm: $spacing-sm !default;
$padding-md: $spacing-md !default;
$padding-lg: $spacing-lg !default;
$padding-base-vertical: 6px !default;

$margin: $spacing-xs !default;
$margin-xs: $spacing-xs !default;
$margin-sm: $spacing-sm !default;
$margin-md: $spacing-md !default;
$margin-lg: $spacing-lg !default;
$margin-xl: $margin * 2 !default;

$line-height-sm: 20px !default;
$line-height-md: 24px !default;
$line-height-lg: 32px !default;
$line-height-lg: 44px !default;

//**************************************************//
// Screen Widths
//**************************************************//

// Base Sizes
$screen-xs-max: 375px !default; // Small Mobile Devices (0 - 375)
$screen-sm-max: 500px !default; // Large Mobile Devices (376 - 500)
$screen-md-max: 768px !default; // iPad, Tablet (501 - 768)
$screen-lg-max: 1024px !default; // Small Screens, Laptops (769 - 1024)
$screen-xl-max: 1274px !default; // Large Screens, TV's (1025 - 1274)

// Button
$button-screen-sm-max: $screen-sm-max;
$button-screen-md-max: 830px;
$button-screen-lg-max: $screen-lg-max;

// Card
$card-screen-sm-max: $screen-sm-max;

// Footer
$footer-screen-xs-max: 425px;
$footer-screen-sm-max: 520px;
$footer-screen-md-max: $screen-md-max;
$footer-screen-lg-max: $screen-lg-max;

// Grid
$grid-screen-sm-max: 570px;
$grid-screen-md-max: $screen-md-max;

// Header
$header-screen-sm-max: $screen-sm-max;
$header-screen-lg-max: $screen-lg-max;

// Layout
$layout-screen-lg-max: 960px;

// Login
$login-screen-sm-max: $screen-sm-max;
$login-screen-md-max: $screen-md-max;
$login-screen-lg-max: $screen-xl-max;

// Navbar
$navbar-screen-sm-max: $screen-sm-max;
$navbar-screen-md-max: 675px;

// Page
$page-screen-sm-max: $screen-sm-max;
$page-screen-md-max: 600px;
$page-screen-lg-max: $screen-lg-max;
$page-screen-xl-max: 1800px;

// Side Bar
$sidebar-screen-sm-max: $screen-sm-max;

//**************************************************//
// Footer
//**************************************************//
$footer-height: 100px;

//**************************************************//
// Navbar
//**************************************************//
$navbar-height: 80px;
$navbar-height-small: $navbar-height - 15px;

//**************************************************//
// Sidebar
//**************************************************//
$sidebar-width: 280px;
$sidebar-height: calc(100% - $navbar-height);
$sidebar-height-small: calc(100% - $navbar-height-small);
$sidebar-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
$sidebar-active: #3366ff;
$sidebar-text: #656e7e;
$sidebar-overlay: rgba(0, 0, 0, 0.5);
$sidebar-item-border: 1px solid #edf1f7;
$sidebar-scroll-bar: #f7f9fc;
$sidebar-scroll-thumb: #e4e9f2;
