// Chart Blue Violet Scale

$chart-blue-violet-000: #ecedf6;

$chart-blue-violet-050: #c9cde5;

$chart-blue-violet-100: #a4aad3;

$chart-blue-violet-200: #757dbc;

$chart-blue-violet-300: #5862ae;

$chart-blue-violet-400: #3c46a0;

$chart-blue-violet-500: #2e3899;

$chart-blue-violet-600: #272690;

$chart-blue-violet-700: #23226a;

$chart-blue-violet-800: #0c0e45;

// Chart Teal Blue Scale

$chart-teal-blue-000: #e6f9fa;

$chart-teal-blue-050: #c7f1f3;

$chart-teal-blue-100: #a7e9ec;

$chart-teal-blue-200: #74dce1;

$chart-teal-blue-300: #46d0d7;

$chart-teal-blue-400: #00bec8;

$chart-teal-blue-500: #00aec8;

$chart-teal-blue-600: #0095b9;

$chart-teal-blue-700: #1d7fa5;

$chart-teal-blue-800: #005993;

// Chart Purple Scale

$chart-purple-000: #f3eaf4;

$chart-purple-050: #e1c9e2;

$chart-purple-100: #c79ac9;

$chart-purple-200: #af6fb2;

$chart-purple-300: #98479c;

$chart-purple-400: #8c3291;

$chart-purple-500: #7c1682;

$chart-purple-600: #641664;

$chart-purple-700: #4e034d;

$chart-purple-800: #320038;

// Chart Sea Green Scale

$chart-sea-green-000: #f0faf7;

$chart-sea-green-050: #dff4ed;

$chart-sea-green-100: #c1e9dc;

$chart-sea-green-200: #97dbc4;

$chart-sea-green-300: #76cfb1;

$chart-sea-green-400: #4ac098;

$chart-sea-green-500: #18ae7c;

$chart-sea-green-600: #1c9d7e;

$chart-sea-green-700: #0e8a76;

$chart-sea-green-800: #00746e;

// Chart Yellow Green Scale

$chart-yellow-green-000: #fbfdf2;

$chart-yellow-green-050: #f6fae0;

$chart-yellow-green-100: #ebf4b8;

$chart-yellow-green-200: #e4ef9a;

$chart-yellow-green-300: #daeb78;

$chart-yellow-green-400: #d2e65a;

$chart-yellow-green-500: #c5df29;

$chart-yellow-green-600: #aec937;

$chart-yellow-green-700: #9dbb29;

$chart-yellow-green-800: #87a029;

// Chart Pacific Blue Scale

$chart-pacific-blue-000: #eff5fa;

$chart-pacific-blue-050: #bbd9eb;

$chart-pacific-blue-100: #92c1df;

$chart-pacific-blue-200: #569ecd;

$chart-pacific-blue-300: #2985c0;

$chart-pacific-blue-400: #006eb4;

$chart-pacific-blue-500: #1c5eac;

$chart-pacific-blue-600: #2a51a3;

$chart-pacific-blue-700: #183a88;

$chart-pacific-blue-800: #122753;

// Chart Violet Scale

$chart-violet-000: #faeef7;

$chart-violet-050: #f1d1e8;

$chart-violet-100: #e6add6;

$chart-violet-200: #d472b9;

$chart-violet-300: #c84aa5;

$chart-violet-400: #bf2a95;

$chart-violet-500: #b2007f;

$chart-violet-600: #9c0068;

$chart-violet-700: #850057;

$chart-violet-800: #5b0034;

//**************************************************//

// Old Color Variables

//**************************************************//

$orange: $orange-500 !default; // Colin Orange

$momentum-orange: $orange-400 !default; // sass-lint:disable-line hex-length // Momentum Orange

$notify-orange: $orange-200 !default; // Orange used for Sitewide Notifications Banner // Orange 200

$orange-dark: $orange-700 !default; // Dark Colin Orange

$orange-light: $orange-100 !default; // Light Colin Orange

$colin-black: $gray-900 !default; // Colin Black

$red: $red-400 !default; // Danger Red

$red-dark: $red-700 !default; // Dark Red

$yellow: $yellow-400 !default; // Warning Yellow

$yellow-dark: $yellow-700 !default; // Dark Warning Yellow

$light-beige: $yellow-100 !default; // Light Beige

$green: $green-400 !default; // Positive Green

$green-dark: $green-700 !default; // Dark Positive Green

$blue: $blue-400 !default; // Focus Blue

$blue-dark: $blue-700 !default; // Dark Focus Blue

$blue-violet: $chart-blue-violet-400 !default; // Blue Violet

$teal-blue: $chart-teal-blue-400 !default; // Teal Blue

$purple: $chart-violet-400 !default; // Purple

$sea-green: $chart-sea-green-400 !default; // Sea Green

$pacific-blue: $chart-pacific-blue-400 !default; // Pacific Blue

$yellow-green: $chart-yellow-green-500 !default; // Yellow Green

$violet: $chart-purple-400 !default; // Violet

// Chart Colors

$chart-blue-violet: $chart-blue-violet-400;

$chart-teal-blue: $chart-teal-blue-400;

$chart-purple: $chart-violet-400;

$chart-sea-green: $chart-sea-green-400;

$chart-pacific-blue: $chart-pacific-blue-400;

$chart-yellow-green: $chart-yellow-green-500;

$chart-violet: $chart-purple-400;

$primary: $orange-400 !default;

$dark-primary: $orange-700 !default;

$bg-color: $gray-050 !default;

$icon-color: $gray-800 !default;

$text-color: $gray-800 !default;

$text-color-light: $white !default;

$text-highlight-color: #b3d7fe !default;

$negative: $red-400 !default;

$dark-negative: $red-700 !default;

$caution: $yellow-400 !default;

$dark-caution: $yellow-700 !default;

$positive: $green-400 !default;

$dark-positive: $green-700 !default;

$focus: $blue-400 !default;

$dark-focus: $blue-700 !default;

// Bootstrap Overrides

$gray-base: $gray-900 !default;

$gray-darker: $gray-900 !default;

$gray-dark: $gray-800 !default;

$gray-light: $gray-400 !default;

$gray-lighter: $gray-200 !default;

$brand-primary: $orange-400 !default;

$brand-success: $green-400 !default;

$brand-info: $blue-400 !default;

$brand-info-dark: $blue-700 !default;

$brand-warning: $yellow-400 !default;

$brand-danger: $red-400 !default;

$brand-danger-dark: $red-700 !default;

$link-color: $link !default;

$link-hover-color: $link-color !default;

$link-hover-decoration: underline !default;

// Environment Banner Background Colors

$env-banner-bg-production: $beige-300 !default;

$env-banner-bg-test: $blue-500 !default;

$env-banner-bg-development: $green-500 !default;

//**************************************************//

// Fonts

//**************************************************//

$font-family-sans-serif: "myriad-pro", "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;

$font-family-sans-bold: "myriad-pro-semi-condensed", "Helvetica Neue", Helvetica,
  Arial, sans-serif !default;

$font-family-sans-light: "myriad-pro-semi-condensed", "Helvetica Neue",
  Helvetica, Arial, sans-serif !default;

$font-family-serif: $font-family-sans-serif !default;

$font-family-serif-bold: $font-family-sans-bold !default;

$font-family-serif-black: $font-family-sans-bold !default;

$font-family-base: $font-family-sans-serif !default;

$headings-font-family: $font-family-serif-bold !default;

$font-weight-semi-light: 300;

$font-weight-normal: 400;

$font-weight-semi-bold: 600;

$font-weight-bold: 700;

$font-size-base: 18px !default;

$font-size-base-xs: 16px !default;

$font-size-h1: 32px !default;

$font-size-h1-xs: 28px !default;

$font-size-h2: 30px !default;

$font-size-h2-xs: 24px !default;

$font-size-h3: 24px !default;

$font-size-h3-xs: 20px !default;

$font-size-h4: 24px !default;

$font-size-h4-xs: 19px !default;

$font-size-h5: 19px !default;

$font-size-h5-xs: 18px !default;

$font-size-h6: 14px !default;

$font-size-h6-xs: 14px !default;

$font-size-headline: 48px !default;

$font-size-headline-xs: 32px !default;

$font-size-greeting: 24px !default;

$font-size-greeting-xs: 16px !default;

$font-size-label: 18px !default;

$font-size-caption: 14px !default;

$font-size-copyright: 12px !default;

//**************************************************//

// Content & Layout

//**************************************************//

// This is a one-off color that will only ever be used as the body background color

// This should not be included in the color system

$body-bg: $gray-050;

$background: url("#{$liftkit-images-path}background-texture.png");

$dropdown-menu-width: 250px !default;

$view-max-width: 1600px !default;

$view-narrow-max-width: 768px !default;

$screen-xs-min: 320px !default;

$screen-xs-max: 767px !default;

$screen-sm-min: 768px !default;

$screen-sm-max: 1023px !default;

$screen-md-min: 1024px !default;

$screen-md-max: 1279px !default;

$screen-lg-min: 1280px !default;

$spacing-xs: 18px !default;

$spacing-sm: 18px !default;

$spacing-md: 24px !default;

$spacing-lg: 24px !default;

$spacing-xl: 30px !default;

$padding: $spacing-xs !default;

$padding-xs: $spacing-xs !default;

$padding-sm: $spacing-sm !default;

$padding-md: $spacing-md !default;

$padding-lg: $spacing-lg !default;

$padding-base-vertical: 6px !default;

$margin: $spacing-xs !default;

$margin-xs: $spacing-xs !default;

$margin-sm: $spacing-sm !default;

$margin-md: $spacing-md !default;

$margin-lg: $spacing-lg !default;

$margin-xl: $margin * 2 !default;

$line-height-lg: 27px !default;

$line-height-base: 1.428571429 !default; // 20/14

$line-height-computed: floor(($font-size-base * $line-height-base)) !default;

// Bootstrap Overrides

$grid-gutter-width: $spacing-xl !default;

//**************************************************//

// Icon

//**************************************************//

$icon-size: 24px !default;

$icon-size-select: 16px !default;

$icon-size-xs: 16px !default;

$icon-grid-sort-color: $gray-800 !default;

$loading-indicator-secondary: $gray-050 !default;

$hamburger-select-width: $icon-size !default;

//**************************************************//

// Style Elements

//**************************************************//

$shadow-color: rgba(0, 0, 0, 0.18) !default;

$shadow: 0 1px 2px $shadow-color !default;

$light-shadow-color: rgba(255, 255, 255, 0.32) !default;

$light-shadow: 0 1px 2px $light-shadow-color !default;

$dark-shadow-color: rgba(0, 0, 0, 0.16) !default;

$dark-shadow: 0 1px 2px $dark-shadow-color !default;

//**************************************************//

// Transform Elements

//**************************************************//

$rotate-90d: rotate(90deg);

//**************************************************//

//

// NOTE: Everything below should be kept in

// alphabetical order based on the group name

//

//**************************************************//

//**************************************************//

// Action Bar

//**************************************************//

$action-btn-disabled: $gray-300 !default;

$action-btn-primary-disabled-bg: $orange-100 !default;

$action-btn-secondary-disabled-bg: $gray-200 !default;

//**************************************************//

// Audit Log

//**************************************************//

$audit-log-border: $gray-050 !default;

//**************************************************//

// Borders

//**************************************************//

$border-radius-base: 8px !default;

$border-radius-large: 8px !default;

$border-radius-small: 0 !default;

//**************************************************//

// Buttons

//**************************************************//

$button-padding: $padding !default;

$button-padding-lg: floor($button-padding * 1.2) !default; // 18px

$button-padding-sm: floor($button-padding * 0.8) !default; // 12px

$button-padding-xs: floor($button-padding * 0.6) !default; // 9px

$button-margin: math.div($margin, 2) !default;

$button-margin-lg: floor($button-margin * 1.2) !default; // 9px

$button-margin-sm: floor($button-margin * 0.8) !default; // 6px

$button-margin-xs: floor($button-margin * 0.6) !default; // 4px

$button-min-width: 136px !default;

$button-height: 48px !default;

$button-height-computed: 48px !default;

$button-icon-size: $icon-size !default;

$button-icon-spacing: 8px !default;

$button-icon-padding: 12px;

$btn-border-radius-base: 0 !default;

$btn-border-radius-large: 0 !default;

$btn-border-radius-small: 0 !default;

$btn-cta-hover-bg: $orange-500;

$btn-secondary-color: $gray-050 !default;

$btn-secondary-bg: $gray-500 !default;

$btn-secondary-border: $gray-300 !default;

$btn-default-color: $btn-secondary-color !default;

$btn-default-bg: $btn-secondary-bg !default;

$btn-link-bg-active: $gray-050 !default;

//**************************************************//

// Checklist

//**************************************************//

$checklist-border: $gray-050 !default;

$checklist-text-color: $gray-500 !default;

//**************************************************//

// Widgets

//**************************************************//

$widget-header-height: 56px !default;

$widget-header-height-xs: 48px !default;

$widget-menu-hover: $gray-000 !default;

$widget-table-border: $gray-050 !default;

$widget-loading-indicator: $gray-200 !default;

$widget-grid-status-bg: $gray-300 !default;

$widget-action-icon-size: $icon-size !default;

$widget-collapse-icon-size: $icon-size-xs !default;

//**************************************************//

// Card

//**************************************************//

$card-header-height: 56px !default;

$card-header-height-xs: 48px !default;

$card-menu-hover: $gray-000 !default;

$card-border: $gray-300 !default;

$card-table-border: $gray-300 !default;

$card-loading-indicator: $gray-200 !default;

$card-grid-status-bg: $gray-300 !default;

//**************************************************//

// Dropdown Menus, Container, and Content

//**************************************************//

$dropdown-link-active-bg: $orange-500 !default;

$dropdown-hover: $gray-000 !default;

$dropdown-color: $gray-800 !default;

$dropdown-menu-border: $gray-200 !default;

//**************************************************//

// Radiolist

//**************************************************//

$radio-list-hover: $gray-050 !default;

//**************************************************//

// Footer

//**************************************************//

$footer-height: 148px !default;

$footer-height-sm: 236px !default;

$footer-bg: $gray-700 !default;

$footer-copyright-color: $gray-300 !default;

$footer-divider-border: $gray-300 !default;

//**************************************************//

// Form & Inputs

//**************************************************//

$input-color: $gray-500 !default;

$input-placeholder-color: $gray-400 !default;

$input-border: $gray-300 !default;

$input-border-radius: $border-radius-base !default;

$input-border-focus: $link !default;

$input-height: 48px !default;

$input-bg: $white !default;

$input-bg-disabled: $gray-050 !default;

$input-bg-active: $white !default;

$input-bg-highlight: $yellow-100 !default;

$input-color-disabled: $gray-200 !default;

$dropbox-bg: $gray-050 !default;

$dropbox-border: $gray-400 !default;

$form-multiselect-border: $gray-200 !default;

$input-border-error: $brand-danger !default;

$input-color-error: $brand-danger !default;

$input-unchecked-bg: $white !default;

$checkbox-size: $icon-size !default;

$checkbox-selected: $primary !default;

$checkbox-exclude: $brand-danger !default;

$checkbox-success: $brand-success !default;

$radio-selected: $primary !default;

$radio-selected-accent: $white !default;

// Datepicker

$datepicker-bg: $gray-050 !default;

$datepicker-border: $gray-050 !default;

$datepicker-color: $gray-800 !default;

$datepicker-day-size: 40px;

$datepicker-disabled: $gray-200 !default;

$datepicker-selection-bg: $orange-400 !default;

$datepicker-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) !default;

$datepicker-width: 320px !default;

// START OF DEPRECATED DATEPICKER STYLES

$datepicker-btn-color: $gray-800 !default;

$datepicker-btn-bg: $white !default;

$datepicker-btn-border: $white !default;

// END OF DEPRECATED DATEPICKER STYLES

// Timepicker

$timepicker-width: 160px;

$timepicker-max-height: 210px;

$timepicker-hover: $gray-050 !default;

$timepicker-color: $gray-400 !default;

// Search Input

$search-toggle-btn-width: 52px !default;

//**************************************************//

// Form states and alerts

//**************************************************//

$state-danger-text: $brand-danger !default;

$state-danger-bg: $brand-danger !default;

$state-danger-border: $brand-danger-dark !default;

$state-info-text: $brand-info !default;

$state-info-bg: $brand-info !default;

$state-info-border: $blue-700 !default;

$banner-message-height: 40px !default;

$banner-message-ribbon-height: 48px !default;

$banner-message-color: $gray-500 !default;

//**************************************************//

// Filter dropdown

//**************************************************//

$filter-dropdown-bg: $input-bg !default;

$filter-dropdown-border: $input-border !default;

$filter-dropdown-border-radius: $input-border-radius !default;

$filter-dropdown-open-bg: $white !default;

$filter-dropdown-open-border: $input-border-focus !default;

$filter-dropdown-open-color: $input-color !default;

$filter-dropdown-toggle-color: $gray-800 !default;

$filter-dropdown-toggle-open-color: $gray-300 !default;

//**************************************************//

// Grid

//**************************************************//

// Point at which the navbar becomes uncollapsed

$grid-float-breakpoint: $screen-md-min !default;

$grid-border: $gray-300 !default;

$grid-th-border: $gray-200 !default;

$grid-th-color: $gray-900 !default;

$icon-column-width: 64px;

$select-everything-height: 48px;

$select-everything-text-spacing: 0;

//**************************************************//

// Header

//**************************************************//

$header-height-lg: 96px;

$header-height-xs: 64px;

$header-z-index: 1000 !default;

//**************************************************//

// Modals

//**************************************************//

$modal-z-index: 1050 !default;

$modal-md: 620px !default;

$modal-sm: 290px !default;

$modal-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !default;

// Modal Progress

$modal-progress-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s !default;

$modal-progress-zindex: 1050 !default;

$modal-progress-color: $white !default;

$modal-progress-backdrop-bg: rgba(0, 0, 0, 0.5) !default;

//**************************************************//

// Navbar

//**************************************************//

$navbar-height-sm: 64px !default;

$navbar-height: 80px !default;

$navbar-border-radius: 0 !default;

$navbar-icon-spacing: 8px !default;

$navbar-icon-title-spacing: 12px !default;

$navbar-foreground-fill: $gray-400 !default;

// Navbar default

$navbar-default-color: $gray-300 !default;

$navbar-default-bg: $gray-800 !default;

$navbar-default-border: $gray-900 !default;

$navbar-default-link-color: $gray-300 !default;

$navbar-default-link-hover-color: $white !default;

$navbar-default-link-hover-bg: transparent !default;

$navbar-default-link-active-color: $navbar-default-link-hover-color !default;

$navbar-default-link-active-bg: $gray-800 !default;

$navbar-default-brand-color: $gray-050 !default;

$navbar-default-brand-hover-color: $white !default;

$navbar-default-toggle-hover-bg: $gray-800 !default;

$navbar-default-toggle-icon-bar-bg: $white !default;

$navbar-default-toggle-border-color: $gray-800 !default;

// Navbar inverse

$navbar-inverse-color: $gray-800 !default;

$navbar-inverse-bg: $white !default;

$navbar-inverse-border: $gray-900 !default;

$navbar-inverse-link-color: $gray-300 !default;

$navbar-inverse-link-active-bg: $gray-900 !default;

$navbar-inverse-brand-color: $gray-050 !default;

$navbar-inverse-segment-color-dark: $gray-500 !default;

$navbar-inverse-toggle-hover-bg: $gray-800 !default;

$navbar-inverse-toggle-border-color: $gray-800 !default;

// Navbar Segments

$nav-segment-height: 48px !default;

$nav-segment-active-bg: $white;

$nav-segment-active-color: $white;

$nav-segment-active-text: $gray-800;

$nav-segment-color-light: $gray-100 !default;

$nav-segment-color-dark: $gray-100 !default;

$nav-segment-active-color-dark: $gray-800 !default;

//**************************************************//

// Pagination

//**************************************************//

$pagination-height: 48px !default;

$pagination-color: $gray-500 !default;

$pagination-border: $gray-200 !default;

$pagination-hover-color: $gray-500 !default;

$pagination-hover-bg: $gray-050 !default;

$pagination-hover-border: $gray-200 !default;

$pagination-active-color: $white !default;

$pagination-disabled-color: $gray-200 !default;

$pagination-active-bg: $gray-100 !default;

//**************************************************//

// Progress Bars

//**************************************************//

$progress-bg: $gray-900 !default;

$progress-light-bg: $gray-200 !default;

//**************************************************//

// Tables

//**************************************************//

$table-bg-hover: $gray-050 !default;

$table-bg-stripe: $white !default;

$table-bg-selected: $orange-000 !default;

$table-border-color: $gray-300 !default;

//**************************************************//

// Sidebar

//**************************************************//

$sidebar-bg: $gray-700 !default;

$sidebar-width: 320px;

$sidebar-row-border: $gray-400 !default;

$sidebar-row-height: 64px;

//**************************************************//

// Toast

//**************************************************//

$toast-height: 56px !default;

$toast-height-sm: 48px !default;

$toast-action-icon-size: $icon-size-xs !default;

$toast-color-dark: $gray-800 !default;

//**************************************************//

// Filter Pills

//**************************************************//

$pill-height: 48px;

$pill-border-radius: 999px;

$pill-height: 32px;

$pill-bg: $gray-050 !default;

$pill-bg-dark: $gray-200 !default;

//**************************************************//

// Maps

//**************************************************//

$map-size: 428px !default;

$map-control-btn-size: 40px !default;

$map-control-shadow: 0 1px 3px rgba(0, 0, 0, 0.48) !default;

$map-popup-border-radius: 4px !default;

$map-popup-shadow: 0 1px 3px rgba(0, 0, 0, 0.32) !default;

//**************************************************//

// Notifications

//**************************************************//

$notification-total-bg: $orange-500;

$notification-total-text: $gray-900;

$notification-bubble-size: 14px;

$notification-bubble-radius: $notification-bubble-size;

//**************************************************//

// Tags

//**************************************************//

$input-tag-spacing: 8px;

$tag-padding: 4px math.div($padding, 2);

$tag-bg: $gray-800;

$tag-color: $white;

$tag-remove-color: $gray-400 !default;

$tag-input-bg: $gray-500 !default;

//**************************************************//

// Slideout Filter

//**************************************************//

$slideout-filter-header-height: 56px;

$slideout-filter-header-bg: $gray-000 !default;

$slideout-filter-header-border: $gray-200 !default;

$slideout-filter-width: 288px;

$slideout-filter-category-height: 48px;

$slideout-filter-category-border: $gray-050 !default;

//**************************************************//

// Multiselect

//**************************************************//

$multiselect-focus-shadow: rgba(0, 0, 0, 0.075);

$multiselect-focus-shadow-error: #f2a29c;

$multiselect-autocomplete-bg: $gray-050 !default;

$multiselect-selection-bg: $gray-500 !default;

//**************************************************//

// Wizard

//**************************************************//

$wizard-incomplete: $gray-200;

$wizard-progress: $brand-primary;

$wizard-error: $brand-danger;

$wizard-progress-fill: $white;

$wizard-icon-sm: 42px;

$wizard-icon-lg: 48px;

$wizard-icon-border-sm: 6px;

$wizard-icon-border-lg: 8px;

//**************************************************//

// Tabs

//**************************************************//

$tab-txt-color: $gray-400;

$tab-txt-input-color: $gray-900;

$tab-base-color: $gray-100;

$tab-active-color: $white;

$tab-accent-color: $blue-400;

$tab-name-hover-fade: rgba($gray-100, 0);

$tab-name-active-fade: rgba(255, 255, 255, 0);

$tab-max-width: 30ch;

$tab-min-width: 68px;

//**************************************************//

// Decorators

//**************************************************//

$count-overlay-size: $line-height-base * $font-size-base !default;

//**************************************************//

// Popup

//**************************************************//

$popup-bg-color: $white;

$popup-width: 300px !default;

$popup-width-sm: 250px !default;

$popup-max-height: 350px;

$popup-max-width: 300px !default;

$popup-max-width-lg: 500px !default;

$popup-max-width-md: 350px !default;

$popup-max-width-sm: 250px !default;

$popup-min-width: 100px !default;

$popup-shadow: 0 2px 5px rgba(0, 0, 0, 0.4) !default;

$popup-border: rgba(0, 0, 0, 0.15) !default;

//**************************************************//

// Tray

//**************************************************//

$tray-border-color: $gray-200 !default;

$tray-content-max-height: 350px !default;

$tray-header-bg: $gray-050 !default;

$tray-item-description-color: $gray-400 !default;

$tray-item-description-font-size: math.div($font-size-base, 1.2) !default;

$tray-footer-bg: $gray-050 !default;

//**************************************************//

// Notification

//**************************************************//

$notification-icon-size: 32px !default;

$notification-icon-hide-size: 12px !default;

$notification-min-height: 56px !default;

//**************************************************//

// Twoway Message

//**************************************************//

$twoway-total-bg: $orange-500;

$twoway-total-text: $gray-900;

$twoway-bubble-size: 15px;

$twoway-bubble-radius: $notification-bubble-size;
