.introduction-content {
    min-height: 85%;
    position: relative;
    color:white;
    margin: auto;
    width: 75%;
    text-align: left;
}

.introduction-text {
    max-width: 575px;
}

.introduction-title {
    font: 72px/1 Garamond,Georgia,"Times New Roman",Times,serif;
    margin-bottom: 50px;
}

.introduction-body {
    max-width: 500px;
    font-size: 21px;
    font-family: system-ui;
}

.introduction-container {
    margin-top: 75px;
    padding-top: 190px;
    padding-bottom: 100px;
    width: 100%;
    height: 80%;
    background-size: 100% 100% !important;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    text-align: center;
    position: absolute;
}