<ik-header [title]="'Create Gurdian'"
  ><ik-header-back (back)="onCancelClick()"></ik-header-back>
  <button
    class="btn btn-primary btn-flat btn-size btn-header-right"
    [disabled]="loading"
    (click)="onExistingUserClick()"
  >
    <ik-icon [icon]="existingUserIcon" classOverride="btn-icon"></ik-icon>
    Existing User?
  </button>
</ik-header>

<app-gurdian-form
  *ngIf="!loading; else loader"
  [disableSave]="disableSave"
  rightActionButton="Save Gurdian"
  leftActionButton="Cancel"
  (cancel)="onCancelClick()"
  (save)="onSaveClick($event)"
>
</app-gurdian-form>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
