<ik-header title="Junior Church Workers">
  <button
    *featureAccess="[Application.JUNIOR_CHURCH, Feature.WORKERS, Access.CREATE]"
    (click)="onNewWorker()"
    class="btn btn-primary btn-flat btn-header-right"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    Add Worker
  </button>
  <button
    (click)="onSendMassEmail()"
    class="btn btn-warning btn-flat btn-header-right"
    [disabled]="emailButtonLoading"
  >
    <ik-icon icon="paper-plane" classOverride="btn-icon"></ik-icon>
    Send Email
  </button>
</ik-header>
<ik-grid [dataLoader]="dataloader" (rowClick)="onRowClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Email" field="email"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Workers" [pageSize]="10"></ik-grid-pager>
</ik-grid>
