<ik-header title="Junior Church Workers">
  <button
    *featureAccess="[Application.JUNIOR_CHURCH, FeatureType.WORKERS, Access.CREATE]"
    (click)="openWorkerModal()"
    class="btn btn-primary header-button"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    Add Workers
  </button>
  <button
    *featureAccess="[Application.JUNIOR_CHURCH, FeatureType.WORKERS, Access.CREATE]"
    (click)="onSendMassEmail()"
    class="btn btn-warning header-button"
    [disabled]="emailButtonLoading"
  >
    <ik-icon *ngIf="!emailButtonLoading; else emailLoader" icon="paper-plane" classOverride="btn-icon"></ik-icon>
    Send Email

    <ng-template #emailLoader>
      <ik-icon icon="spinner" classOverride="btn-icon" [spin]="true"></ik-icon>
    </ng-template>
  </button>
</ik-header>
<ik-grid preferenceKey="juniorChurchWorkers" [dataLoader]="dataloader">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Email" field="email"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager pageSize="15" key="Workers"></ik-grid-pager>
</ik-grid>

<ik-modal #addWorkersModal name="userToGuardianModal">
  <ik-modal-header title="Add New Workers?" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else modalLoader">
    <ik-modal-body>
      <form *ngIf="form" [formGroup]="form">
        <ik-form-field header="Role" [padding]="false">
          <ik-single-select formControlName="type" [items]="workerTypes"></ik-single-select>
        </ik-form-field>
        <ik-form-field header="Workers" [padding]="false">
          <ik-multi-select formControlName="workers" [items]="nonJuniorChurchWorkers"></ik-multi-select>
        </ik-form-field>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button actionBarLeft class="btn btn-default btn-modal" (click)="addWorkersModal.close()">Cancel</button>
      <button
        actionBarRight
        class="btn btn-primary btn-modal"
        (click)="onAddWorkers()"
        [disabled]="form && form.invalid"
      >
        Add Workers
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading></ik-loading>
</ng-template>
