<ik-header title="Junior Church Check In">
  <button
    *featureAccess="[Application.JUNIOR_CHURCH, FeatureType.CHECK_IN_OVERVIEW, Access.CREATE]"
    (click)="onNewAttendanceRecord()"
    class="btn btn-primary header-button"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    New Attendance
  </button>
</ik-header>

<app-attendance-record-grid
  preferenceKey="juniorChurchAttendanceRecordGrid"
  [dataloader]="dataloader"
  [downloadEnabled]="true"
  (rowClick)="onRowClick($event)"
  (downloadClick)="juniorChurchScheduleDownloadModal.open()"
></app-attendance-record-grid>

<app-attendance-schedule-download-modal
  #juniorChurchScheduleDownloadModal
  [type]="ChurchGroup.JUNIOR_CHURCH"
></app-attendance-schedule-download-modal>
