<ik-header title="Junior Church Check In">
  <button
    *webRoleRestrictionAccess="WebRole.JUNIOR_CHURCH_DIRECTOR"
    (click)="onNewAttendanceRecord()"
    class="btn btn-primary btn-flat btn-header-right"
  >
    <ik-icon icon="circle-plus" classOverride="btn-icon"></ik-icon>
    New Attendance
  </button>
</ik-header>
<ik-grid [dataLoader]="dataloader" (rowClick)="onRowClick($event)">
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="name"></ik-grid-column>
  <ik-grid-column label="Status" field="status"></ik-grid-column>
  <ik-grid-column label="Active Date" field="activeDate"></ik-grid-column>
  <ik-grid-pager key="Records" [pageSize]="25"></ik-grid-pager>
</ik-grid>
